Repository hmcts/ccd-data-store-api, pull requests merged in 2019-04, with the labels that each got.

#419 added caching for getVersion and fixed name of the TTL app param
  charts/ccd-data-store-api/values.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CaseTypeDefinitionVersion.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/resources/integration_tests.properties
Labels: ns:ccd-data-store-api-pr-419, performance

#438 Change idam_api_url to SIDAM
  infrastructure/sprod.tfvars
Labels: ns:ccd-data-store-api-pr-438

#445 SIDAM idam_api_url
  infrastructure/demo.tfvars
Labels: ns:ccd-data-store-api-pr-445

#400 RDM-4030 - cache IDAM user full name
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/user/CachedUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/IDAMProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/IdamUser.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FixedListItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperation.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/CachedUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
Labels: ns:ccd-data-store-api-pr-400

#430 RDM-3515 Alter code that discloses the callback url
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
Labels: ns:ccd-data-store-api-pr-430

#416 RDM 4372 Fix for error when complex type contains collections
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
Labels: ns:ccd-data-store-api-pr-416

#431 Rdm 4446
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpointTest.java
Labels: ns:ccd-data-store-api-pr-431

#449 RPE-1005 Fix AKS AAT
  README.md
  charts/ccd-data-store-api/requirements.lock
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.template.yaml
  charts/ccd-data-store-api/values.yaml
  docker-compose.yml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd-data-store-api-pr-449

#451 Switch Demo
  infrastructure/demo.tfvars
Labels: ns:ccd-data-store-api-pr-451

#456 Fix OWASP issue
  build.gradle
Labels: ns:ccd-data-store-api-pr-456

#418 Add externalId index for CMC
  dependency-check-suppressions.xml
  src/main/resources/db/changelog/db.changelog-RDM-4396.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-418, performance

#420 RDM-4369: Support reserved characters in userId email address
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/resources/mappings/user1-profile.json
Labels: checkpoint, ns:ccd-data-store-api-pr-420

#284 RDM-3325: White space validation rules applied on text fields
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseTypeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/TextValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/sanitiser/TextSanitiser.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/TextValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/sanitiser/TextSanitiserTest.java
Labels: enhancement, ns:ccd-data-store-api-pr-284

#376 Rdm 3897- Retrieve all the case data
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/CaseDataContent.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallback.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallbackTest.java
Labels: ns:ccd-data-store-api-pr-376

#458 RDM-4610: CVE-2019-0232 fix
  build.gradle
  infrastructure/main.tf
Labels: checkpoint, ns:ccd-data-store-api-pr-458

#459 Revert "RDM-3325: White space validation rules applied on text fields"
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseTypeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/TextValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/sanitiser/TextSanitiser.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/TextValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/sanitiser/TextSanitiserTest.java
Labels: ns:ccd-data-store-api-pr-459

#460 increased default callback timeout from 15sec to 60 sec
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-460

#452 RDM-4542: Use lowercase email for User Profile retrieval
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/resources/mappings/user1-profile.json
Labels: checkpoint, ns:ccd-data-store-api-pr-452

#463 fix docker health checker
  Dockerfile
Labels: ns:ccd-data-store-api-pr-463

#457 RDM-3460 Search and Workbasket changes to support complex fields
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchInputField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WorkbasketInputField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/Field.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindSearchInputOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindWorkbasketInputOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindSearchInputOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindWorkbasketInputOperationTest.java
Labels: ns:ccd-data-store-api-pr-457
