Repository hmcts/ccd-data-store-api, pull requests merged in 2019-05, with the labels that each got.

#427 RDM-4363 The roles defined in CaseTypeTab worksheet are applied
  README.md
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUICaseViewTest.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewTab.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractAuthorisedCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractDefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
Labels: enhancement, ns:ccd-data-store-api-pr-427

#467 Added a TF variable for setting custom webapp domain
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-467

#444 RDM-3611 - add metadata flag to case view field
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
Labels: ns:ccd-data-store-api-pr-444

#472 Revert "Lock postgresql image in Helm"
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-472

#462 RDM-4522 Implement default and custom callback retry intervals and ca…
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-462

#475 Revert "RDM-4522 Implement default and custom callback retry intervals and ca…"
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-475

#432 Rdm 4146 fix document collection validation
  src/main/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DocumentValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
Labels: ns:ccd-data-store-api-pr-432

#401 RDM-876: Hide Print button when not configured
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewType.java
Labels: enhancement, ns:ccd-data-store-api-pr-401

#481 Bump jackson-databind to v2.9.9 for CVE-2019-12086
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-481

#441 Rdm 4374 - Validate and reflect call back changes on the front end DynamicList
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/test/CaseFieldBuilder.java
Labels: ns:ccd-data-store-api-pr-441

#482 test: RDM-4797-ccd-am_integration - increase the unit test coverage
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/resources/sql/insert_case_users.sql
Labels: ns:ccd-data-store-api-pr-482
