Repository hmcts/ccd-data-store-api, pull requests merged in 2019-12, with the labels that each got.

#663 RDM-6389 : Implement functional test cases for "Grant access to case" endpoint
  src/aat/resources/features/F-045/F-045.feature
  src/aat/resources/features/F-045/F-045_Test_Data_Base.td.json
  src/aat/resources/features/F-045/S-151.td.json
  src/aat/resources/features/F-045/S-152.td.json
  src/aat/resources/features/F-045/S-153.td.json
  src/aat/resources/features/F-045/S-154.td.json
  src/aat/resources/features/F-045/S-544.td.json
  src/aat/resources/features/F-045/S-545.td.json
Labels: ns:ccd-data-store-api-pr-663

#667 RDM-6379 : Implement functional test cases for "Fetch an event trigger in the context of a case" endpoint
  src/aat/resources/features/F-028/F-028.feature
  src/aat/resources/features/F-028/F-028_Test_Data_Base.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-028/S-045.td.json
  src/aat/resources/features/F-028/S-046.td.json
  src/aat/resources/features/F-028/S-547.td.json
  src/aat/resources/features/F-028/S-548.td.json
  src/aat/resources/features/F-028/S-549.td.json
  src/aat/resources/features/F-028/S-550.td.json
Labels: ns:ccd-data-store-api-pr-667

#664 RDM-6376- Functional test cases for "fetch a case for display" endpoint
  src/aat/resources/features/F-027/F-027.feature
  src/aat/resources/features/F-027/F-027_Test_Data_Base.td.json
  src/aat/resources/features/F-027/S-034.td.json
  src/aat/resources/features/F-027/S-035.td.json
  src/aat/resources/features/F-027/S-036.td.json
  src/aat/resources/features/F-027/S-037.td.json
  src/aat/resources/features/F-027/S-038.td.json
Labels: ns:ccd-data-store-api-pr-664

#672 RDM-6557: Added the file upload functionality.
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
Labels: ns:ccd-data-store-api-pr-672

#662 RDM-6328 : Functional Tests for 'Get the pagination metadata for a case data search for Citizen' operation
  src/aat/resources/features/F-057/F-057.feature
  src/aat/resources/features/F-057/F-057_Test_Data_Base.td.json
  src/aat/resources/features/F-057/S-137.td.json
  src/aat/resources/features/F-057/S-138.td.json
  src/aat/resources/features/F-057/S-139.td.json
  src/aat/resources/features/F-057/S-140.td.json
  src/aat/resources/features/F-057/S-521.td.json
  src/aat/resources/features/F-057/S-522.td.json
Labels: ns:ccd-data-store-api-pr-662

#669 Rdm 6324 latest deployment fix
  src/aat/resources/features/F-059/F-059.feature
  src/aat/resources/features/F-059/F-059_Common_Data_In_Body.td.json
  src/aat/resources/features/F-059/F-059_Test_Data_Base.td.json
  src/aat/resources/features/F-059/S-303.td.json
  src/aat/resources/features/F-059/S-304.td.json
  src/aat/resources/features/F-059/S-305.td.json
  src/aat/resources/features/F-059/S-306.td.json
  src/aat/resources/features/F-059/S-307.td.json
Labels: ns:ccd-data-store-api-pr-669

#623 Rdm 4324 DisplayOrder required for ComplexType elements
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplex.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/DisplayContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractDefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/test/CaseFieldBuilder.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerTest.java
Labels: checkpoint, ns:ccd-data-store-api-pr-623

#651 RDM-6388 Functional tests for retrieve case by id
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-027/F-027.feature
  src/aat/resources/features/F-028/F-028.feature
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/F-035_Base_Test_Data.td.json
  src/aat/resources/features/F-035/S-155.td.json
  src/aat/resources/features/F-035/S-156.td.json
  src/aat/resources/features/F-035/S-156_Case_Creation_Data.td.json
  src/aat/resources/features/F-035/S-157.td.json
  src/aat/resources/features/F-035/S-158.td.json
  src/aat/resources/features/F-035/S-159.td.json
  src/aat/resources/features/F-045/F-045.feature
  src/aat/resources/features/common/case/Standard_Full_Case.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Creation_Data.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Data.td.json
Labels: ns:ccd-data-store-api-pr-651

#673 RDM-6380 : Implement functional test cases for "Fetch an event trigger in the context of a case type" endpoint
  src/aat/resources/features/F-027/S-038_ANY.td.json
  src/aat/resources/features/F-027/S-038_Full.td.json
  src/aat/resources/features/F-029/F-029.feature
  src/aat/resources/features/F-029/F-029_Test_Data_Base.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-029/S-050.td.json
  src/aat/resources/features/F-029/S-051.td.json
  src/aat/resources/features/F-029/S-052.td.json
  src/aat/resources/features/F-029/S-053.td.json
  src/aat/resources/features/F-029/S-551.td.json
Labels: ns:ccd-data-store-api-pr-673

#676 data-store ingressHost
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-676

#677 Rdm 6321 start case creation as citizen-FTA
  src/aat/resources/features/F-058/F-058.feature
  src/aat/resources/features/F-058/F-058_Test_Data_Base.td.json
  src/aat/resources/features/F-058/S-237.td.json
  src/aat/resources/features/F-058/S-238.td.json
  src/aat/resources/features/F-058/S-239.td.json
  src/aat/resources/features/F-058/S-240.td.json
  src/aat/resources/features/F-058/S-241.td.json
  src/aat/resources/features/F-058/S-517.td.json
  src/aat/resources/features/F-058/S-518.td.json
  src/aat/resources/features/F-058/S-519.td.json
Labels: ns:ccd-data-store-api-pr-677

#678 switch aat to aks
  Jenkinsfile_CNP
Labels: ns:ccd-data-store-api-pr-678

#636 Adding back domain validation
  src/main/java/uk/gov/hmcts/ccd/domain/types/DocumentValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
Labels: ns:ccd-data-store-api-pr-636

#670 RDM-6390 functional test for revoke access to a case
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/features/F-046/F-046.feature
  src/aat/resources/features/F-046/F-046_Base_Request_Data.td.json
  src/aat/resources/features/F-046/S-222.td.json
  src/aat/resources/features/F-046/S-223.td.json
  src/aat/resources/features/F-046/S-224.td.json
  src/aat/resources/features/F-046/S-225.td.json
Labels: ns:ccd-data-store-api-pr-670

#679 Rdm 6417 start event creation as caseworker
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/features/F-042/Case_Creation_using_Caseworker1_Role.td.json
  src/aat/resources/features/F-042/Case_Data_Body.td.json
  src/aat/resources/features/F-042/F-042.feature
  src/aat/resources/features/F-042/F-042_Test_Data_Base.td.json
  src/aat/resources/features/F-042/S-243.td.json
  src/aat/resources/features/F-042/S-244.td.json
  src/aat/resources/features/F-042/S-245.td.json
  src/aat/resources/features/F-042/S-246.td.json
  src/aat/resources/features/F-042/S-248.td.json
  src/aat/resources/features/F-042/S-249.td.json
  src/aat/resources/features/F-042/S-249_Update_Case_State.td.json
Labels: ns:ccd-data-store-api-pr-679

#691 Rdm 6320 jenkins fails
  src/aat/resources/features/F-049/S-512.td.json
  src/aat/resources/features/F-058/S-518.td.json
Labels: ns:ccd-data-store-api-pr-691

#685 RDM-6430: Implement functional test cases for "Retrieve a start event trigger by ID for dynamic display" endpoint
  src/aat/resources/features/F-066/F-066.feature
  src/aat/resources/features/F-066/F-066_Test_Data_Base.td.json
  src/aat/resources/features/F-066/S-175.td.json
  src/aat/resources/features/F-066/S-176.td.json
  src/aat/resources/features/F-066/S-177.td.json
  src/aat/resources/features/F-066/S-178.td.json
  src/aat/resources/features/F-066/S-180.td.json
  src/aat/resources/features/F-066/S-182.td.json
Labels: ns:ccd-data-store-api-pr-685

#688 initial attempt to be tested with some actual scenarios
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/exception/FunctionalTestException.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/DynamicValueInjector.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/DynamicValueInjectorTest.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/common/case/Standard_Full_Case.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Creation_Data.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Data.td.json
  src/aat/resources/features/common/case/Standard_Token_Creation_Data_For_Case_Creation.td.json
  src/aat/resources/features/common/request/header/Common_Request_Headers.td.json
  src/aat/resources/features/common/response/Common_200_Response.td.json
  src/aat/resources/features/common/response/Common_201_Response.td.json
  src/aat/resources/features/common/response/Common_Response.td.json
  src/aat/resources/features/common/response/header/Common_200_Response_Headers.td.json
  src/aat/resources/features/common/response/header/Common_201_Response_Headers.td.json
  src/aat/resources/features/common/response/header/Common_Response_Headers.td.json
  src/aat/resources/framework-test-data/features/F-000/F-000.feature
  src/aat/resources/framework-test-data/features/common/case/Standard_Full_Case.td.json
  src/aat/resources/framework-test-data/features/common/case/Standard_Full_Case_Creation_Data.td.json
  src/aat/resources/framework-test-data/features/common/case/Standard_Full_Case_Data.td.json
  src/aat/resources/framework-test-data/features/common/case/Standard_Token_Creation_Data_For_Case_Creation.td.json
  src/aat/resources/framework-test-data/field-injector-test-data/Simple-Test-Data-With-All-Possible-Dynamic-Values.td.json
  src/aat/resources/framework-test-data/field-injector-test-data/Token_Creation_Call.td.json
Labels: ns:ccd-data-store-api-pr-688

#649 Sanitise database inputs in SearchQueryFactoryOperation
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/resources/sql/insert_case_with_restricted_state.sql
  src/test/resources/sql/insert_cases.sql
Labels: ns:ccd-data-store-api-pr-649

#684 RDM-6385: functional test cases for "Get case data with UI layout"
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-026/F-026_Test_Data_Base.td.json
  src/aat/resources/features/F-026/S-074.td.json
  src/aat/resources/features/F-026/S-075.td.json
  src/aat/resources/features/F-026/S-076.td.json
  src/aat/resources/features/F-026/S-077.td.json
  src/aat/resources/features/F-026/S-078.td.json
Labels: ns:ccd-data-store-api-pr-684

#687 RDM-4324 Check is needed in case there are duplicate entries defined …
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderService.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderServiceTest.java
Labels: ns:ccd-data-store-api-pr-687

#698 updated ccd_dm_domain value with single slash
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-698

#693 RDM-6422 Functional tests for Start Event Creation as Citizen
  src/aat/resources/features/F-055/F-055.feature
  src/aat/resources/features/F-055/F-055_Base_Test_Data.td.json
  src/aat/resources/features/F-055/F-055_Case_Creation_Data.td.json
  src/aat/resources/features/F-055/S-251.td.json
  src/aat/resources/features/F-055/S-252.td.json
  src/aat/resources/features/F-055/S-253.td.json
  src/aat/resources/features/F-055/S-254.td.json
  src/aat/resources/features/F-055/S-255.td.json
  src/aat/resources/features/common/case/Citizen_Full_Case_Creation_Data.td.json
  src/aat/resources/features/common/case/Citizen_Token_Creation_Data_For_Case_Creation.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Data_Classification.td.json
Labels: ns:ccd-data-store-api-pr-693

#682 RDM-6415 functional tests for retrieve a trigger for case by case id
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  src/aat/resources/features/F-036/F-036.feature
  src/aat/resources/features/F-036/F-036_Base_Test_Data.td.json
  src/aat/resources/features/F-036/S-199.td.json
  src/aat/resources/features/F-036/S-200.td.json
  src/aat/resources/features/F-036/S-201.td.json
  src/aat/resources/features/F-036/S-202.td.json
  src/aat/resources/features/F-036/S-203.td.json
  src/aat/resources/features/F-036/S-204.td.json
  src/aat/resources/features/F-036/S-205.td.json
  src/aat/resources/features/F-036/S-206.td.json
  src/aat/resources/features/common/case/Standard_Full_Case.td.json
Labels: ns:ccd-data-store-api-pr-682

#696 RDM-6423 functional tests for submit event as citizen
  src/aat/resources/features/F-056/F-056.feature
  src/aat/resources/features/F-056/F-056_Case_Data_Base.td.json
  src/aat/resources/features/F-056/F-056_Test_Data_Base.td.json
  src/aat/resources/features/F-056/S-284.td.json
  src/aat/resources/features/F-056/S-285.td.json
  src/aat/resources/features/F-056/S-287.td.json
  src/aat/resources/features/F-056/S-288.td.json
Labels: ns:ccd-data-store-api-pr-696

#686 RDM-6408 Functional tests for Get Printable Documents
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseType.java
  src/aat/resources/features/F-032/F-032.feature
  src/aat/resources/features/F-032/F-032_Base_Test_Data.td.json
  src/aat/resources/features/F-032/F-032_Case_Creation_Data_With_Document.td.json
  src/aat/resources/features/F-032/S-124.td.json
  src/aat/resources/features/F-032/S-125.td.json
  src/aat/resources/features/F-032/S-126.td.json
  src/aat/resources/features/F-032/S-126_Superuser_Case_Creation_Data_With_Document.td.json
  src/aat/resources/features/F-032/S-127.td.json
  src/aat/resources/features/F-032/S-128.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Data_With_Document.td.json
Labels: ns:ccd-data-store-api-pr-686

#699 RDM-6385: functional test cases for "Get case data with UI layout"
  src/aat/resources/CCD_BEFTA_JURISDICTION1.xlsx
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-026/F-026_Test_Data_Base.td.json
  src/aat/resources/features/F-026/S-077.td.json
  src/aat/resources/features/F-026/S-078.td.json
Labels: ns:ccd-data-store-api-pr-699

#680 RDM-6374 : Implement functional test cases for "Create Event V2" endpoint
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-037/F-037_Test_Data_Base.td.json
  src/aat/resources/features/F-037/S-022.td.json
  src/aat/resources/features/F-037/S-023.td.json
  src/aat/resources/features/F-037/S-024-Prerequisite.td.json
  src/aat/resources/features/F-037/S-024.td.json
  src/aat/resources/features/F-037/S-025.td.json
  src/aat/resources/features/F-037/S-026.td.json
  src/aat/resources/features/F-037/S-027.td.json
Labels: ns:ccd-data-store-api-pr-680

#692 RDM-6429: Data Store Api : Retrieve a case by ID for dynamic display
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-065/F-065_Test_Data_Base.td.json
  src/aat/resources/features/F-065/S-160.td.json
  src/aat/resources/features/F-065/S-161.td.json
  src/aat/resources/features/F-065/S-161_Case_Creation_Data.td.json
  src/aat/resources/features/F-065/S-162.td.json
  src/aat/resources/features/F-065/S-163.td.json
  src/aat/resources/features/F-065/S-164-Prerequisite.td.json
  src/aat/resources/features/F-065/S-164-Prerequisite_Case_Update.json
  src/aat/resources/features/F-065/S-164.td.json
  src/aat/resources/features/F-065/S-165.td.json
Labels: ns:ccd-data-store-api-pr-692

#697 Rdm 6428 retrieve workbasket input details for dynamic display operation
  src/aat/resources/features/F-064/F-064.feature
  src/aat/resources/features/F-064/F-064_Test_Data_Base.td.json
  src/aat/resources/features/F-064/S-217.td.json
  src/aat/resources/features/F-064/S-218.td.json
  src/aat/resources/features/F-064/S-547.td.json
  src/aat/resources/features/F-064/S-548.td.json
  src/aat/resources/features/F-064/S-549.td.json
Labels: ns:ccd-data-store-api-pr-697

#694 RDM-6322-Submit case creation as Citizen' operation
  src/aat/resources/features/F-053/F-053-Prerequisite.td.json
  src/aat/resources/features/F-053/F-053.feature
  src/aat/resources/features/F-053/F-053_Test_Data_Base.td.json
  src/aat/resources/features/F-053/S-267.td.json
  src/aat/resources/features/F-053/S-268.td.json
  src/aat/resources/features/F-053/S-269.td.json
  src/aat/resources/features/F-053/S-271.td.json
  src/aat/resources/features/F-053/S-272.td.json
  src/aat/resources/features/F-053/S-550.td.json
  src/aat/resources/features/F-053/S-551.td.json
  src/aat/resources/features/F-053/S-552.td.json
  src/aat/resources/features/F-053/S-553.td.json
Labels: ns:ccd-data-store-api-pr-694

#671 Rdm 6632 Get Jurisdictions for User
  src/aat/resources/CCD_BEFTA_JURISDICTION1.xlsx
  src/aat/resources/features/F-102/F-102.feature
  src/aat/resources/features/F-102/F-102_Test_Data_Base.td.json
  src/aat/resources/features/F-102/S-533.td.json
  src/aat/resources/features/F-102/S-535.td.json
  src/aat/resources/features/F-102/S-536.td.json
  src/aat/resources/features/F-102/S-559.td.json
Labels: ns:ccd-data-store-api-pr-671

#700 RDM-6420 : Implement functional test cases for "Submit event creation as Case worker" endpoint
  src/aat/resources/features/F-044/F-044-Prerequisite.json
  src/aat/resources/features/F-044/F-044-Prerequisite_CaseUpdate.json
  src/aat/resources/features/F-044/F-044.feature
  src/aat/resources/features/F-044/F-044_Test_Data_Base.td.json
  src/aat/resources/features/F-044/S-277.td.json
  src/aat/resources/features/F-044/S-278.td.json
  src/aat/resources/features/F-044/S-279.td.json
  src/aat/resources/features/F-044/S-280.td.json
  src/aat/resources/features/F-044/S-281.td.json
  src/aat/resources/features/F-044/S-282.td.json
  src/aat/resources/features/F-044/S-283.td.json
  src/aat/resources/features/F-044/S-560.td.json
Labels: ns:ccd-data-store-api-pr-700

#705 disable ASE deployment on prod
  Jenkinsfile_CNP
Labels: ns:ccd-data-store-api-pr-705

#704 RDM-6427 Functional tests for Retrieve search input details for dynamic display
  src/aat/resources/features/F-063/F-063.feature
  src/aat/resources/features/F-063/F-063_Base_Test_Data.td.json
  src/aat/resources/features/F-063/S-213.td.json
  src/aat/resources/features/F-063/S-214.td.json
  src/aat/resources/features/F-063/S-215.td.json
  src/aat/resources/features/F-063/S-561.td.json
Labels: ns:ccd-data-store-api-pr-704

#701 RDM-6887 Remove duplicate display context from data store endpoint
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageField.java
Labels: ns:ccd-data-store-api-pr-701

#707 RDM-6384 : Implement functional test cases for "Get case data for a given case type for Citizen" endpoint
  src/aat/resources/features/F-052/F-052.feature
  src/aat/resources/features/F-052/F-052_Case_Creation_Citizen_Role.td.json
  src/aat/resources/features/F-052/F-052_Test_Data_Base.td.json
  src/aat/resources/features/F-052/S-069.td.json
  src/aat/resources/features/F-052/S-070.td.json
  src/aat/resources/features/F-052/S-071.td.json
  src/aat/resources/features/F-052/S-072.td.json
Labels: ns:ccd-data-store-api-pr-707

#695 RDM-2714: tech debt - migrate state override in callback.
  src/main/java/uk/gov/hmcts/ccd/domain/model/callbacks/CallbackResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-695
