Repository hmcts/ccd-data-store-api, pull requests merged in 2019-02, with the labels that each got.

#338 Enable Helm charts
  Dockerfile
  Jenkinsfile_CNP
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.lock
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.template.yaml
Labels: ns:ccd-data-store-api-pr-338

#372 added JSONB indexes on some fields to fix prod high db cpu issue
  src/main/resources/db/changelog/db.changelog-RDM-3922-part-2.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-372

#373 Get swagger docs building
  build.gradle
Labels: ns:ccd-data-store-api-pr-373

#371 RDM-3989 - Enabled Elasticsearch nodes discovery for Jest client
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/ElasticSearchConfiguration.java
  src/main/resources/application.properties
Labels: ns:ccd-data-store-api-pr-371

#287 RDM-3262 - secure cross case type search results
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurity.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurityTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointTest.java
Labels: ns:ccd-data-store-api-pr-287

#375 Align Dockerfiles
  Dockerfile
  hub.Dockerfile
Labels: ns:ccd-data-store-api-pr-375

#347 RDM-3327 Extend definition file to support new ComplexType to Events Mapping
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageField.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerTest.java
Labels: ns:ccd-data-store-api-pr-347

#311 RDM-3487 - Cross-case type search: Limit results to select aliases
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/config/JacksonObjectMapperConfig.java
  src/main/java/uk/gov/hmcts/ccd/config/JaywayJsonPathConfigHelper.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchAliasField.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultObjectMapperService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/ObjectMapperService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/JsonPathExtension.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultObjectMapperServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperationTest.java
Labels: ns:ccd-data-store-api-pr-311

#341 RDM-3488 - ES Cross case type functional test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/BaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseType.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchBaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchCrossCaseTypeSearchSecurityTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchCrossCaseTypeSearchTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchSearchRequest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/TestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/elastic/ElasticsearchTestDataLoaderExtension.java
  src/aat/resources/CCD_CNP_27.xlsx
  src/aat/resources/CCD_CNP_27_AUTOTEST1.xlsx
  src/aat/resources/CCD_CNP_27_AUTOTEST2.xlsx
Labels: ns:ccd-data-store-api-pr-341

#381 Add index for {subscriptions,appellantSubscription,tya}
  src/main/resources/db/changelog/db.changelog-RDM-4060-part-1.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-381

#382 Bump checkstyle from 8.12 to 8.18
  build.gradle
Labels: ns:ccd-data-store-api-pr-382
