Repository hmcts/ccd-data-store-api, pull requests merged in 2019-06, with the labels that each got.

#483 RDM-4064 - fix broken swagger docs
  .env
Labels: ns:ccd-data-store-api-pr-483

#477 Rdm 4336 Implement and consume external POST Create Event endpoint in API v2
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseBuilder.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/CCDEventBuilder.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/CCDHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateEventTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseValidatorTest.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/EventTriggerService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/StartTriggerController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseResource.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTest.java
  src/test/resources/mappings/bookcase-definition-default-post-state.json
  src/test/resources/mappings/bookcase-definition-default-pre-state.json
  src/test/resources/sql/insert_cases.sql
Labels: checkpoint, ns:ccd-data-store-api-pr-477

#485 removed no longer needed INFO logging
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
Labels: ns:ccd-data-store-api-pr-485

#394 Rdm 2523 sql injection fix
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SortDirection.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SortDirectionTest.java
Labels: ns:ccd-data-store-api-pr-394

#484 RDM-4345 - add retry for ES index verification
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/elastic/ElasticsearchTestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/util/TestUtils.java
Labels: ns:ccd-data-store-api-pr-484

#486 RDM-4970 - BTREE index for subscriptions.appellantSubscription.email
  src/main/resources/db/changelog/db.changelog-RDM-4970.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-486

#466 RDM-4509 Create Result View based on caseFieldPath
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultField.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchResultUtil.java
Labels: ns:ccd-data-store-api-pr-466

#464 RDM-4636 - sort search results for divorce by lat modified date
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaData.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointTest.java
Labels: ns:ccd-data-store-api-pr-464

#488 RDM-4636 - add AuthorisationComplexType tab to functional test defini…
  src/aat/resources/CCD_CNP_27_AUTOTEST1.xlsx
  src/aat/resources/CCD_CNP_27_AUTOTEST2.xlsx
Labels: ns:ccd-data-store-api-pr-488

#487 RDM-4525 BE to propagate the display_order to FE
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FixedListItem.java
Labels: checkpoint, ns:ccd-data-store-api-pr-487
