Repository hmcts/ccd-data-store-api, pull requests merged in 2019-10, with the labels that each got.

#564 enabling aks
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-564

#567 moved test environment variables a level up so that they are available for AKS testing
  Jenkinsfile_CNP
Labels: ns:ccd-data-store-api-pr-567

#569 Revert "Rdm 4522 full solution (#503)" NOTE: CVE suppression is kept
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/retrycontext/CallbackRetryContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/retrycontext/CallbackRetryContextBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallback.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceLocalE2ELoadTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/retrycontext/CallbackRetryContextBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-569

#570 added app-insights key config.
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd-data-store-api-pr-570

#571 aligning authorised services on AKS with the one on ASE
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-571

#574 Disabling Hazelcast Phone Homes for security purposes
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
Labels: ns:ccd-data-store-api-pr-574

#572 Pool size & Replica config
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-572

#548 Document links detection / restore program
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DataClassificationRestoreService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DocLinksDetectionService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DocLinksRestoreService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DockLinkUtil.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/DocLinksRestoreEndpoint.java
Labels: ns:ccd-data-store-api-pr-548

#580 RDM-6031 - added xui_webapp to the list of data-store s2s authorised services
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-580

#588 helm chart apiVersion: v1
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd-data-store-api-pr-588
