Repository hmcts/ccd-data-store-api, pull requests merged in 2019-09, with the labels that each got.

#521 RDM-5143 remove ElasticSearchHealthIndicator
  src/main/java/uk/gov/hmcts/ccd/health/ElasticSearchHealthIndicator.java
  src/test/java/uk/gov/hmcts/ccd/health/ElasticSearchHealthIndicatorTest.java
Labels: ns:ccd-data-store-api-pr-521

#545 RDM-5784: One dependency in ccd-data-store-api has been declared as u…
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-545

#542 RDM-5545 Minimal solution that disables callback retries.
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: bug, ns:ccd-data-store-api-pr-542

#529 RDM-5650 - remove duplicate search criteria (JPA)
  charts/ccd-data-store-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/resources/application.properties
Labels: ns:ccd-data-store-api-pr-529

#559 RDM-5913: fix outdated docker image url
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-559

#562 Improve Data Store infra files - New PR
  Dockerfile
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  hub.Dockerfile
  infrastructure/main.tf
  lib/applicationinsights-agent-2.3.1-SNAPSHOT.jar
  lib/applicationinsights-agent-2.4.1.jar
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:ccd-data-store-api-pr-562
