Repository hmcts/ccd-data-store-api, pull requests merged in 2019-03, with the labels that each got.

#386 Update SAAT to Tidam
  infrastructure/saat.tfvars
Labels: ns:ccd-data-store-api-pr-386

#384 RDM-4009 Get search inputs V2
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIDefinitionTest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedFindSearchInputOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/ClassifiedFindSearchInputOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindSearchInputOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/FindSearchInputOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedFindSearchInputOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/ClassifiedFindSearchInputOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultFindSearchInputOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UIWorkbasketInputsResourceTest.java
Labels: checkpoint, ns:ccd-data-store-api-pr-384

#385 [PREVIEW] Remove Remote Terraform
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-385

#387 Allow scaling of database
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-387

#389 [PREVIEW] Increase capacity of webapp to 4
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
Labels: ns:ccd-data-store-api-pr-389

#393 Revert "Update SAAT to Tidam"
  infrastructure/saat.tfvars
Labels: ns:ccd-data-store-api-pr-393

#383 Rdm 4109 BE changes to allow: Management web consuming the new payment history base type
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTabCollection.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractDefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
Labels: checkpoint, ns:ccd-data-store-api-pr-383

#388 RDM-4060 - Data store - get case V2 api improvement
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/UserRole.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/resources/mappings/user2-role.json
  src/test/resources/mappings/user3-role.json
  src/test/resources/mappings/user4-role.json
Labels: ns:ccd-data-store-api-pr-388

#404 temporarily disabling failing test to unblock the pipeline
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseType.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepositoryWireMockNotRunningTest.java
Labels: ns:ccd-data-store-api-pr-404

#403 Remove unneeded trackDependency
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
Labels: ns:ccd-data-store-api-pr-403

#405 Use standard loglevel for ccd.domain.service
  src/main/resources/application.properties
Labels: ns:ccd-data-store-api-pr-405

#407 Treat empty string as null for security classifications
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationUtils.java
Labels: ns:ccd-data-store-api-pr-407

#402 RDM-4316 fix broken callback retry mechanism
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: enhancement, ns:ccd-data-store-api-pr-402

#408 RDM-4358: moved test from integration to unit test to avoid hazelcast…
  src/test/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepositoryWireMockNotRunningTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryTest.java
Labels: ns:ccd-data-store-api-pr-408

#417 Switch AAT to SIDAM
  infrastructure/aat.tfvars
Labels: ns:ccd-data-store-api-pr-417

#428 switching preview to look at SIDAM
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.template.yaml
  infrastructure/preview.tfvars
Labels: ns:ccd-data-store-api-pr-428
