Repository hmcts/ccd-data-store-api, pull requests merged in 2019-07, with the labels that each got.

#495 RDM-5168 Add missing getters. Add missing callback response and delet…
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseResource.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseResourceTest.java
Labels: bug, ns:ccd-data-store-api-pr-495

#496 RDM-5147 - setting MaxStatementQueryLimitInMS to default value.
  lib/AI-Agent.xml
Labels: ns:ccd-data-store-api-pr-496

#493 RDM-4824 - commit caseDetails to DB before pass to submit callback
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackTest.java
Labels: ns:ccd-data-store-api-pr-493

#478 RDM-4522 Implement default and custom callback retry intervals and callback read timeouts
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-478

#501 Revert "RDM-4522 Implement default and custom callback retry intervals and callback read timeouts"
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-501

#494 RDM-5190 Add new previousServiceCaseReference index.
  src/main/resources/db/changelog/db.changelog-RDM-5190.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: checkpoint, ns:ccd-data-store-api-pr-494

#497 RDM-5110 UNIQUE index on case external id
  src/main/resources/db/changelog/db.changelog-RDM-5110.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-497

#506 Rdm 4522 http client
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/RestTemplateProvider.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallback.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
Labels: checkpoint

#507 RDM-3551- upgraded owasp dependencycheck to 5.1.0
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-507

#508 Jackson CVE failures
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-508

#505 RDM-4864 - Add instrumentation support for CCD-AM integration Phase 1
  lib/AI-Agent.xml
Labels: ns:ccd-data-store-api-pr-505

#512 Add employment_tribunals and ethos_repl_service to authorised services
  charts/ccd-data-store-api/values.yaml
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-512

#510 Rdm 5138
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CachedCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/callbacks/EventTokenProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/EventTokenService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/main/resources/application.properties
  src/main/resources/db/changelog/db.changelog-RDM-5138.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/CachedCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
Labels: ns:ccd-data-store-api-pr-510

#514 RDM-5094 - add missing path variable
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointTest.java
Labels: ns:ccd-data-store-api-pr-514

#518 RDM-4869 AMSwitch.
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/AMSwitch.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/AMSwitchTest.java
Labels: checkpoint, ns:ccd-data-store-api-pr-518
