Repository hmcts/ccd-data-store-api, pull requests merged in 2019-08, with the labels that each got.

#516 #RDM-5118_functional_tests_for_ccd-am_integration_datastore
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/SearchCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/UpdateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/CaseTestDataLoaderExtension.java
  src/aat/resources/CCD_CNP_RDM5118.xlsx
Labels: ns:ccd-data-store-api-pr-516

#489 RDM-4068 CRUD on Complex Types
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlList.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/ComplexACL.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: enhancement, ns:ccd-data-store-api-pr-489

#526 Update variables.tf with ctsc_work_allocation
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-526

#527 RDM-4068 npe fix for complex field updates on case fields with null initial value
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlServiceTest.java
Labels: ns:ccd-data-store-api-pr-527

#520 Rdm 5545 Option to disable retires from ccd definition file.
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: checkpoint, ns:ccd-data-store-api-pr-520

#530 RDM-5664 Temporary suppression.
  dependency-check-suppressions.xml
Labels: checkpoint, ns:ccd-data-store-api-pr-530

#535 pull java chart from hmctspublic
  Dockerfile
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd-data-store-api-pr-535

#537 RDM-5638- bumped chart version
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd-data-store-api-pr-537

#540 Fix deprecation issues and use component for vault
  Jenkinsfile_CNP
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.aat.template.yaml
  infrastructure/main.tf
  infrastructure/outputs.tf
  src/main/resources/bootstrap.yaml
Labels: ns:ccd-data-store-api-pr-540

#534 Revert "Rdm 5545 Option to disable retires from ccd definition file."
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd-data-store-api-pr-534
