Repository hmcts/ccd-data-store-api, pull requests merged in 2019-11, with the labels that each got.

#547 DEVELOPMENT branch
  build.gradle
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaData.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderField.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SortOrder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/health/ElasticSearchHealthIndicator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/SearchWithSortIT.java
  src/test/java/uk/gov/hmcts/ccd/health/ElasticSearchHealthIndicatorTest.java
  src/test/resources/mappings/search-definition-1.json
  src/test/resources/mappings/workbasket-sort.json
  src/test/resources/sql/insert_search_sort_cases.sql
Labels: ns:ccd-data-store-api-pr-547

#578 RDM-6005 Change retry to only work on UUID collision
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CasePersistenceException.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/ReferenceKeyUniqueConstraintException.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
Labels: ns:ccd-data-store-api-pr-578

#591 Fix N+1 query in CreatorSearchOperation
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CreatorSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/CreatorSearchOperationTest.java
Labels: ns:ccd-data-store-api-pr-591

#599 Update dependencies to address CVEs
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-599

#553 RDM-5695-DEV: Increase timeout on ElasticSearch query
  charts/ccd-data-store-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/ElasticSearchConfiguration.java
  src/main/resources/application.properties
Labels: ns:ccd-data-store-api-pr-553

#561 Rdm 5883 Implement and consume external GET Printable Documents endpoint in API v2
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/DocumentsResource.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentControllerITest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentControllerTest.java
  src/test/resources/mappings/printables.json
Labels: checkpoint, ns:ccd-data-store-api-pr-561

#593 Rdm 6239 cucumber junit5 fw
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/BaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/CaseStepDef.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/util/CucumberHooks.java
  src/aat/resources/features/GetCase.feature
Labels: ns:ccd-data-store-api-pr-593

#612 RDM-6167 Implement DSL part 1
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/JsonStoreHttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/RequestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/ResponseData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/UserData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioHooks.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerificationResult.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerifier.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerifierTest.java
  src/aat/java/uk/gov/hmcts/ccd/fta/util/JsonUtils.java
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-051/S-110.td.json
  src/aat/resources/features/F-051/S-110a.td2.json
  src/aat/resources/features/F-051/S-110b.td.json
  src/aat/resources/features/F-051/S-110b.td2.json
  src/aat/resources/features/S-000-Base-Root.td.json
  src/aat/resources/features/S-000-Base-Success.td.json
  src/aat/resources/framework-test-data/S-000-Base-Root.td.json
  src/aat/resources/framework-test-data/S-000-Base-Success.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/HttpTestData-with-a-Big-ExpectedResponseBody_actual.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/HttpTestData-with-a-Big-ExpectedResponseBody_expected.td.json
Labels: ns:ccd-data-store-api-pr-612

#596 RDM-6111 Add new ethosCaseReference index
  src/main/resources/db/changelog/db.changelog-RDM-6111.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-data-store-api-pr-596

#618 RDM-6167 fix
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/S-000-Base-Root.td.json
  src/aat/resources/features/S-000-Base-Success.td.json
  src/aat/resources/framework-test-data/F-051/S-110.td.json
Labels: ns:ccd-data-store-api-pr-618

#622 RDM4313-specific changes applied
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-data-store-api-pr-622

#625 RDM-6596-bumped java chart version
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
Labels: ns:ccd-data-store-api-pr-625

#602 RDM-5856: Grant Access API Logic
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserControllerTest.java
Labels: ns:ccd-data-store-api-pr-602

#632 RDM-6167 Implement DSL part 1 review actions
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/ccd/fta/exception/FunctionalTestException.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioHooks.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
Labels: ns:ccd-data-store-api-pr-632

#585 Rdm 6163 preparation and initiation of test framework and harness
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/BaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/JsonStoreHttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/RequestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/ResponseData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/UserData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/exception/FunctionalTestException.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerificationResult.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerifier.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerifierTest.java
  src/aat/java/uk/gov/hmcts/ccd/fta/util/JsonUtils.java
  src/aat/java/uk/gov/hmcts/ccd/fta/util/ReflectionUtils.java
  src/aat/java/uk/gov/hmcts/ccd/fta/util/StringUtils.java
  src/aat/java/uk/gov/hmcts/jsonstore/JsonFileStoreWithInheritance.java
  src/aat/java/uk/gov/hmcts/jsonstore/JsonResourceStoreWithInheritance.java
  src/aat/java/uk/gov/hmcts/jsonstore/JsonStoreWithInheritance.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/S-000-Base-Root.td.json
  src/aat/resources/features/S-000-Base-Success.td.json
  src/aat/resources/framework-test-data/S-000-Base-Root.td.json
  src/aat/resources/framework-test-data/S-000-Base-Success.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/HttpTestData-with-a-Big-ExpectedResponseBody_actual.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/HttpTestData-with-a-Big-ExpectedResponseBody_expected.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/MapWithArray_actual.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/MapWithArray_expected.td.json
Labels: ns:ccd-data-store-api-pr-585

#619 RDM-6521 include CREATOR case role in the event trigger endpoints
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIStartTriggerResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/CaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/CaseRolesTestData.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartTriggerControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerCaseRolesIT.java
  src/test/resources/mappings/case-roles-definition.json
Labels: ns:ccd-data-store-api-pr-619

#626 RDM-6266 Implement DSL part 2 - response specification sentence
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/java/uk/gov/hmcts/ccd/fta/util/EnvUtils.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/S-000-Base-Root.td.json
Labels: ns:ccd-data-store-api-pr-626

#608 Rdm 6325 ft pagination metadata caseworker
  src/aat/resources/features/F-048/F-048.feature
  src/aat/resources/features/F-048/S-133.td.json
  src/aat/resources/features/F-048/S-134.td.json
  src/aat/resources/features/F-048/S-135.td.json
  src/aat/resources/features/F-048/S-136.td.json
  src/aat/resources/features/F-048/S-515.td.json
  src/aat/resources/features/F-048/S-516.td.json
  src/aat/resources/features/common/Base-Root.td.json
Labels: ns:ccd-data-store-api-pr-608

#639 RDM-6300 implement ft get default setting user
  src/aat/java/uk/gov/hmcts/ccd/fta/data/JsonStoreHttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/CCD_CNP_27_BEFTA.xlsx
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-107.td.json
  src/aat/resources/features/F-051/S-108.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-051/S-110.td.json
  src/aat/resources/features/common/Base-Root.td.json
  src/aat/resources/features/common/case-type/Default_Final_Case_Type_Data.td.json
  src/aat/resources/features/common/jurisdiction/Default_Final_Jurisdiction_Data.td.json
  src/aat/resources/features/common/user/Default_Final_User_Data.td.json
Labels: ns:ccd-data-store-api-pr-639

#595 RDM-6116- Revert "Document links detection / restore program"
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DataClassificationRestoreService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DocLinksDetectionService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DocLinksRestoreService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/doclink/DockLinkUtil.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/DocLinksRestoreEndpoint.java
Labels: ns:ccd-data-store-api-pr-595

#644 RDM-6266 Implement DSL part 2 - case creation sentence
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseType.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/ResponseData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000-Case.td.json
  src/aat/resources/features/S-000-Base-Root-Case.td.json
Labels: ns:ccd-data-store-api-pr-644

#650 indentation of postgress
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd-data-store-api-pr-650

#633 RDM-5533 Disable X-Powered-By header
  web.config
Labels: ns:ccd-data-store-api-pr-633

#598 Added pay processor to s2s whitelist
  charts/ccd-data-store-api/values.yaml
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-598

#659 RDM-6726 DSL Implementation part 3
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestData.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/HttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/data/JsonStoreHttpTestDataSource.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestAutomationDSL.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioContext.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/MapVerifierTest.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000-Prerequisite.td.json
  src/aat/resources/features/S-000-Base-Root.td.json
  src/aat/resources/features/S-000-Base-Success.td.json
  src/aat/resources/features/common/case/Standard_Full_Case.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/MapWithArray_actual.td.json
  src/aat/resources/framework-test-data/map-verifier-test-data/MapWithArray_expected.td.json
Labels: ns:ccd-data-store-api-pr-659

#660 RDM-6323: Functional Tests for 'Validate a set of fields as Case worker' operation
  src/aat/resources/features/F-050/F-050.feature
  src/aat/resources/features/F-050/F-050_Common_Data_In_Body.td.json
  src/aat/resources/features/F-050/F-050_Test_Data_Base.td.json
  src/aat/resources/features/F-050/S-297.td.json
  src/aat/resources/features/F-050/S-298.td.json
  src/aat/resources/features/F-050/S-299.td.json
  src/aat/resources/features/F-050/S-300.td.json
  src/aat/resources/features/F-050/S-301.td.json
Labels: ns:ccd-data-store-api-pr-660

#645 RDM-6557: Test data prepration for Functional test Automation suite.
  src/aat/java/uk/gov/hmcts/ccd/fta/steps/BackEndFunctionalTestScenarioPlayer.java
  src/aat/resources/CCD_BEFTA_JURISDICTION1.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
Labels: ns:ccd-data-store-api-pr-645

#656 RDM-6320 start case creation as case worker-BE-FAT
  src/aat/resources/features/F-049/F-049.feature
  src/aat/resources/features/F-049/F-049_Test_Data_Base.td.json
  src/aat/resources/features/F-049/S-231.td.json
  src/aat/resources/features/F-049/S-232.td.json
  src/aat/resources/features/F-049/S-233.td.json
  src/aat/resources/features/F-049/S-234.td.json
  src/aat/resources/features/F-049/S-235.td.json
  src/aat/resources/features/F-049/S-511.td.json
  src/aat/resources/features/F-049/S-512.td.json
  src/aat/resources/features/F-049/S-513.td.json
Labels: ns:ccd-data-store-api-pr-656
