Repository hmcts/ccd-data-store-api, pull requests merged in 2020-06, with the labels that each got.

#943 Added db ChnageLog for new indexes created as part of RDM-8485
  src/main/resources/db/changelog/db.changelog-RDM-8485.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-943

#963 RDM-8552 - Add last_state_modified_date to ES CaseDetails DTO
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/dto/ElasticSearchCaseDetailsDTO.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-963

#968 RDM-8344: Implement 'Get Case-Assigned Users and Roles'
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/CaseAssignedUserRole.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/AuthorisedCaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/CaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/DefaultCaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/rolevalidator/CaseAssignedUserRoleValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/rolevalidator/DefaultCaseAssignedUserRoleValidator.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CaseRoleAccessException.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseAssignedUserRolesResource.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/AuthorisedCaseAssignedUserRolesOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/DefaultCaseAssignedUserRolesOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/rolevalidator/DefaultCaseAssignedUserRoleValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseAssignedUserRolesResourceTest.java
  src/test/resources/sql/insert_case_users_valid_case_ids.sql
  src/test/resources/sql/insert_cases_with_valid_case_ids.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-968

#977 introduce use of composite keys for unordered equivalence checks
  build.gradle
  src/aat/resources/features/F-103/S-597.td.json
  src/aat/resources/features/F-103/S-598.td.json
  src/aat/resources/features/F-103/S-599.td.json
  src/aat/resources/features/F-103/S-600.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-977

#946 RDM-8382: Allow configuring an event specific default value for a com…
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-103/S-597.td.json
  src/aat/resources/features/F-103/S-598.td.json
  src/aat/resources/features/F-103/S-599.td.json
  src/aat/resources/features/F-103/S-600.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-946

#980 RDM-8764: Integration tests failing after OIDC changes on CaseAssignedUserRolesController
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-980

#967 RDM-8460 - Implement date formatting for the internal ES API response
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CommonViewHeader.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CommonViewItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumn.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/SearchResultViewHeader.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchSortService.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchSortServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/SearchWithSortIT.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-967

#960 RDM-8598 - Integration tests for external search API
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/HeaderGroupMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/SearchResultViewHeaderGroup.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchITConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESSecurityIT.java
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/resources/elasticsearch/config/index-settings.json
  src/test/resources/elasticsearch/config/mappings-aat_cases.json
  src/test/resources/elasticsearch/config/mappings-mapper_cases.json
  src/test/resources/elasticsearch/config/mappings-security_cases.json
  src/test/resources/elasticsearch/data/aat_cases/aat-case-01.json
  src/test/resources/elasticsearch/data/aat_cases/aat-case-02.json
  src/test/resources/elasticsearch/data/mapper_cases/mapper-case-01.json
  src/test/resources/elasticsearch/data/security_cases/security-case-01.json
  src/test/resources/elasticsearch/data/security_cases/security-case-02.json
  src/test/resources/elasticsearch/data/security_cases/security-case-03.json
  src/test/resources/mappings/aat-case-type.json
  src/test/resources/mappings/mapper-case-type.json
  src/test/resources/mappings/search-cases-result-fields-1.json
  src/test/resources/mappings/search-cases-result-fields-2.json
  src/test/resources/mappings/security-case-type.json
  src/test/resources/mappings/user5-role.json
  src/test/resources/mappings/user6-role.json
  src/test/resources/mappings/user7-role.json
  src/test/resources/mappings/user8-role.json
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-960

#982 Rdm 8768
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-982

#983 Correcting idam claim type
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/data/SecurityUtilsTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-983

#981 RDM-8699 - Return only requested fields when specified
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaData.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/CaseFieldPathUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/SearchResultDefinitionService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchSortService.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaDataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchResultUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/SearchResultDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-981

#978 RDM-8669: Assign a default value for a nested complex subfield
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-978

#993 RDM-8806 FTA for 'Add Case-Assigned User and Role'
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  src/aat/resources/features/F-103/S-597.td.json
  src/aat/resources/features/F-103/S-598.td.json
  src/aat/resources/features/F-103/S-599.td.json
  src/aat/resources/features/F-103/S-600.td.json
  src/aat/resources/features/F-105/F-105.feature
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_201_response.td.json
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_400_response.td.json
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_Base.td.json
  src/aat/resources/features/F-105/F-105_Get_Case_Roles_for_Case_C1_Base.td.json
  src/aat/resources/features/F-105/F-105_Get_Case_Roles_for_Case_C1_Empty_Response_Base.td.json
  src/aat/resources/features/F-105/F-105_Prerequisite_Case_Creation_Call_for_Case_Assignment.td.json
  src/aat/resources/features/F-105/F-105_Users.td.json
  src/aat/resources/features/F-105/S-105.1.td.json
  src/aat/resources/features/F-105/S-105.1.verify.td.json
  src/aat/resources/features/F-105/S-105.10.td.json
  src/aat/resources/features/F-105/S-105.11.td.json
  src/aat/resources/features/F-105/S-105.11.verify.td.json
  src/aat/resources/features/F-105/S-105.12.td.json
  src/aat/resources/features/F-105/S-105.12.verify.td.json
  src/aat/resources/features/F-105/S-105.13.td.json
  src/aat/resources/features/F-105/S-105.13.verify.td.json
  src/aat/resources/features/F-105/S-105.2.td.json
  src/aat/resources/features/F-105/S-105.2.verify.td.json
  src/aat/resources/features/F-105/S-105.3.td.json
  src/aat/resources/features/F-105/S-105.3.verify.td.json
  src/aat/resources/features/F-105/S-105.4.td.json
  src/aat/resources/features/F-105/S-105.4.verify.td.json
  src/aat/resources/features/F-105/S-105.5.td.json
  src/aat/resources/features/F-105/S-105.5.verify.td.json
  src/aat/resources/features/F-105/S-105.6.td.json
  src/aat/resources/features/F-105/S-105.6.verify.td.json
  src/aat/resources/features/F-105/S-105.7.td.json
  src/aat/resources/features/F-105/S-105.7.verify.td.json
  src/aat/resources/features/F-105/S-105.8.td.json
  src/aat/resources/features/F-105/S-105.8.verify.td.json
  src/aat/resources/features/F-105/S-105.9.td.json
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-993

#987 RDM-8606 Implement Add Case-Assigned User and Role
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  src/aat/resources/features/F-103/S-597.td.json
  src/aat/resources/features/F-103/S-598.td.json
  src/aat/resources/features/F-103/S-599.td.json
  src/aat/resources/features/F-103/S-600.td.json
  src/aat/resources/features/F-105/F-105.feature
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_201_response.td.json
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_400_response.td.json
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_Base.td.json
  src/aat/resources/features/F-105/F-105_Get_Case_Roles_for_Case_C1_Base.td.json
  src/aat/resources/features/F-105/F-105_Get_Case_Roles_for_Case_C1_Empty_Response_Base.td.json
  src/aat/resources/features/F-105/F-105_Prerequisite_Case_Creation_Call_for_Case_Assignment.td.json
  src/aat/resources/features/F-105/F-105_Users.td.json
  src/aat/resources/features/F-105/S-105.1.td.json
  src/aat/resources/features/F-105/S-105.1.verify.td.json
  src/aat/resources/features/F-105/S-105.10.td.json
  src/aat/resources/features/F-105/S-105.11.td.json
  src/aat/resources/features/F-105/S-105.11.verify.td.json
  src/aat/resources/features/F-105/S-105.12.td.json
  src/aat/resources/features/F-105/S-105.12.verify.td.json
  src/aat/resources/features/F-105/S-105.13.td.json
  src/aat/resources/features/F-105/S-105.13.verify.td.json
  src/aat/resources/features/F-105/S-105.2.td.json
  src/aat/resources/features/F-105/S-105.2.verify.td.json
  src/aat/resources/features/F-105/S-105.3.td.json
  src/aat/resources/features/F-105/S-105.3.verify.td.json
  src/aat/resources/features/F-105/S-105.4.td.json
  src/aat/resources/features/F-105/S-105.4.verify.td.json
  src/aat/resources/features/F-105/S-105.5.td.json
  src/aat/resources/features/F-105/S-105.5.verify.td.json
  src/aat/resources/features/F-105/S-105.6.td.json
  src/aat/resources/features/F-105/S-105.6.verify.td.json
  src/aat/resources/features/F-105/S-105.7.td.json
  src/aat/resources/features/F-105/S-105.7.verify.td.json
  src/aat/resources/features/F-105/S-105.8.td.json
  src/aat/resources/features/F-105/S-105.8.verify.td.json
  src/aat/resources/features/F-105/S-105.9.td.json
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/AuthorisedCaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/CaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/DefaultCaseAssignedUserRolesOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/domain/AddCaseAssignedUserRolesResponse.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseAssignedUserRolesResource.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/data/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/AuthorisedCaseAssignedUserRolesOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/DefaultCaseAssignedUserRolesOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseAssignedUserRolesResourceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-987

#998 upgrade fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-998
