Repository hmcts/ccd-data-store-api, pull requests merged in 2020-11, with the labels that each got.

#1131 Rdm 9551 tf
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-533.td.json
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1131

#1192 RDM-9954 Remove defaultValue from the API
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-104/S-628.td.json
  src/aat/resources/features/F-104/S-638.td.json
  src/aat/resources/features/F-109/S-946.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.2.td.json
  src/aat/resources/features/F-121/S-121.1.td.json
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.5.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1192

#1201 fix build after 20.1
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1201

#1202 Update prod.tfvars
  Jenkinsfile_CNP
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1202

#1204 Rdm 10101
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1204

#1187 RDM-9893 - Remove OrganisationName from FT
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-107/F-107_Case_Data_Update.td.json
  src/aat/resources/features/F-107/F-107_Test_Data_Base.td.json
  src/aat/resources/features/F-107/S-929.td.json
  src/aat/resources/features/F-107/S-930.td.json
  src/aat/resources/features/F-107/S-930_Create_Case_Data.td.json
  src/aat/resources/features/F-107/S-931.td.json
  src/aat/resources/features/F-113 - CaseLinking/F-113_Test_Data_Base.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3_Create_Case_Data.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.4.td.json
  src/aat/resources/features/F-114 - Notice Of Change/F-114_Test_Data_Base.td.json
  src/aat/resources/features/F-114 - Notice Of Change/S-114.1.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1187

#1209 fix suppression file
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1209

#1203 Rdm 10197
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/CNPHealthRedirectConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ReadinessHealthIndicator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1203

#1211 RDM-8698 : Elasticsearch exact match queries on phone numbers with spaces never return results
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/resources/elasticsearch/config/index-settings.json
  src/test/resources/elasticsearch/config/mappings-aat_cases.json
  src/test/resources/elasticsearch/config/mappings-mapper_cases.json
  src/test/resources/elasticsearch/config/mappings-restricted_security_cases.json
  src/test/resources/elasticsearch/config/mappings-security_cases.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1211

#1184 Rdm 9052
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  liquibase.gradle
  src/main/resources/db/changelog/db.changelog-RDM-9052.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1184

#1215 Befta v21.1
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1215

#1210 Revert "RDM-9893 - Remove OrganisationName from FT"
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-107/F-107_Case_Data_Update.td.json
  src/aat/resources/features/F-107/F-107_Test_Data_Base.td.json
  src/aat/resources/features/F-107/S-929.td.json
  src/aat/resources/features/F-107/S-930.td.json
  src/aat/resources/features/F-107/S-930_Create_Case_Data.td.json
  src/aat/resources/features/F-107/S-931.td.json
  src/aat/resources/features/F-113 - CaseLinking/F-113_Test_Data_Base.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3_Create_Case_Data.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.4.td.json
  src/aat/resources/features/F-114 - Notice Of Change/F-114_Test_Data_Base.td.json
  src/aat/resources/features/F-114 - Notice Of Change/S-114.1.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1210

#1223 RDM-10294 Fix All Recent CVEs in All CCD Apps datastore part 1
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1223

#1194 RDM-9939: Re-factor DefaultValidateCaseFieldsOperation to remove ORG…
  src/aat/resources/features/F-107/S-928.td.json
  src/aat/resources/features/F-107/S-931.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseTypeService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseTypeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CustomTypeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CustomTypes.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/FieldIdBasedValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/FieldValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/OrgPolicyCaseAssignedRoleValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/PredefinedFields.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/PredefinedFieldsIDs.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/PredefinedTypeFieldValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/TextCaseReferenceCaseLinkValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/ValidationContext.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseTypeServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/OrgPolicyCaseAssignedRoleValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/TextCaseReferenceCaseLinkValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/ValidationContextTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1194

#1193 RDM-10013: added LOG_CALLBACK_DETAILS to support call back logging
  Jenkinsfile_CNP
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/callbacks/CallbackRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1193

#1207 ACA-85 Check for NoC Approval
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1207

#1231 Release cut demo deployment fix
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1231

#1216 Release cut 20.2.0
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/CoreCaseDataApplication.java
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ReadinessHealthIndicator.java
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1216

#1242 Resolve conflicts
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1242

#1200 Rdm 8934 timebased re execution of test data
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/TestDataLoaderMain.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1200

#1196 RDM-9860 refactor common response data
  build.gradle
  src/aat/resources/features/F-026/S-587.td.json
  src/aat/resources/features/F-026/S-588.td.json
  src/aat/resources/features/F-026/S-589.td.json
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-028/S-547.td.json
  src/aat/resources/features/F-028/S-548.td.json
  src/aat/resources/features/F-028/S-549.td.json
  src/aat/resources/features/F-029/S-052.td.json
  src/aat/resources/features/F-029/S-053.td.json
  src/aat/resources/features/F-032/F-032_Base_Test_Data.td.json
  src/aat/resources/features/F-104/F-104_Test_Data_Base.td.json
  src/aat/resources/features/F-108/F-108_Test_Data_Base.td.json
  src/aat/resources/features/F-109/F-109_Test_Data_Base.td.json
  src/aat/resources/features/F-110/F-110_Test_Data_Base.td.json
  src/aat/resources/features/F-112/F-112_TestData_Base.td.json
  src/aat/resources/features/F-121/F-121_Test_Data_Base.td.json
  src/aat/resources/features/common/acls/AllGrantedAccessControlList.td.json
  src/aat/resources/features/common/casefields/CaseFieldDefinitionWithACLs.td.json
  src/aat/resources/features/common/casefields/CaseFieldDefinitionWithoutACLs.td.json
  src/aat/resources/features/common/casefields/CaseViewField.td.json
  src/aat/resources/features/common/casefields/CaseViewFieldACL.td.json
  src/aat/resources/features/common/errors/NegativeResponseBody.td.json
  src/aat/resources/features/common/fieldtypes/CommonFieldType.td.json
  src/aat/resources/features/common/fieldtypes/SearchResultViewColumn.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseCollectionFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseComplexFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseDateFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseDateTimeFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseDocumentFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseEmailFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseFixedListFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseMoneyGBPFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseMultiSelectListFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseNestedComplexFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseNumberFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BasePhoneUKFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseTextAreaFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseTextFieldType.td.json
  src/aat/resources/features/common/fieldtypes/base/BaseYesOrNoFieldType.td.json
  src/aat/resources/features/common/users/BeftaMasterCaseworker.td.json
  src/aat/resources/features/common/users/PrivateCaseworker.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1196

#1245 use stable version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1245

#1236 RDM-9580
  src/main/java/uk/gov/hmcts/ccd/TransactionConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetBannerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetJurisdictionUiConfigOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/upsertdraft/DefaultUpsertDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CallbackEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/UserProfileEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDraftsController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIUserProfileController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1236

#1227 Rdm 10294 develop 2
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1227

#1246 Update Chart.yaml back to Java 3.4.4
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1246

#1239 RDM-10167: Build new MessageQueueCandidates database structure
  src/main/resources/db/changelog/db.changelog-RDM-10167.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1239

#1214 RDM-10141 Remediate API Calls Running Expensive Select Queries on DB
  src/main/resources/db/changelog/db.changelog-RDM-10141-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-10141-2.xml
  src/main/resources/db/changelog/db.changelog-RDM-10141-3.xml
  src/main/resources/db/changelog/db.changelog-RDM-10340.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1214

#1248 adjust min and max replicas
  Jenkinsfile_CNP
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1248
