Repository hmcts/ccd-data-store-api, pull requests merged in 2020-09, with the labels that each got.

#862 RDM-7373 Lower severity of CaseValidationException
  src/main/java/uk/gov/hmcts/ccd/AppInsights.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/HttpError.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseTypeService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CaseValidationException.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/ccd/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/common/HttpErrorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseTypeServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/ValidationResultBuilder.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-862

#1096 undo temporary removal of case_types_results
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CaseSearchResult.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1096

#1074 Rdm-8869 tests
  build.gradle
  src/aat/resources/features/F-112 - CaseLinking/S-112.3_Create_Case_Data_Token_Creation.td.json
  src/aat/resources/features/F-112/Befta_Master_case_creation_base.td.json
  src/aat/resources/features/F-112/F-112-Befta_Master_ComplexCollectionComplex_Case_Creation.td.json
  src/aat/resources/features/F-112/F-112-Befta_Master_ComplexCollectionComplex_Case_Creation_TOKEN.td.json
  src/aat/resources/features/F-112/F-112-Event_Token_Base.td.json
  src/aat/resources/features/F-112/F-112.3-Befta_Master_ComplexCollectionComplex_Case_Creation.td.json
  src/aat/resources/features/F-112/F-112.3-Befta_Master_ComplexCollectionComplex_Case_Creation_TOKEN.td.json
  src/aat/resources/features/F-112/F-112.5-Befta_Master_ComplexCollectionComplex_Case_Creation.td.json
  src/aat/resources/features/F-112/F-112.5-Befta_Master_ComplexCollectionComplex_Case_Creation_TOKEN.td.json
  src/aat/resources/features/F-112/F-112.feature
  src/aat/resources/features/F-112/F-112_TestData_Base.td.json
  src/aat/resources/features/F-112/S-112.1.td.json
  src/aat/resources/features/F-112/S-112.2.td.json
  src/aat/resources/features/F-112/S-112.3.td.json
  src/aat/resources/features/F-112/S-112.4.td.json
  src/aat/resources/features/F-112/S-112.5.td.json
  src/aat/resources/features/F-113 - CaseLinking/F-113.feature
  src/aat/resources/features/F-113 - CaseLinking/F-113_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-113 - CaseLinking/F-113_Test_Data_Base.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.1.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.2.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3_Create_Case_Data.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.3_Create_Case_Data_Token_Creation.td.json
  src/aat/resources/features/F-113 - CaseLinking/S-113.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1074

#1103 correct capitalisation of the operation name
  dependency-check-suppressions.xml
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-034/S-310.td.json
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/S-035.01_Case.td.json
  src/aat/resources/features/F-035/S-035.01_GetToken.td.json
  src/aat/resources/features/F-035/S-591.td.json
  src/aat/resources/features/F-053/S-269.td.json
  src/aat/resources/features/F-103/F-103.feature
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/common/F-105_Get_Case_Roles_for_Case_C1_Base.td.json
  src/aat/resources/features/F-105/F-105_Prerequisite_Case_Creation_Call_for_Case_Assignment.td.json
  src/aat/resources/features/F-105/F-105_Users.td.json
  src/aat/resources/features/F-108/S-901.td.json
  src/aat/resources/features/F-108/S-904.td.json
  src/aat/resources/features/F-108/S-911.td.json
  src/aat/resources/features/F-108/S-913.td.json
  src/aat/resources/features/F-108/S-926/S-926.td.json
  src/aat/resources/features/F-108/S-927/S-927.td.json
  src/aat/resources/features/F-109/F-109.feature
  src/aat/resources/features/F-109/S-944.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-citizen-case-creation/Befta_Jurisdiction2_Default_Citizen_Case_Data.td.json
  src/aat/resources/features/common/jurisdiction/Default_Final_Jurisdiction_Data.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1103

#1085 RDM-9266: Introduce ChangeOrganisationRequest Complex Field Standard Base Type
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/types/ApprovalStatusValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/ApprovalStatusValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1085

#1108 upgrade to fw 5.7.1
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1108

#1109 Rdm 9493
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1109

#828 RDM-7455: [Immigration and Asylum]- Date Validation errors not cleare…
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/AATCaseType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPage.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallback.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/bookcase-definition-validate-multipage.json
  src/test/resources/mappings/bookcase-definition-validate.json
  src/test/resources/mappings/mid-event-call-back-multipage.json
  src/test/resources/mappings/mid-event-call-back.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-828

#1110 RDM-9424 CVE fixes clone of PR 1097 (for develop)
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1110

#1111 RDM-9522 - Update with befta-fw pre-release tag
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1111

#1098 FTA for RDM-9266
  dependency-check-suppressions.xml
  src/aat/resources/features/F-114 - Notice Of Change/F-114.feature
  src/aat/resources/features/F-114 - Notice Of Change/F-114_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-114 - Notice Of Change/F-114_Test_Data_Base.td.json
  src/aat/resources/features/F-114 - Notice Of Change/S-114.1.td.json
  src/aat/resources/features/F-114 - Notice Of Change/S-114.2.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/types/CustomNumberValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/NumberValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CustomNumberValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1098

#1113 treat skipped scenarios as passed
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1113

#1114 Fix develop
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1114

#1112 Reserve ID for functional tests
  src/aat/resources/features/F-115/F-115.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1112

#1075 RDM-9024
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1075

#1086 RDM 9287
  src/main/resources/db/changelog/db.changelog-RDM-9287.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1086

#1121 RDM 9505
  src/main/resources/db/changelog/db.changelog-RDM-9505.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1121

#1122 tests for ES supp data
  src/aat/resources/features/F-120/F-120.feature
  src/aat/resources/features/F-120/F-120_Add_Supplementary_Data.td.json
  src/aat/resources/features/F-120/S-120.1.td.json
  src/aat/resources/features/F-120/S-120.2.td.json
  src/aat/resources/features/F-120/S-120.3.td.json
  src/aat/resources/features/F-120/S-120.4.td.json
  src/aat/resources/features/F-120/S-120.5.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1122

#1097 RDM-9424 : CVE fixes
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1097

#1134 Use hmctspublic for logstash
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1134

#1135 F-120 Test adjustments & fix
  src/aat/resources/features/F-120 supplementary_data in ES Search API/F-120.feature
  src/aat/resources/features/F-120 supplementary_data in ES Search API/F-120_Add_Supplementary_Data.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.1.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.2.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.5.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1135

#1117 RDM-9012 - Update V2 Swagger documentation for getStartEventTriggerUsingGET
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventController.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1117

#1061 RDM-9250: Identify and remove PII (Personally Identifiable Information) from CCD logs
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1061

#1142 Post release merge 19.2
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1142

#1138 RDM-9554 BEFTA for complex fields ordering
  build.gradle
  src/aat/resources/features/F-121/F-121.feature
  src/aat/resources/features/F-121/F-121_Test_Data_Base.td.json
  src/aat/resources/features/F-121/S-121.1.td.json
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.5.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1138
