Repository hmcts/ccd-data-store-api, pull requests merged in 2020-04, with the labels that each got.

#883 Rdm 8096
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-883

#874 RDM-7162 Assign Jurisdiction
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-102/F-102.feature
  src/aat/resources/features/F-102/S-580.td.json
  src/main/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/JurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/test/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/resources/mappings/idam-user.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-874

#892 regression test am-649 fix on data store
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-892

#894 Rdm 7642
  build.gradle
  src/aat/resources/features/F-051/S-109.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-894

#891 RDM-7273 Release
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CriteriaInput.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCriteriaOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-891

#897 zipped content length can vary depending on ordering of chars in a text
  src/aat/resources/features/F-051/S-109.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-897

#898 Bump up fw version
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-898

#840 RDM-7843-Stale-PR
  .github/stale.yml
Labels: ns:ccd, rel:ccd-data-store-api-pr-840

#888 RDM-7801 - showCondition in input filters apis
  src/aat/resources/features/F-063/S-215.td.json
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/S-558.td.json
  src/aat/resources/features/F-064/S-596.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CriteriaField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/Field.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResource.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIWorkbasketInputsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/resources/mappings/SearchInputDefinition.json
  src/test/resources/mappings/workbasket-input-definitions.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-888

#841 RDM-7867-Update-base-chart
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-841

#899 RDM-8113 handle display without seconds or milliseconds
  src/aat/resources/features/F-051/S-109.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DisplayContextParameter.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParserTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-899

#855 RDM-7694 - DCP for workbasket and search input/results
  src/aat/resources/features/F-026/S-587.td.json
  src/aat/resources/features/F-026/S-589.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-063/S-215.td.json
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/S-558.td.json
  src/aat/resources/features/F-064/S-596.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CriteriaInput.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumn.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DisplayContextParameter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResource.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIWorkbasketInputsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumnTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessorTest.java
  src/test/resources/mappings/workbasket-input-definitions-no-read-case-field-access.json
  src/test/resources/mappings/workbasket-input-definitions-v33.json
  src/test/resources/mappings/workbasket-input-definitions-v34.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-855

#851 RDM-7692 - DateTime Display Formatting
  src/aat/resources/features/F-026/S-587.td.json
  src/aat/resources/features/F-026/S-589.td.json
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-063/S-215.td.json
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/S-558.td.json
  src/aat/resources/features/F-064/S-596.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CriteriaInput.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumn.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractDefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseEventTriggerBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/CaseViewFieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DisplayContextParameter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessorService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResource.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIWorkbasketInputsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverrideTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumnTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseEventTriggerBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessorServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessorTest.java
  src/test/resources/mappings/workbasket-input-definitions-no-read-case-field-access.json
  src/test/resources/mappings/workbasket-input-definitions-v33.json
  src/test/resources/mappings/workbasket-input-definitions-v34.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-851

#879 RDM-8072 - Use parseUnresolved for converting dates to ISO8601
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeFormatParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatterTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-879

#900 RDM-8166 - Using Formatted Date(Time) Fields on Workbasket & Search Input Screens
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumn.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UISearchInputsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumnTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCriteriaOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-900

#906 RDM-8249 - Update Date/DateTime validation error messages
  src/main/java/uk/gov/hmcts/ccd/domain/types/DateTimeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DateValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DateTimeValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DateValidatorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-906

#913 Rdm 7740 final
  .github/workflows/swagger.yml
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/swagger/SwaggerGeneratorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-913

#919 Rdm 8222 readme update
  README.md
Labels: ns:ccd, rel:ccd-data-store-api-pr-919

#917 RDM-8333 - Demo issue - Unable to create a case
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeValueFormatter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-917

#904 RDM-8223 - Update FT
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-026/S-587.td.json
  src/aat/resources/features/F-026/S-588.td.json
  src/aat/resources/features/F-026/S-589.td.json
  src/aat/resources/features/F-027/S-038_Full.td.json
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/S-596.td.json
  src/aat/resources/features/F-065/S-165.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-904

#914 RDM-8269 - Add datetime formatting handling for metadata criteria inputs
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/CriterionFactory.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaData.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessor.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaDataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchInputProcessorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-914
