Repository hmcts/ccd-data-store-api, pull requests merged in 2020-07, with the labels that each got.

#990 RDM-8782 Authorisation on fields
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchesViewAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/SearchResultDefinitionService.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchesViewAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchResultUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/SearchResultDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/resources/mappings/aat-case-type.json
  src/test/resources/mappings/search-cases-result-fields-4.json
  src/test/resources/mappings/search-cases-result-fields-5.json
  src/test/resources/mappings/search-cases-result-fields-6.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-990

#1000 elasticsearch infra on preview
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1000

#1004 CVE 11996 Fix
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1004

#984 Rdm 8747: supplementary data db changes
  src/main/resources/db/changelog/db.changelog-RDM-8747.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-984

#999 RDM-4449 - Moved the converters to RestTemplate...
  charts/ccd-data-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/sanitiser/client/DocumentManagementRestClient.java
  src/test/java/uk/gov/hmcts/ccd/RestTemplateConfigurationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/sanitiser/client/DocumentManagementRestClientTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-999

#997 RDM-8750: Introduce endpoint for updating case supplementary data
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/config/JacksonObjectMapperConfig.java
  src/main/java/uk/gov/hmcts/ccd/config/JacksonUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/FindSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/IncrementSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataOperation.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/CachedUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/IdamJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryData.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataUpdateRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/SupplementaryDataUpdateRequestValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/EndpointAuthorisationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/AuthorisedSupplementaryDataUpdateOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/DefaultSupplementaryDataUpdateOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/SupplementaryDataUpdateOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CaseAccessException.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/SupplementaryDataResource.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/FindSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/IncrementSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/IdamJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataUpdateRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/validator/SupplementaryDataUpdateRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/AuthorisedSupplementaryDataUpdateOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/DefaultSupplementaryDataUpdateOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/SupplementaryDataResourceTest.java
  src/test/resources/sql/insert_cases_supplementary_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-997

#864 Rdm 7748
  Jenkinsfile_CNP
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-026/S-588.td.json
  src/aat/resources/features/F-034/F-034.feature
  src/aat/resources/features/F-034/F-034_Test_Data_Base_2.td.json
  src/aat/resources/features/F-034/S-034.1.td.json
  src/aat/resources/features/F-034/S-034.2.td.json
  src/aat/resources/features/F-034/S-034.3.td.json
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-037/S-037-1_GetToken.td.json
  src/aat/resources/features/F-037/S-037-1_GetToken_Update.td.json
  src/aat/resources/features/F-037/S-037-TEMP_CreateCase.td.json
  src/aat/resources/features/F-037/S-037.1.td.json
  src/aat/resources/features/F-044/F-044.feature
  src/aat/resources/features/F-044/S-044-1_GetToken.td.json
  src/aat/resources/features/F-044/S-044-1_GetToken_Update.td.json
  src/aat/resources/features/F-044/S-044-TEMP_CreateCase.td.json
  src/aat/resources/features/F-044/S-044.1.td.json
  src/aat/resources/features/F-050/F-050.feature
  src/aat/resources/features/F-050/F-050_Test_Data_Base.td.json
  src/aat/resources/features/F-050/S-050.1.td.json
  src/aat/resources/features/F-050/S-050.2.td.json
  src/aat/resources/features/F-050/S-301.td.json
  src/aat/resources/features/F-053/F-053_Test_Data_Base.td.json
  src/aat/resources/features/F-053/S-269.td.json
  src/aat/resources/features/F-056/F-056_Case_Data_Base.td.json
  src/aat/resources/features/F-056/S-288.td.json
  src/aat/resources/features/F-059/F-059.feature
  src/aat/resources/features/F-059/F-059_Common_Data_In_Body.td.json
  src/aat/resources/features/F-059/F-059_Test_Data_Base.td.json
  src/aat/resources/features/F-059/S-307.td.json
  src/aat/resources/features/F-109/F-109.1.td.json
  src/aat/resources/features/F-109/F-109.2.td.json
  src/aat/resources/features/F-109/F-109.feature
  src/aat/resources/features/F-109/F-109_GetToken.td.json
  src/aat/resources/features/F-109/F-109_Test_Data_Base.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-864

#975 RDM-8664 Some generated request URLs are encoded twice
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/test/java/uk/gov/hmcts/ccd/ApplicationParamsTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-975

#1009 RDM-8895 BEFTA FW extension: add prerequisites references to test data definition
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1009

#973 RDM-8608 Increase logging when no access for CaseView triggers
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlList.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-973

#1002 RDM-8788 - Java 11 upgrade
  .github/workflows/swagger.yml
  .travis.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  lib/applicationinsights-agent-2.4.1.jar
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchBaseTest.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/Criterion.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/FieldDataCriterion.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaDataCriterion.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/CriteraTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/CriteriaFactoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCriteriaOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1002

#869 RDM-6916 Create indexes for CaseEvent table
  src/main/resources/db/changelog/db.changelog-RDM-6916.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-869

#1005 RDM-8811 patch
  charts/ccd-data-store-api/values.yaml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/user/CachedUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/cauroles/rolevalidator/DefaultCaseAssignedUserRoleValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/AuthCheckingConfigurationTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/cauroles/rolevalidator/DefaultCaseAssignedUserRoleValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/security/filters/V1EndpointsPathParamSecurityFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/resources/mappings/aat-case-type.json
  src/test/resources/mappings/user10-role.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1005

#1008 RDM-8027 - Rebased datetime formatting refactoring
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/CommonDCPModel.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameter.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameterType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeTabDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeTabField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CriteriaField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchInputFieldsDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WorkbasketInputFieldsDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CommonViewHeader.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CriteriaInput.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/SearchResultViewColumn.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/CaseViewFieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/DisplayContextParameter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessorService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeEntryProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeFormatParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeSearchInputProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeSearchResultProcessor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeValueFormatter.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchesViewAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/FieldProcessorServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeFormatParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeSearchInputProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeSearchResultProcessorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/date/DateTimeValueFormatterTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/DCPTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerDCPIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorControllerDCPIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerDCPIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerDCPIT.java
  src/test/resources/mappings/dcptest1-case-definition.json
  src/test/resources/mappings/display-tab-structure-dcp.json
  src/test/resources/mappings/user11-role.json
  src/test/resources/mappings/wizard-page-dcp.json
  src/test/resources/mappings/workbasket-dcp.json
  src/test/resources/mappings/workbasket-input-definitions-dcp.json
  src/test/resources/sql/insert_case_dcp.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1008

#773 Rdm 7148 [REQUIRES FLUX CHANGES]
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-773

#1018 RDM-9045 - Add configurable logging of roles for requests
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/security/filters/SecurityLoggingFilter.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/security/filters/SecurityLoggingFilterTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1018

#1023 RDM-8829 - flag to enable/disable case-assignments rest api
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1023

#1016 RDM-8993: Update event API: There's no validation on default value of organisation policy case assigned role
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/ValidateCaseFieldsOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1016

#989 RDM-8667 FTA
  build.gradle
  src/aat/resources/features/F-107/F-107.feature
  src/aat/resources/features/F-107/F-107_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-107/F-107_Case_Data_Update.td.json
  src/aat/resources/features/F-107/F-107_Test_Data_Base.td.json
  src/aat/resources/features/F-107/S-928.td.json
  src/aat/resources/features/F-107/S-929.td.json
  src/aat/resources/features/F-107/S-930-Prerequisite.td.json
  src/aat/resources/features/F-107/S-930.td.json
  src/aat/resources/features/F-107/S-930_Create_Case_Data.td.json
  src/aat/resources/features/F-107/S-930_Create_Case_Data_Token_Creation.td.json
  src/aat/resources/features/F-107/S-931.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-989

#1014 Rdm 8751
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-034/S-310.td.json
  src/aat/resources/features/F-049/S-512.td.json
  src/aat/resources/features/F-053/S-553.td.json
  src/aat/resources/features/F-058/S-518.td.json
  src/aat/resources/features/F-063/S-561.td.json
  src/aat/resources/features/F-064/S-556.td.json
  src/aat/resources/features/F-064/S-557.td.json
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/JurisdictionDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CaseSearchResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CaseTypeResults.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1014

#1019 Rdm-8811 FTA
  build.gradle
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-533.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-104/S-627.td.json
  src/aat/resources/features/F-104/S-628.td.json
  src/aat/resources/features/F-104/S-633.td.json
  src/aat/resources/features/F-104/S-635.td.json
  src/aat/resources/features/F-104/S-636.td.json
  src/aat/resources/features/F-104/S-638.td.json
  src/aat/resources/features/F-104/S-639.td.json
  src/aat/resources/features/F-104/S-640.td.json
  src/aat/resources/features/F-105/F-105_Add_Case_Assigned_User_Roles_400_response.td.json
  src/aat/resources/features/F-105/F-105_Users.td.json
  src/aat/resources/features/F-105/S-105.1.2.td.json
  src/aat/resources/features/F-105/S-105.1.verify.td.json
  src/aat/resources/features/F-105/S-105.11.td.json
  src/aat/resources/features/F-108/F-108.feature
  src/aat/resources/features/F-108/S-910/S-910.td.json
  src/aat/resources/features/F-108/S-910/S-910_Create_Case_Private_Autotest1.td.json
  src/aat/resources/features/F-108/S-910/S-910_Create_Case_Private_Autotest2.td.json
  src/aat/resources/features/F-108/S-912/S-912.td.json
  src/aat/resources/features/F-108/S-912/S-912_Create_Case_Private_Autotest1.td.json
  src/aat/resources/features/F-108/S-912/S-912_Create_Case_Private_Autotest2.td.json
  src/aat/resources/features/F-108/S-914/S-914.td.json
  src/aat/resources/features/F-108/S-914/S-914_Create_Case_Private_Autotest1.td.json
  src/aat/resources/features/F-108/S-914/S-914_Create_Case_Private_Autotest2.td.json
  src/aat/resources/features/F-108/S-919/S-919.td.json
  src/aat/resources/features/F-108/S-919/S-919_Create_Case_Private_Autotest1.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction1_Case_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction1_Case_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction2_Case_Type1_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction2_Case_Type1_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction3_Case_Type1_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction3_Case_Type1_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/F-109/F-109.feature
  src/aat/resources/features/F-109/F-109_test_Data_Base_ES_external.td.json
  src/aat/resources/features/F-109/F-109_test_Data_Base_ES_internal.td.json
  src/aat/resources/features/F-109/S-942.td.json
  src/aat/resources/features/F-109/S-943.td.json
  src/aat/resources/features/F-109/S-944.td.json
  src/aat/resources/features/F-109/S-945.td.json
  src/aat/resources/features/F-109/S-946.td.json
  src/aat/resources/features/F-109/S-947.td.json
  src/aat/resources/features/F-110/F-109.1.td.json
  src/aat/resources/features/F-110/F-109.2.td.json
  src/aat/resources/features/F-110/F-109_Test_Data_Base.td.json
  src/aat/resources/features/F-110/F-110.feature
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Case_Creation_Base_Data.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1019

#1030 use latest prerelease
  build.gradle
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/F-035_Base_Test_Data.td.json
  src/aat/resources/features/F-035/S-035.01_Case.td.json
  src/aat/resources/features/F-035/S-035.01_Case_Token_Creation.td.json
  src/aat/resources/features/F-035/S-035.01_GetToken.td.json
  src/aat/resources/features/F-035/S-591.td.json
  src/aat/resources/features/F-063/F-063_Base_Test_Data.td.json
  src/aat/resources/features/F-063/S-595.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1030

#959 Adding db ChangeLog for new indexes created as part of RDM-8463
  src/main/resources/db/changelog/db.changelog-RDM-8463.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-959

#1033 Rdm 9143.new
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-533.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-104/F-104.feature
  src/aat/resources/features/F-108/Create_Case_Private_Autotest2.td.json
  src/aat/resources/features/F-108/F-108.feature
  src/aat/resources/features/F-108/S-900.td.json
  src/aat/resources/features/F-108/S-901.td.json
  src/aat/resources/features/F-108/S-903.td.json
  src/aat/resources/features/F-108/S-904.td.json
  src/aat/resources/features/F-108/S-905.td.json
  src/aat/resources/features/F-108/S-910/S-910.td.json
  src/aat/resources/features/F-108/S-911.td.json
  src/aat/resources/features/F-108/S-912/S-912.td.json
  src/aat/resources/features/F-108/S-913.td.json
  src/aat/resources/features/F-108/S-914/S-914.td.json
  src/aat/resources/features/F-108/S-915.td.json
  src/aat/resources/features/F-108/S-916/S-916.td.json
  src/aat/resources/features/F-108/S-917/S-917.td.json
  src/aat/resources/features/F-108/S-918/S-918.td.json
  src/aat/resources/features/F-108/S-919/S-919.td.json
  src/aat/resources/features/F-108/S-920/S-920.td.json
  src/aat/resources/features/F-108/S-921/S-921.td.json
  src/aat/resources/features/F-108/S-922/S-922.td.json
  src/aat/resources/features/F-108/S-923/S-923.td.json
  src/aat/resources/features/F-108/S-924/S-924.td.json
  src/aat/resources/features/F-108/S-925/S-925.td.json
  src/aat/resources/features/F-108/S-926/S-926.td.json
  src/aat/resources/features/F-108/S-927/S-927.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction2_Case_Type1_Creation.td.json
  src/aat/resources/features/F-109/F-109-Befta_Jurisdiction2_Case_Type1_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/F-109/F-109.feature
  src/aat/resources/features/F-109/S-944.td.json
  src/aat/resources/features/F-110/F-110.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1033

#1036 Disable es ft as on feature branches
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/TestData.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/TestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/elastic/ElasticsearchHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/elastic/ElasticsearchTestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/util/TestUtils.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1036
