Repository hmcts/ccd-data-store-api, pull requests merged in 2020-02, with the labels that each got.

#788 bump up fw version to new release
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-788

#793 Remove unexpected header from test
  src/aat/resources/features/F-026/S-078.td.json
  src/aat/resources/features/F-051/S-110.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-793

#791 Add definition store host for preview backend
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-051/S-110.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-791

#803 RDM-7416: CCD throws NoHttpResponse when calling available services.
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  infrastructure/demo.tfvars
  src/main/resources/application.properties
Labels: ns:ccd, rel:ccd-data-store-api-pr-803

#804 HttpUIDefinitionGateway coverage
  src/test/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGatewayTest.java
  src/test/resources/mappings/jurisdiction-ui-configs-definitions.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-804

#806 version bumb-up for fixed fw version
  build.gradle
  src/aat/resources/features/F-000/S-000-Prerequisite.td.json
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-026/S-078.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-042/S-246.td.json
  src/aat/resources/features/F-046/S-222.td.json
  src/aat/resources/features/F-047/F-047_Test_Data_Base.td.json
  src/aat/resources/features/F-065/F-065_Test_Data_Base.td.json
  src/aat/resources/features/F-065/S-162.td.json
  src/aat/resources/features/F-065/S-580.td.json
  src/aat/resources/features/F-065/S-581.td.json
  src/aat/resources/features/F-102/F-102_Test_Data_Base.td.json
  src/aat/resources/features/F-102/S-559.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-806

#805 RDM-7423 RDM-7424: Test BEFTA FW update
  build.gradle
  src/aat/resources/features/F-026/F-026.feature
Labels: ns:ccd, rel:ccd-data-store-api-pr-805

#807 Hotfix add UUID to log messages
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-807

#810 Rdm 7419: Introduce Cucumber Runner Classes
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreBeftaMain.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreBeftaRunner.java
  src/aat/resources/features/F-000/S-000-Prerequisite.td.json
  src/aat/resources/features/F-051/S-110.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-810

#801 Remove downstream call exception details from case type not found responses
  src/aat/resources/features/F-034/F-034_Test_Data_Base.td.json
  src/aat/resources/features/F-034/S-310.td.json
  src/aat/resources/features/F-049/S-512.td.json
  src/aat/resources/features/F-053/F-053_Test_Data_Base.td.json
  src/aat/resources/features/F-053/S-553.td.json
  src/aat/resources/features/F-058/S-518.td.json
  src/aat/resources/features/F-063/S-561.td.json
  src/aat/resources/features/F-064/S-556.td.json
  src/aat/resources/features/F-064/S-557.td.json
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/ResourceNotFoundException.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-801

#798 Rdm 6631 - Functional tests for Grant Case Role API
  Jenkinsfile_CNP
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-101/F-101_Test_Data_Base.td.json
  src/aat/resources/features/F-101/F101_Case_Data_Solicitor.td.json
  src/aat/resources/features/F-101/F101_GetToken.td.json
  src/aat/resources/features/F-101/S-525-1.td.json
  src/aat/resources/features/F-101/S-525-2-Grant.td.json
  src/aat/resources/features/F-101/S-525-2.td.json
  src/aat/resources/features/F-101/S-526.td.json
  src/aat/resources/features/F-101/S-527.td.json
  src/aat/resources/features/F-101/S-528.td.json
  src/aat/resources/features/F-101/S-529.td.json
  src/aat/resources/features/F-101/S-530.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-798

#784 Rdm 5887: Implement and consume internal GET Jurisdiction based on CRUD access endpoint in API v2
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIDefinitionTest.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIJurisdictionResource.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UIJurisdictionResourceTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-784

#808 RDM-7577
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-808

#815 Rdm 7648 centralize common definitions
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/TestDataLoaderMain.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/CaseTestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/TestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/elastic/ElasticsearchTestDataLoaderExtension.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUICaseViewTest.java
  src/aat/resources/CCD_BEFTA_JURISDICTION1.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  src/aat/resources/CCD_CNP_27.xlsx
  src/aat/resources/CCD_CNP_27_AUTOTEST1.xlsx
  src/aat/resources/CCD_CNP_27_AUTOTEST2.xlsx
  src/aat/resources/CCD_CNP_RDM5118.xlsx
Labels: ns:ccd, rel:ccd-data-store-api-pr-815

#823 Upgrade to befta 1.1.1
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-823

#825 RDM-7733 - Update jackson-databind
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-825

#830 Synch scenario numbers
  dependency-check-suppressions.xml
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-026/S-587.td.json
  src/aat/resources/features/F-026/S-588.td.json
  src/aat/resources/features/F-026/S-589.td.json
  src/aat/resources/features/F-027/F-027.feature
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/S-591.td.json
  src/aat/resources/features/F-048/F-048.feature
  src/aat/resources/features/F-048/S-592.td.json
  src/aat/resources/features/F-048/S-593.td.json
  src/aat/resources/features/F-056/F-056.feature
  src/aat/resources/features/F-056/S-584-Prerequisite_Citizen_Token_For_Update_Case.td.json
  src/aat/resources/features/F-056/S-584.td.json
  src/aat/resources/features/F-056/S-584_Get_Case_For_Citizen_Data_Base.td.json
  src/aat/resources/features/F-056/S-584_Later_Case_Update_By_Citizen.td.json
  src/aat/resources/features/F-056/S-584_Update_Case_For_Citizen_Data_Base.td.json
  src/aat/resources/features/F-057/F-057.feature
  src/aat/resources/features/F-057/S-542.td.json
  src/aat/resources/features/F-057/S-543.td.json
  src/aat/resources/features/F-057/S-594.td.json
  src/aat/resources/features/F-063/F-063.feature
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/F-064.feature
  src/aat/resources/features/F-064/S-596.td.json
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-065/S-585.td.json
  src/aat/resources/features/F-065/S-586.td.json
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-101/S-525.td.json
  src/aat/resources/features/F-101/S-531-Grant.td.json
  src/aat/resources/features/F-101/S-531.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-830

#829 Rdm 7805 - fixing DM store URL
  src/aat/resources/features/F-037/S-577.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_1.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_3.td.json
  src/aat/resources/features/F-037/S-577_Update_Case_For_Case_Worker_Data_Base.td.json
  src/aat/resources/features/F-040/F-040_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-040/F-040_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-044/S-579-Update_Case_For_Solicitor_Data_Base.td.json
  src/aat/resources/features/F-044/S-579.td.json
  src/aat/resources/features/F-044/S-579_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-044/S-579_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-044/S-579_Later_Case_Update_By_Solicitor_1.td.json
  src/aat/resources/features/F-044/S-579_Later_Case_Update_By_Solicitor_3.td.json
  src/aat/resources/features/F-053/S-578.td.json
  src/aat/resources/features/F-053/S-578_Later_Case_Update_By_Citizen.td.json
  src/aat/resources/features/F-053/S-578_Update_Case_For_Citizen_Data_Base.td.json
  src/aat/resources/features/F-056/S-584.td.json
  src/aat/resources/features/F-056/S-584_Later_Case_Update_By_Citizen.td.json
  src/aat/resources/features/F-056/S-584_Update_Case_For_Citizen_Data_Base.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_Data.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Default_Full_Case_Data_Solicitor_1.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-citizen-case-creation/Befta_Jurisdiction2_Default_Citizen_Case_Creation_Data.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-citizen-case-creation/Befta_Jurisdiction2_Default_Citizen_Case_Data.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-829

#824 RDM-7669 - Always remove data state override - MASTER
  src/main/java/uk/gov/hmcts/ccd/domain/model/callbacks/CallbackResponse.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-824

#818 Rdm 5903: Implement and consume external GET event details for case endpoint in API v2
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/AuthorisedGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/ClassifiedGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/DefaultGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/GetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseEventsResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getevents/AuthorisedGetEventsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getevents/ClassifiedGetEventsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getevents/DefaultGetEventsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseEventsResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-818
