Repository hmcts/ccd-data-store-api, pull requests merged in 2020-10, with the labels that each got.

#1147 CVE Temporary Suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1147

#1149 Rdm 9480 develop
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1149

#1139 Removed health check scenario for smoke tests.
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-034/F-034.feature
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-044/F-044.feature
  src/aat/resources/features/F-050/F-050.feature
  src/aat/resources/features/F-055/F-055.feature
  src/aat/resources/features/F-109/F-109.feature
  src/aat/resources/features/F-120 supplementary_data in ES Search API/F-120.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1139

#1156 Rdm 9480 hazel cast liquibase
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1156

#1136 Removed Sonar exclusions
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGateway.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/resources/mappings/delete-draft.json
  src/test/resources/mappings/get-draft.json
  src/test/resources/mappings/get-drafts.json
  src/test/resources/mappings/update-draft.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1136

#1160 Bump up fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1160

#1161 Remove reference of PMD
  build.gradle
  config/pmd/ruleset.xml
  src/test/java/uk/gov/hmcts/ccd/swagger/SwaggerGeneratorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1161

#1157 RDM-9556: Data Store Changes for Conditional Event Post State
  src/main/java/uk/gov/hmcts/ccd/domain/casestate/EnablingConditionFormatter.java
  src/main/java/uk/gov/hmcts/ccd/domain/casestate/EnablingConditionSorter.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/EnablingConditionConverter.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/EnablingConditionParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/PrioritiseEnablingCondition.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionConverter.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/EventPostStateDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateEvaluationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseStateUpdateService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/StateReferenceService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/test/java/uk/gov/hmcts/ccd/domain/enablingcondition/PrioritiseEnablingConditionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionConverterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/BaseStateReferenceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateEvaluationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventDefinitionServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1157

#1163 Rdm 9551 tf onto develop
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1163

#1154 callbacks app-insights tracing
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/appinsights/AppInsights.java
  src/main/java/uk/gov/hmcts/ccd/appinsights/CallbackTelemetryContext.java
  src/main/java/uk/gov/hmcts/ccd/appinsights/CallbackTelemetryThreadContext.java
  src/main/java/uk/gov/hmcts/ccd/config/AppInsightsTracingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/appinsights/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1154

#1170 bump up hmcts plugin version
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1170

#1162 Added db changelog for RDM-9696
  src/main/resources/db/changelog/db.changelog-RDM-9696.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1162

#1116 RDM 9333
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1116

#1107 RDM 9335
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchesViewAccessControl.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchesViewAccessControlTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1107

#1155 Rdm 9052
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  dependency-check-suppressions.xml
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/CoreCaseDataApplication.java
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
  src/main/resources/application.properties
  src/main/resources/db/changelog/db.changelog-RDM-9052.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1155

#1180 RDM-9925 bump up befta version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1180

#1169 Rdm 7484 concurrent execution of test suites
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1169

#1167 RDM-9868 DefaultValue for Complex fields
  src/aat/resources/features/F-107/S-931.td.json
  src/aat/resources/features/F-114 - Notice Of Change/F-114_Case_Data_Create_Token_Creation.td.json
  src/main/java/uk/gov/hmcts/ccd/config/JacksonUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperation.java
  src/test/java/uk/gov/hmcts/ccd/config/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/DefaultValidateCaseFieldsOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1167

#1186 Frmework bump up
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1186

#1188 RDM-9200 Test to verify Swagger documentation is not broken
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/F-125.feature
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/F-125_Swagger_JSON.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/F-125_Swagger_UI.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125.1.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125.2.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125.3.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125.4.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125_Swagger_JSON_V1_External.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125_Swagger_JSON_V1_Internal.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125_Swagger_JSON_V2_External.td.json
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/S-125_Swagger_JSON_V2_Internal.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1188

#1189 RDM-9587 FTs for the Conditional Post States
  build.gradle
  src/aat/resources/features/F-122 - Conditional Event Post States/F-122.feature
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.1.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.2.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.3.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.4.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.5.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.6.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.7.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.8.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/common/F-122-UpdateEventBase.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/common/FT_ConditionalPostState_Case_Data.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/common/FT_ConditionalPostState_Create_Case.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/common/S-122-GetToken_CaseCreate.td.json
  src/aat/resources/features/F-122 - Conditional Event Post States/common/S-122-GetToken_UpdateCase.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1189
