Repository hmcts/ccd-data-store-api, pull requests merged in 2020-05, with the labels that each got.

#866 Rdm 7943 jackson
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/CCDEventBuilder.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateEventTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseValidatorTest.java
  src/main/java/uk/gov/hmcts/ccd/config/JacksonUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultObjectMapperService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidator.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseDataResource.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/PostCodeValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/YesNoValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/CallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartTriggerControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseDataResourceTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-866

#865 Rdm 8001
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-865

#871 RDM-7997: CCD-data-Store - Fix CVEs Spring Framework 5.0.5.RELEASE
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-871

#925 RDM-8402 - Handle MultiSelectList types in search/workbasket results
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessor.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/SearchResultProcessorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-925

#935 Am 588 create case upload document development
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAttacher.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAttacherTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
  src/test/resources/tests/case-update-payload-it.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-935

#938 RDM-8445-PCQ
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-938

#931 RDM-8427 - Remove unit test external dependencies
  src/test/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepositoryWireMockNotRunningTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryIT.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-931

#921 RDM-8051 LogAudit for v1 endpoints
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-921

#909 RDM-8051 Log and audit: log audit events in Data Store
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/AuditConfig.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditRepository.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/LoggerAuditRepository.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/AuditContextHolder.java
  src/main/java/uk/gov/hmcts/ccd/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDraftsController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/CaseViewResource.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentControllerITest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerCaseRolesIT.java
  src/test/resources/mappings/bookcase-definition-roles.json
  src/test/resources/sql/insert_callback_cases.sql
  src/test/resources/sql/insert_case_event_history.sql
  src/test/resources/sql/insert_cases.sql
  src/test/resources/sql/insert_cases_event_access_case_roles.sql
  src/test/resources/sql/insert_search_sort_cases.sql
Labels: ns:ccd, rel:ccd-data-store-api-pr-909

#901 RDM-7650 use JSON Def file functionality in befta
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-901

#924 RDM-8393 update health-spring-boot-starter
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-924

#853 Add Mutation tests - by Pettedson
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-853

#927 remove the redundant legacy test - already done by S-576
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchTextAreaFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/DateTimeEntryProcessorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-927

#942 Removed redundant test - already done by S-110
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/SearchCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/UpdateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchTextAreaFieldTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/idam/AuthenticatedUser.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/idam/IdamHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateEventTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseValidatorTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetStartTriggerTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUICaseViewTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIDefinitionTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIStartTriggerTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIUserProfileTest.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/S-158.td.json
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-037/S-026.td.json
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-065/S-163.td.json
  src/aat/resources/features/F-066/F-066.feature
  src/aat/resources/features/F-066/S-178.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-942

#958 Rdm 8354 remove redundant tests
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/SearchCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/UpdateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/functional/elasticsearch/ElasticsearchTextAreaFieldTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/idam/AuthenticatedUser.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/idam/IdamHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/CreateEventTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetCaseValidatorTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetStartTriggerTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUICaseViewTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIDefinitionTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIStartTriggerTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/internal/GetUIUserProfileTest.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-035/F-035.feature
  src/aat/resources/features/F-035/S-158.td.json
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-037/S-026.td.json
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-065/S-163.td.json
  src/aat/resources/features/F-066/F-066.feature
  src/aat/resources/features/F-066/S-178.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-958

#961 remove all except for befta smoke tests from smoke
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/EmptySmokeTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-961

#950 rm-installCharts
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-data-store-api-pr-950

#949 Added aac-manage-case-assignment to s2s list
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-949

#930 RDM-8350: Nested complex types not working as expected
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-930
