Repository hmcts/ccd-data-store-api, pull requests merged in 2020-01, with the labels that each got.

#708 RDM 6431 retrieve event by case and event
  src/aat/resources/features/F-067/Befta_Case_Data_Extension.td.json
  src/aat/resources/features/F-067/F-067.feature
  src/aat/resources/features/F-067/F-067_Test_Data_Base.td.json
  src/aat/resources/features/F-067/S-207.td.json
  src/aat/resources/features/F-067/S-208.td.json
  src/aat/resources/features/F-067/S-209.td.json
  src/aat/resources/features/F-067/S-210.td.json
  src/aat/resources/features/F-067/S-212.td.json
  src/aat/resources/features/F-067/S-212_Get_Case_Data.td.json
Labels: ns:ccd-data-store-api-pr-708

#715 Rdm 6421 Get case for Citizen
  src/aat/resources/features/F-054/F-054.feature
  src/aat/resources/features/F-054/F-054_Base_Test_Data.td.json
  src/aat/resources/features/F-054/F-054_Case_Creation_Data.td.json
  src/aat/resources/features/F-054/S-093.td.json
  src/aat/resources/features/F-054/S-094.td.json
  src/aat/resources/features/F-054/S-095.td.json
  src/aat/resources/features/F-054/S-562.td.json
  src/aat/resources/features/F-054/S-563.td.json
  src/aat/resources/features/F-054/S-564.td.json
  src/aat/resources/features/F-054/S-565.td.json
  src/aat/resources/features/F-054/S-566.td.json
  src/aat/resources/features/F-054/S-567.td.json
  src/aat/resources/features/F-054/S-568.td.json
  src/aat/resources/features/F-054/S-569.td.json
Labels: ns:ccd-data-store-api-pr-715

#713 RDM-6387: functional test cases for "Get case ids" endpoint
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-047/F-047.feature
  src/aat/resources/features/F-047/F-047_Grant_Access.td.json
  src/aat/resources/features/F-047/F-047_Test_Data_Base.td.json
  src/aat/resources/features/F-047/S-097.td.json
  src/aat/resources/features/F-047/S-098.td.json
  src/aat/resources/features/F-047/S-099.td.json
  src/aat/resources/features/F-047/S-100.td.json
  src/aat/resources/features/F-047/S-570.td.json
  src/aat/resources/features/F-047/S-571.td.json
  src/aat/resources/features/F-047/S-572.td.json
  src/aat/resources/features/F-047/S-573.td.json
  src/aat/resources/features/F-047/S-574.td.json
  src/aat/resources/features/F-047/S-575.td.json
Labels: ns:ccd-data-store-api-pr-713

#718 Rdm 6410 functional tests validate case data
  src/aat/resources/features/F-034/F-034.feature
  src/aat/resources/features/F-034/F-034_Test_Data_Base.td.json
  src/aat/resources/features/F-034/S-308.td.json
  src/aat/resources/features/F-034/S-309.td.json
  src/aat/resources/features/F-034/S-310.td.json
  src/aat/resources/features/F-034/S-311.td.json
  src/aat/resources/features/F-034/S-312.td.json
  src/aat/resources/features/F-034/S-314.td.json
Labels: ns:ccd-data-store-api-pr-718

#727 RDM-7150: Fix tomcat security issues on ccd-data-store and ccd-defini…
  build.gradle
Labels: ns:ccd-data-store-api-pr-727

#703 RDM-6719: Add Banner Feature to CCD UI
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/JurisdictionMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/JurisdictionDisplayProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Banner.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/BannersResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Jurisdiction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetBannerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/GetBannerOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIBannerResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetBannerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UIBannerResourceTest.java
Labels: ns:ccd-data-store-api-pr-703

#740 Rdm 4394 cache find jurisdictions
  README.md
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/JurisdictionMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/JurisdictionDisplayProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Banner.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/BannersResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Jurisdiction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetBannerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/GetBannerOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIBannerResource.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetBannerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UIBannerResourceTest.java
  src/test/resources/integration_tests.properties
  src/test/resources/mappings/jurisdiction_divorce.json
  src/test/resources/mappings/jurisdiction_probate.json
  src/test/resources/mappings/jurisdiction_sscs.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-740

#739 RDM-7116-rm-ase-envir
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ccd-data-store-api-pr-739

#731 Rdm 7069 retrieve case by
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-065/F-065_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-065/F-065_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-065/F-065_Later_Case_Read_By_Solicitor_3_Generated_By_Solicitor_1.td.json
  src/aat/resources/features/F-065/S-580.td.json
  src/aat/resources/features/F-065/S-581.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Case_Creation_Base_Data_Solicitor_1.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Default_Full_Case_Creation_Data_solicitor_1.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Default_Full_Case_Data_Security_Classification_Solicitor_1.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Default_Full_Case_Data_Solicitor_1.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-case-creation_by_solicitor_1/Befta_Jurisdiction2_Default_Token_Creation_Data_For_Case_Creation_Solicitor_1.td.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-731, rel:ccd-data-store-api-pr-731

#738 RDM-7068 : Automate AM Scenarios for F037 Create_EventV2
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-037/S-577-Prerequisite_Solicitor_1_Token_For_Update_Case.td.json
  src/aat/resources/features/F-037/S-577-Prerequisite_Solicitor_2_Token_For_Update_Case.td.json
  src/aat/resources/features/F-037/S-577-Prerequisite_Solicitor_3_Token_For_Update_Case.td.json
  src/aat/resources/features/F-037/S-577.td.json
  src/aat/resources/features/F-037/S-577_Get_Case_For_Case_Worker_Data_Base.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_1.td.json
  src/aat/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_3.td.json
  src/aat/resources/features/F-037/S-577_Response_Data_Base.td.json
  src/aat/resources/features/F-037/S-577_Response_Data_Classification.td.json
  src/aat/resources/features/F-037/S-577_Response_Data_Common.td.json
  src/aat/resources/features/F-037/S-577_Update_Case_For_Case_Worker_Data_Base.td.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-738, rel:ccd-data-store-api-pr-738

#726 Rdm 4394 cache find jurisdictions
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/resources/integration_tests.properties
  src/test/resources/mappings/jurisdiction_divorce.json
  src/test/resources/mappings/jurisdiction_probate.json
  src/test/resources/mappings/jurisdiction_sscs.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-726, rel:ccd-data-store-api-pr-726

#719 Rdm 6386 get case for case worker
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/features/F-040/F-040.feature
  src/aat/resources/features/F-040/F-040_Later_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-040/F-040_Later_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-040/F-040_Test_Data_Base.td.json
  src/aat/resources/features/F-040/S-576.td.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-719, rel:ccd-data-store-api-pr-719

#743 RDM-7071: AM Scenarios for F-053: Submit case creation as Citizen
  src/aat/resources/features/F-053/F-053.feature
  src/aat/resources/features/F-053/S-578-Prerequisite_Citizen_Token_For_Update_Case.td.json
  src/aat/resources/features/F-053/S-578.td.json
  src/aat/resources/features/F-053/S-578_Later_Case_Update_By_Citizen.td.json
  src/aat/resources/features/F-053/S-578_Update_Case_For_Citizen_Data_Base.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-743

#746 Remove unwanted env (ASE) files
  infrastructure/aat.tfvars
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
Labels: ns:ccd, rel:ccd-data-store-api-pr-746

#758 RDM-7289 - Update jackson-databind
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-758

#761 Revert "Remove unwanted env (ASE) files"
  infrastructure/aat.tfvars
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
Labels: ns:ccd, rel:ccd-data-store-api-pr-761

#756 16.2 release
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/callbacks/CallbackResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplex.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/DisplayContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageField.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractDefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CompoundFieldOrderServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/test/CaseFieldBuilder.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerTest.java
  src/test/resources/sql/insert_case_with_restricted_state.sql
  src/test/resources/sql/insert_cases.sql
  web.config
Labels: ns:ccd, rel:ccd-data-store-api-pr-756

#729 RDM-7070 Functional test for get printable documents (AM operation)
  src/aat/resources/features/F-032/F-032.feature
  src/aat/resources/features/F-032/F-032_Base_Test_Data.td.json
  src/aat/resources/features/F-032/F-032_Case_Read_By_Solicitor_1.td.json
  src/aat/resources/features/F-032/F-032_Case_Read_By_Solicitor_3.td.json
  src/aat/resources/features/F-032/S-123.td.json
  src/aat/resources/features/F-032/S-123_Test_Data_Base.td.json
  src/aat/resources/features/common/case/Standard_Full_Case_Data_With_Document.td.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-729, rel:ccd-data-store-api-pr-729

#752 Rdm 7072-F-056-Submit event creation as Citizen
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/features/F-056/F-056.feature
  src/aat/resources/features/F-056/S-582-Prerequisite_Citizen_Token_For_Update_Case.td.json
  src/aat/resources/features/F-056/S-582.td.json
  src/aat/resources/features/F-056/S-582_Get_Case_For_Citizen_Data_Base.td.json
  src/aat/resources/features/F-056/S-582_Later_Case_Update_By_Citizen.td.json
  src/aat/resources/features/F-056/S-582_Update_Case_For_Citizen_Data_Base.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-752

#759 add debug logging for jurisdiction retrievals
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-759

#754 RDM-5700 - Removed duplicate code and JPA_CRITERIA_IN_SEARCH_ENABLED flag
  charts/ccd-data-store-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/resources/application.properties
Labels: ns:ccd, rel:ccd-data-store-api-pr-754

#72 Retur 404 for profile not found
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-72

#768 removed overrided definition-store-host in preview
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-data-store-api-pr-768

#764 RDM-7313: Use Jacoco XML report for SonarCloud
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/AppInsights.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-764

#763 Rdm 7314
  build.gradle
  lib/befta-fw-1.0.10-SNAPSHOT.jar
  lib/befta-fw-1.0.9-SNAPSHOT.jar
Labels: ns:ccd, rel:ccd-data-store-api-pr-763

#772 Temp sonar exclusions
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-772

#730 RDM-7164 Fix failing Tests
  Jenkinsfile_CNP
  build.gradle
  lib/befta-fw-1.0.15-SNAPSHOT.jar
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-032/F-032_Case_Creation_Data_With_Document.td.json
  src/aat/resources/features/F-032/S-124.td.json
  src/aat/resources/features/F-053/F-053.feature
  src/aat/resources/features/common/case/Standard_Full_Case_Data_With_Document.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-citizen-case-creation/Befta_Jurisdiction2_Default_Citizen_Case_Data.td.json
Labels: ns:ccd, ns:ccd-data-store-api-pr-730, rel:ccd-data-store-api-pr-730

#771 Rdm 7380: Fix cod coverage issue on Banner Changes
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGatewayServiceExceptionTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/resources/mappings/banner-definitions.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-771

#774 Revert "Temp sonar exclusions"
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-774

#775 Rdm 7284
  build.gradle
  lib/befta-fw-1.0.10-SNAPSHOT.jar
  lib/befta-fw-1.0.15-SNAPSHOT.jar
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/v2/external/GetStartTriggerTest.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-775

#778 Rdm 7411
  Jenkinsfile_CNP
  README.md
  build.gradle
  infrastructure/outputs.tf
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/AATHelper.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-778

#777 RDM-7406 - Resolve CVE-2020-5398
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-777

#735 RDM-6965 - Jurisdiction-Level Shuttering
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/JurisdictionUiConfig.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/JurisdictionUiConfigResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetJurisdictionUiConfigOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/GetJurisdictionUiConfigOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIJurisdictionConfigResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetJurisdictionUiConfigOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UIJurisdictionConfigResourceTest.java
Labels: ns:ccd, ns:ccd-data-store-api-pr-735, rel:ccd-data-store-api-pr-735

#769 Rdm 6240
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/CriterionFactory.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderQueryBuilderTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-769

#785 merge Respondent journey into 17.1 release
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AbstractAuthorisedCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/AuthorisedGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIStartTriggerResource.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getevents/AuthorisedGetEventsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointUserRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/CaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/CaseRolesTestData.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartTriggerControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerCaseRolesIT.java
  src/test/resources/mappings/bookcase-create-on-creatorrole-definition.json
  src/test/resources/mappings/bookcase-no-create-on-creatorrole-definition.json
  src/test/resources/mappings/bookcase-no-event-access-to-caserole-definition.json
  src/test/resources/mappings/case-roles-definition.json
  src/test/resources/mappings/complex-display-tab-structure-bookcase-no-event-access-to-caserole-definition.json
  src/test/resources/sql/insert_cases_event_access_case_roles.sql
Labels: ns:ccd, rel:ccd-data-store-api-pr-785
