Repository hmcts/ccd-data-store-api, pull requests merged in 2020-03, with the labels that each got.

#832 RDM-7833 Fix tomcat security issue CVE-2020-1938
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-832

#834 Ignoring 403 test cases where token validation fails. Will be rewritten as part of RDM-6847
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-027/F-027.feature
  src/aat/resources/features/F-028/F-028.feature
  src/aat/resources/features/F-029/F-029.feature
  src/aat/resources/features/F-034/F-034.feature
  src/aat/resources/features/F-036/F-036.feature
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-042/F-042.feature
  src/aat/resources/features/F-044/F-044.feature
  src/aat/resources/features/F-045/F-045.feature
  src/aat/resources/features/F-046/F-046.feature
  src/aat/resources/features/F-047/F-047.feature
  src/aat/resources/features/F-048/F-048.feature
  src/aat/resources/features/F-050/F-050.feature
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-052/F-052.feature
  src/aat/resources/features/F-053/F-053.feature
  src/aat/resources/features/F-055/F-055.feature
  src/aat/resources/features/F-056/F-056.feature
  src/aat/resources/features/F-057/F-057.feature
  src/aat/resources/features/F-059/F-059.feature
  src/aat/resources/features/F-064/F-064.feature
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-066/F-066.feature
  src/aat/resources/features/F-067/F-067.feature
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-102/F-102.feature
Labels: ns:ccd, rel:ccd-data-store-api-pr-834

#745 RDM-6757 Populate display_context_parameter for collections using case role
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-027/F-027.feature
  src/aat/resources/features/F-028/F-028.feature
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/F-029.feature
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-034/F-034.feature
  src/aat/resources/features/F-036/F-036.feature
  src/aat/resources/features/F-037/F-037.feature
  src/aat/resources/features/F-042/F-042.feature
  src/aat/resources/features/F-044/F-044.feature
  src/aat/resources/features/F-045/F-045.feature
  src/aat/resources/features/F-046/F-046.feature
  src/aat/resources/features/F-047/F-047.feature
  src/aat/resources/features/F-048/F-048.feature
  src/aat/resources/features/F-050/F-050.feature
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-052/F-052.feature
  src/aat/resources/features/F-053/F-053.feature
  src/aat/resources/features/F-055/F-055.feature
  src/aat/resources/features/F-056/F-056.feature
  src/aat/resources/features/F-057/F-057.feature
  src/aat/resources/features/F-059/F-059.feature
  src/aat/resources/features/F-064/F-064.feature
  src/aat/resources/features/F-065/F-065.feature
  src/aat/resources/features/F-066/F-066.feature
  src/aat/resources/features/F-067/F-067.feature
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-102/F-102.feature
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameterCollectionOptions.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameterUtil.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseField.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/UIStartTriggerResource.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameterUtilTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerCaseRolesIT.java
  src/test/resources/mappings/case-roles-definition.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-745

#827 RDM-7667 fix NPE when hidden field in a collection
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlServiceTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-827

#847 RDM-7899-Slack
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-data-store-api-pr-847

#821 RDM-7769 Update befta-fw to 1.1.2
  build.gradle
Labels: ns:ccd, rel:ccd-data-store-api-pr-821

#849 RDM 7273 - Unable to reference more than one element of a complex type within the search and workbasket tabs
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CriteriaInput.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCriteriaOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCriteriaOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-849

#857 re-enable flaky tests for diagnostic
  src/test/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepositoryWireMockNotRunningTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-857

#858 re-enable tests for diagnostic
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepositoryWireMockNotRunningTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-858

#861 Rdm 8013: CVE failures on data-store-api deployment to Demo
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/fixture/CCDEventBuilder.java
  src/aat/resources/features/common/case/Standard_Full_Case.td.json
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultObjectMapperService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/AuthorisedCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/AuthorisedGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorController.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/PostCodeValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/YesNoValidatorTest.java
Labels: ns:ccd, rel:ccd-data-store-api-pr-861

#819 Rdm 7162
  src/main/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/JurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/test/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/resources/mappings/idam-user.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-819

#852 Assign Jurisdiction Functional Tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/F-102.feature
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-852

#868 Revert "Assign Jurisdiction Functional Tests"
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/F-102.feature
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-868

#867 Revert "Rdm 7162"
  src/main/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/JurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/test/java/uk/gov/hmcts/ccd/data/user/IDAMJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/resources/mappings/idam-user.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-867

#873 RDM-7926 Assign Jurisdiction Functional Tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/aat/resources/features/F-051/F-051.feature
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/F-102.feature
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, rel:ccd-data-store-api-pr-873

#878 Terraform cleanup
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd, rel:ccd-data-store-api-pr-878
