Repository hmcts/ccd-data-store-api, pull requests merged in 2020-08, with the labels that each got.

#1039 RDM-9118 FTA organisation adjustment for RDM-8842
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14_Repeated_Call_to_Add_Case_Assigned_Users_and_Roles.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14_Repeated_Call_to_Add_Case_Assigned_Users_and_Roles_Hemanth.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14_Verify_Counter_1.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14_Verify_Counter_2.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.14/S-105.14_Verify_Counter_3.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.15/S-105.15.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/S-105.17/S-105.17.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Check_Orgs_Assigned_Users_Base.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Get_Organisation_Identifier_Base.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Get_Organisation_Identifier_Hemanth.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Get_Organisation_Identifier_Olawale.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Prerequisite_Counter_Check_Call.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/With Organisation Context/common/F-105_Verify_Counter_Unchanged.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/Without Organisation Context/S-105.1.2.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/common/F-105_User_Hemanth.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/common/F-105_User_Olawale.td.json
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/common/F-105_Users.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1039

#1038 RDM-9014 - Update createEventUsingPOST Swagger
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1038

#1046 Adding db ChangeLog for new indexes created as part of RDM-8463 (#959)
  Jenkinsfile_CNP
  build.gradle
  src/main/resources/db/changelog/db.changelog-RDM-8463.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1046

#1025 Rdm 8932
  src/aat/resources/features/F-104/F-104.feature
  src/aat/resources/features/F-104/S-625.td.json
  src/aat/resources/features/F-104/S-626.td.json
  src/aat/resources/features/F-104/S-627.td.json
  src/aat/resources/features/F-104/S-629.td.json
  src/aat/resources/features/F-104/S-630.td.json
  src/aat/resources/features/F-104/S-631.td.json
  src/aat/resources/features/F-104/S-632.td.json
  src/aat/resources/features/F-104/S-633.td.json
  src/aat/resources/features/F-104/S-635.td.json
  src/aat/resources/features/F-104/S-636.td.json
  src/aat/resources/features/F-104/S-639.td.json
  src/aat/resources/features/F-104/S-640.td.json
  src/aat/resources/features/F-108/S-914/S-914.td.json
  src/aat/resources/features/F-108/S-941/S-941.td.json
  src/aat/resources/features/F-109/S-942.td.json
  src/aat/resources/features/F-109/S-943.td.json
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/resources/mappings/search-cases-result-fields-1.json
  src/test/resources/mappings/search-cases-result-fields-2.json
  src/test/resources/mappings/search-cases-result-fields-3.json
  src/test/resources/mappings/search-cases-result-fields-4.json
  src/test/resources/mappings/search-cases-result-fields-5.json
  src/test/resources/mappings/search-cases-result-fields-6.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1025

#1043 RDM 8698 : updated test elasticsearch index and mappings.
  src/test/java/uk/gov/hmcts/ccd/test/ElasticsearchTestHelper.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
  src/test/resources/elasticsearch/config/index-settings.json
  src/test/resources/elasticsearch/config/mappings-aat_cases.json
  src/test/resources/elasticsearch/config/mappings-mapper_cases.json
  src/test/resources/elasticsearch/config/mappings-restricted_security_cases.json
  src/test/resources/elasticsearch/config/mappings-security_cases.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1043

#1051 Update values.preview.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1051

#1042 Rdm 2676
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CachedCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactory.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/CaseReferenceUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseTypeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/FieldValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/PredefinedFields.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/PredefinedTypeFieldValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/TextCaseReferenceCaseLinkValidator.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/CachedCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/TextCaseReferenceCaseLinkValidatorTest.java
  src/test/resources/tests/CaseDataValidator_CaseField.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1042

#1026 RDM-9095 - Filter out cross-jurisdiction roles when determining user jurisdictions
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/user/CachedUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/IdamJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/IdamJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1026

#1053 RDM-9231 Fix Swagger groups
  .github/workflows/swagger.yml
  .travis.yml
  Jenkinsfile_CNP
  README.md
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1053

#1050 Revert "removed es and ls dependencies"
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1050

#1063 enhance pipeline logic per build type
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1063

#1065 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/requirements.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1065

#1047 RDM-9206: Supplementary Data ES Functional Tests
  src/aat/resources/features/F-106/F-106.feature
  src/aat/resources/features/F-106/F-106_Decrement_Supplementary_Data_C1.td.json
  src/aat/resources/features/F-106/F-106_Set_Supplementary_Data_C1.td.json
  src/aat/resources/features/F-106/F-106_Test_Data_Base.td.json
  src/aat/resources/features/F-106/F-106_Update_Supplementary_Data_Base.td.json
  src/aat/resources/features/F-106/S-608.td.json
  src/aat/resources/features/F-106/S-609.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1047

#1078 Update Chart.yaml
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1078

#1081 Update aat.tfvars
  infrastructure/aat.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1081

#1076 RDM 9342
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/aat/resources/DummyTest.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1076

#1079 RDM-9309
  build.gradle
  src/aat/resources/features/F-112 - CaseLinking/F-112.feature
  src/aat/resources/features/F-112 - CaseLinking/F-112_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-112 - CaseLinking/F-112_Test_Data_Base.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.1.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.2.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.3.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.3_Create_Case_Data.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.3_Create_Case_Data_Token_Creation.td.json
  src/aat/resources/features/F-112 - CaseLinking/S-112.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1079

#1089 RDM 9008 add dependency suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1089
