Repository hmcts/ccd-data-store-api, pull requests merged in 2021-05, with the labels that each got.

#1463 RDM-9765 Added jit pack and befta code changes
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1463

#1452 RDM-9846 Migrate from Liquibase to Flyway - Data Store
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  liquibase.gradle
  src/contractTest/resources/application.properties
  src/main/resources/application.properties
  src/main/resources/db/changelog/db.changelog-0.1-S1_Rel_1.1.xml
  src/main/resources/db/changelog/db.changelog-0.1-SPRINT3.xml
  src/main/resources/db/changelog/db.changelog-0.1-SPRINT4.xml
  src/main/resources/db/changelog/db.changelog-0.1-SPRINT5.xml
  src/main/resources/db/changelog/db.changelog-0.1-SPRINT6.xml
  src/main/resources/db/changelog/db.changelog-0.1-SPRINT9.xml
  src/main/resources/db/changelog/db.changelog-1.2-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-10141-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-10141-2.xml
  src/main/resources/db/changelog/db.changelog-RDM-10141-3.xml
  src/main/resources/db/changelog/db.changelog-RDM-10165.xml
  src/main/resources/db/changelog/db.changelog-RDM-10167.xml
  src/main/resources/db/changelog/db.changelog-RDM-10340-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-10340.xml
  src/main/resources/db/changelog/db.changelog-RDM-10519.xml
  src/main/resources/db/changelog/db.changelog-RDM-1462.xml
  src/main/resources/db/changelog/db.changelog-RDM-1565.xml
  src/main/resources/db/changelog/db.changelog-RDM-2209.xml
  src/main/resources/db/changelog/db.changelog-RDM-2230.xml
  src/main/resources/db/changelog/db.changelog-RDM-2298.xml
  src/main/resources/db/changelog/db.changelog-RDM-2316.xml
  src/main/resources/db/changelog/db.changelog-RDM-2836.xml
  src/main/resources/db/changelog/db.changelog-RDM-2839.xml
  src/main/resources/db/changelog/db.changelog-RDM-2901.xml
  src/main/resources/db/changelog/db.changelog-RDM-3532.xml
  src/main/resources/db/changelog/db.changelog-RDM-3922-part-2.xml
  src/main/resources/db/changelog/db.changelog-RDM-3922.xml
  src/main/resources/db/changelog/db.changelog-RDM-4060-part-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-4396.xml
  src/main/resources/db/changelog/db.changelog-RDM-4641.xml
  src/main/resources/db/changelog/db.changelog-RDM-4776.xml
  src/main/resources/db/changelog/db.changelog-RDM-4970.xml
  src/main/resources/db/changelog/db.changelog-RDM-5110.xml
  src/main/resources/db/changelog/db.changelog-RDM-5138.xml
  src/main/resources/db/changelog/db.changelog-RDM-5190.xml
  src/main/resources/db/changelog/db.changelog-RDM-6111.xml
  src/main/resources/db/changelog/db.changelog-RDM-6916.xml
  src/main/resources/db/changelog/db.changelog-RDM-8463.xml
  src/main/resources/db/changelog/db.changelog-RDM-8485.xml
  src/main/resources/db/changelog/db.changelog-RDM-8747.xml
  src/main/resources/db/changelog/db.changelog-RDM-8958.xml
  src/main/resources/db/changelog/db.changelog-RDM-9287.xml
  src/main/resources/db/changelog/db.changelog-RDM-9505.xml
  src/main/resources/db/changelog/db.changelog-RDM-9696.xml
  src/main/resources/db/changelog/db.changelog-RDM-9910.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/scripts/case_reference_migration.sql
  src/main/resources/db/migration/V0001__Base_version.sql
  src/main/resources/liquibase.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1452

#1467 Suppress old Sonar Warnings
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1467

#1472 CCD-992: Fix Intermittent Supplementary Data Failures
  src/aat/resources/features/F-106/F-106.feature
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryData.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1472

#1461 CCD-127 Fortify Issue 13316309 - Log Forging - High
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptor.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1461

#1466 CCD-1017 remove sensitive information from repo
  src/contractTest/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1466

#1477 Ignore the FT tests that are failing intermittently
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/F-105.feature
  src/aat/resources/features/F-106/F-106.feature
  src/aat/resources/features/F-107/F-107.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1477

#1465 CCD-999 extend CCD_DOCUMENT_URL_PATTERN for AAT to accept preview URLs
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1465

#1468 Ccd 1025 data store
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/security/DefaultAuthorisedCaseDefinitionDataService.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultAuthorisedCaseDefinitionDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESSecurityIT.java
  src/test/resources/elasticsearch/data/security_cases/security-case-04.json
  src/test/resources/mappings/security-case-type-1.json
  src/test/resources/sql/insert_case_users.sql
  src/test/resources/sql/insert_elasticsearch_cases.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1468

#1475 CCD-992: Fix intermittent functional test failures
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/F-105.feature
  src/aat/resources/features/F-106/F-106.feature
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/IncrementSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryData.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/DefaultSupplementaryDataUpdateOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1475

#1482 Ccd 992 ft fixes v2
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/IncrementSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryData.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/supplementarydata/DefaultSupplementaryDataUpdateOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1482

#1486 CCD-992: Close review comments
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1486

#1480 CCD-1026 CCD / ExUI: Integrate "Default State" Workbasket Input Filter with CaseRoles Permissions
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/JurisdictionViewResource.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/UserProfileEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIUserProfileControllerIT.java
  src/test/resources/mappings/jurisdiction_test.json
  src/test/resources/sql/insert_case_users.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1480

#1473 CCD-992: Fix Intermittent Supplementary Data Failures
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-105 - Add Case-Assigned Users and Roles/F-105.feature
  src/aat/resources/features/F-106/F-106.feature
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SupplementaryDataQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryData.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/SetSupplementaryDataQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/std/SupplementaryDataTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1473

#1399 RDM-11035 OCMC: OCON9x paper response form button should be disabled
  src/aat/resources/features/F-029/S-049.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerDCPIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1399

#1491 CCD-1219 : Updated CVE suppress until date by 1 month
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1491

#1489 RDM-11097: CCD-DATA-STORE: Upgrade to Postgres 11 on PROD
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1489

#1493 Increase DB sizes (without autogrow)
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1493

#1490 RDM-11097: CCD-DATA-STORE: Upgrade to Postgres 11 on PROD (bootstrap …
  charts/ccd-data-store-api/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1490

#1495 update user profile develop pr
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1495

#1481 RDM-11190 ETag client implementation
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1481

#1498 CCD-1228 CVE-2021-22112 (CCD Data Store API)
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1498
