Repository hmcts/ccd-data-store-api, pull requests merged in 2021-08, with the labels that each got.

#1524 CCD:1281 - Remove Draft ID validation
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGateway.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/draft/DraftResponse.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1524

#1517 CCD-322 ES query returning [] for collections with _source
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1517

#1604 Rdm 12700 patch
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/CaseSearchRequestSecurity.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurity.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/elasticsearch/ElasticsearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchQueryHelperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurityTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1604

#1598 CCD-1717: Introduce Concurrent Execution of Integration Tests
  .travis.yml
  Jenkinsfile_CNP
  build.gradle
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchITConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESSecurityIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1598

#1555 RDM-10924 Migrate Grant Access to a Case APIs to new Access Control
  build.gradle
  src/aat/resources/features/F-045 - Grant Access V1/F-045.feature
  src/aat/resources/features/F-045 - Grant Access V1/F-045_Test_Data_Base.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-151.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-152.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-153.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-154.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-544.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-545.td.json
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentAttributesResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentQuery.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentRequestResponse.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleCategory.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleRequestResource.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/CaseAccessMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/GrantType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/enums/ActorIdType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/enums/Classification.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/enums/GrantType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/enums/RoleType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/GrantTypeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/FilteredRoleAssignments.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapperImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleType.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/CaseAccessMetadataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/BeginDateEndDateMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/GrantTypeMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/BaseFilter.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/FilteredRoleAssignmentsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapperTest.java
  src/test/resources/__files/roleassignmentservice/create_role_assignments.json.hbs
  src/test/resources/mappings/roleassignmentservice/create_role_assignments.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1555

#1605 RDM-10918: Migrate Revoke Access APIs to new Access Control
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/MultipleQueryRequestResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentQuery.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignmentsDeleteRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/CachedRoleAssignmentRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/resources/mappings/roleassignmentservice/delete_role_assignments_by_query.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1605

#1558 RDM-12594 role category column
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/aat/resources/features/F-045 - Grant Access V1/F-045_Test_Data_Base.td.json
  src/aat/resources/features/F-047 - Get Case IDs/F-047_Grant_Access.td.json
  src/aat/resources/features/F-047 - Get Case IDs/F-047_Test_Data_Base.td.json
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseUserEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleCategory.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/main/resources/application.properties
  src/main/resources/db/migration/V20210705_12594__RDM-12504_add_role_to_case_users.sql
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseAccessEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/security/idam/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/AddCaseAssignedUserRolesControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/BaseCaseAssignedUserRolesControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserControllerIT.java
  src/test/resources/sql/insert_case_users.sql
  src/test/resources/sql/insert_case_users_valid_case_ids.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1558

#1572 CCD-382 SQL injection vulnerability
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SortOrderQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1572

#1609 Suppress CVE-2021-22144
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1609

#1608 CCD-1124: Intermittent Integration test failure with error "Too many actual invocations"
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1608

#1612 CCD-1227 : New indices for slow queries.
  src/main/resources/db/migration/V20210810_1227__CCD-1227_analyse_arrange_required_indexes_data_store.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1612

#1606 RDM-12724: Resolve differences in behaviour with migrated case role functions
  src/aat/resources/features/F-045 - Grant Access V1/Befta_Jurisdiction2/F-045_Befta_Jurisdiction2_Full_Case_Creation_Data.td.json
  src/aat/resources/features/F-045 - Grant Access V1/Befta_Jurisdiction2/F-045_Befta_Jurisdiction2_Full_Case_Creation_Data_Token_Creation.td.json
  src/aat/resources/features/F-045 - Grant Access V1/Befta_Jurisdiction2/F-045_Grant_Case_Role.td.json
  src/aat/resources/features/F-045 - Grant Access V1/Befta_Jurisdiction2/F-045_Verify_Granted_Extra_Case_Role_for_Case.td.json
  src/aat/resources/features/F-045 - Grant Access V1/Befta_Jurisdiction2/F-045_Verify_Granted_Multiple_Case_Roles_for_Case.td.json
  src/aat/resources/features/F-045 - Grant Access V1/F-045.feature
  src/aat/resources/features/F-045 - Grant Access V1/F-045_Get_Case_Roles_for_Case__Base.td.json
  src/aat/resources/features/F-045 - Grant Access V1/F-045_Verify_Granted_Case_Role_for_Case.td.json
  src/aat/resources/features/F-045 - Grant Access V1/F-045_Verify_Granted_No_Case_Roles_for_Case.td.json
  src/aat/resources/features/F-045 - Grant Access V1/S-045.07.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/F-046.feature
  src/aat/resources/features/F-046 - Revoke Access V1/F-046_Base_Request_Data.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/F-046_Get_Case_Roles_for_Case__Base.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/F-046_Grant_Access.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/F-046_Verify_Granted_Case_Role_for_Case.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/F-046_Verify_Granted_No_Case_Roles_for_Case.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/S-222.td.json
  src/aat/resources/features/F-046 - Revoke Access V1/S-223.td.json
  src/aat/resources/features/F-047 - Get Case IDs/F-047.feature
  src/aat/resources/features/F-047 - Get Case IDs/F-047_Grant_Access.td.json
  src/aat/resources/features/F-047 - Get Case IDs/F-047_Test_Data_Base.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-097.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-098.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-099.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-100.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-570.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-571.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-572.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-573.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-574.td.json
  src/aat/resources/features/F-047 - Get Case IDs/S-575.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1606

#1582 CCD-231: Send Email ID as part of request header to find user profile
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/UserDefaultCollection.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/UserServiceTest.java
  src/test/resources/mappings/user1-profile.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1582

#1617 excluding hearing doc nodes for metadata processing.
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentUtils.java
  src/test/resources/tests/case-data.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1617

#1618 CCD-1833 Added missing env variable
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1618

#1621 Suppress CVE-2021-28170
  Jenkinsfile_nightly
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1621

#1624 CCD-1827 remove Codacy
  .travis.yml
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1624

#1594 RDM-12671
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/GrantType.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignments.java
  src/test/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultJurisdictionsResolverTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1594

#1599 RDM-12700 Make data classification in ES response optional
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurity.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/AuthorisedCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1599

#1614 RDM-12745 - Default role category to CITIZEN
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/AddCaseAssignedUserRolesControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1614

#1631 Suppress CVE-2020-23171
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1631

#1610 RDM-12683 Implement reference data caching
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/ReferenceDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/BuildingLocation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/CourtVenue.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/Service.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/ITSecurityUtils.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataCacheRefreshIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataTestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointUserRolesIT.java
  src/test/resources/cache-refresh-schedule.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1610

#1596 CCD-1351: Improve performance of /profile endpoint to speed up CCD Logins
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperation.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1596

#1556 CCD-1570: Log warning messages for empty collection values
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCreateCaseOperation.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/CaseDataIssueLogger.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/CaseDataIssueLoggerTest.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1556

#1632 double storage for higher iops
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1632

#1600 Release Cut 23.1
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGateway.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/draft/DraftResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1600

#1633 Resolve CVE-2021-22119 & CVE-2021-28170
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1633

#1629 RDM-12578 filter user roles
  src/main/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolver.java
  src/test/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolverTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1629

#1634 CCD-322: Revert
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1634
