Repository hmcts/ccd-data-store-api, pull requests merged in 2021-02, with the labels that each got.

#1324 RDM-10838 - SpringBootTest app context caching for reduced integration testing time
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/CoreCaseDataApplication.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointUserRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/SearchWithSortIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/BaseCaseAssignedUserRolesControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentControllerITest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventControllerCaseRolesIT.java
  src/test/resources/integration_tests.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1324

#1332 RDM-10431 [2] - Data block for additional information
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/AbstractMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableField.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CollectionValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1332

#1312 RDM-10622 - Publish CaseEvent Message Definition Section
  src/main/java/uk/gov/hmcts/ccd/config/MessagingProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/AdditionalMessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/AbstractMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlock.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableField.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CollectionValidator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/message/additionaldata/DefinitionBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/messagepublishing-definition.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1312

#1303 RDM-10431 RDM-10622
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/main/java/uk/gov/hmcts/ccd/config/MessagingProperties.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/AdditionalMessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/AbstractMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlock.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableField.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CollectionValidator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/message/additionaldata/DefinitionBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContextTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/messagepublishing-definition.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1303

#1267 RDM-10169 populate Message Candidate table for Case Event
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/main/java/uk/gov/hmcts/ccd/config/MessagingProperties.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageCandidateMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageCandidateRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageQueueCandidateEntity.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/AdditionalMessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/MessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/MessageQueueCandidate.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/AbstractMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlock.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableField.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CollectionValidator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/message/MessageCandidateMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/data/message/additionaldata/DefinitionBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContextTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/bookcase-definition-default-pre-state.json
  src/test/resources/mappings/bookcase-definition.json
  src/test/resources/mappings/messagepublishing-definition.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1267

#1252 Rdm 10196
  dependency-check-suppressions.xml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1252

#1171 RDM-8898: Removed credentials
  charts/ccd-data-store-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1171

#1331 Update prod.tfvars increase D/B disk
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1331

#1337 set to exact value
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1337

#1341 Resolve master to develop conflicts
  infrastructure/prod.tfvars
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-121/S-121.1.td.json
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.5.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/S-127.1.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/S-127.2.td.json
  src/aat/resources/features/common/casefields/BaseCaseViewField.td.json
  src/main/java/uk/gov/hmcts/ccd/config/MessagingProperties.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageCandidateMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageCandidateRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/message/MessageQueueCandidateEntity.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/AdditionalMessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/MessageInformation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/MessageQueueCandidate.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/AbstractMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/MessageType.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContext.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlock.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableField.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CollectionValidator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/message/MessageCandidateMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/data/message/additionaldata/DefinitionBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseViewFieldBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/CaseEventMessageServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/AdditionalDataContextTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DataBlockGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/DefinitionBlockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/message/additionaldata/PublishableFieldTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/bookcase-definition-default-pre-state.json
  src/test/resources/mappings/bookcase-definition.json
  src/test/resources/mappings/messagepublishing-definition.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1341

#1344 Fix failing test by adding missing retain_hidden_value field
  build.gradle
  src/aat/resources/features/F-104/S-638.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1344

#1354 Update befta-fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1354

#1343 RDM-10996: Create query that returns audit events without the large j…
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventRepository.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1343

#1353 RDM-11005: Refactor query so we do not fetch whole CaseDetails object
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CachedCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactory.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/SelectCaseDetailsReferenceQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderFactoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1353

#1349 RDM-11155 - Align IDs to scope doc
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/MessageInformation.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1349

#1300 RDM-10041 Creating CaseLocation complex type
  charts/ccd-data-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseLocationValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/RegionValidator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/types/BaseLocationValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/RegionValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1300

#1367 Fix develop build
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventEntity.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1367

#1370 fix develop
  src/aat/resources/features/F-126/F126_Update_Case_With_On_Behalf_Of_User.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1370

#1371 temporarily ignore test to unblock pipeline
  src/aat/resources/features/F-126/F-126.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1371

#1368 RDM-11239
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/aat/resources/features/common/fieldtypes/WizardPageComplexFieldOverride.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1368

#1372 RDM-10738 Resolve modifications to already-released changelog
  src/main/resources/db/changelog/db.changelog-RDM-10340-1.xml
  src/main/resources/db/changelog/db.changelog-RDM-10340.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1372

#1376 Rdm 11212 fix develop 2
  src/aat/resources/features/F-126/F-126.feature
  src/aat/resources/features/F-126/F126_Get_CaseEvent_With_On_Behalf_Of_User.td.json
  src/aat/resources/features/F-126/F126_Update_Case_With_On_Behalf_Of_User.td.json
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseAuditEventEntity.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1376

#1375 RDM-10920 classes for new access control
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentAttributesResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignmentAttributes.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignments.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewFromDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/AccessControlledGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/ClassifiedGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/DefaultGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/AccessControlledGetCaseOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1375

#1379 RDM-11213: Disregard [CREATOR] role
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1379

#1380 RDM-10737 Update FTA test data for use with befta-fw containing "Switchable Default for Collection Assertion"
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-034/S-034.1.td.json
  src/aat/resources/features/F-034/S-034.2.td.json
  src/aat/resources/features/F-035/S-159.td.json
  src/aat/resources/features/F-036/S-199.td.json
  src/aat/resources/features/F-037/S-024.td.json
  src/aat/resources/features/F-037/S-037-TEMP_CreateCase.td.json
  src/aat/resources/features/F-037/S-037.1.td.json
  src/aat/resources/features/F-044/S-044-TEMP_CreateCase.td.json
  src/aat/resources/features/F-044/S-044.1.td.json
  src/aat/resources/features/F-050/S-050.1.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-053/S-269.td.json
  src/aat/resources/features/F-065/S-164-Prerequisite_Case_Update.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-104/S-625.td.json
  src/aat/resources/features/F-104/S-626.td.json
  src/aat/resources/features/F-104/S-627.td.json
  src/aat/resources/features/F-104/S-629.td.json
  src/aat/resources/features/F-104/S-630.td.json
  src/aat/resources/features/F-104/S-631.td.json
  src/aat/resources/features/F-104/S-632.td.json
  src/aat/resources/features/F-104/S-633.td.json
  src/aat/resources/features/F-104/S-634.td.json
  src/aat/resources/features/F-104/S-635.td.json
  src/aat/resources/features/F-104/S-636.td.json
  src/aat/resources/features/F-104/S-637.td.json
  src/aat/resources/features/F-104/S-639.td.json
  src/aat/resources/features/F-104/S-640.td.json
  src/aat/resources/features/F-109/S-945.td.json
  src/aat/resources/features/F-109/S-946.td.json
  src/aat/resources/features/F-109/S-947.td.json
  src/aat/resources/features/F-112/F-112-Befta_Master_ComplexCollectionComplex_Case_Creation.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1380

#1298 RDM-3079: Search by case id not working with hyphens
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/CaseIdHelperTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/util/CaseIdHelper.java
  src/aat/resources/features/F-122/ES_Internal_search_response_headers.td.json
  src/aat/resources/features/F-122/F-122.feature
  src/aat/resources/features/F-122/F-122_Test_Data_Base.td.json
  src/aat/resources/features/F-122/S-122.1.td.json
  src/aat/resources/features/F-122/S-122.2.td.json
  src/aat/resources/features/F-122/case_creation/Create_Case_Private_Autotest1.td.json
  src/aat/resources/features/F-122/case_creation/Create_Case_Private_Autotest1_Ordering1_1.td.json
  src/aat/resources/features/F-122/case_creation/Create_Case_Private_Autotest1_Ordering1_1_Token_Creation.td.json
  src/aat/resources/features/F-122/case_creation/GetToken_Autotest1.td.json
  src/test/resources/elasticsearch/config/index-settings.json
  src/test/resources/elasticsearch/config/mappings-aat_cases.json
  src/test/resources/elasticsearch/config/mappings-mapper_cases.json
  src/test/resources/elasticsearch/config/mappings-restricted_security_cases.json
  src/test/resources/elasticsearch/config/mappings-security_cases.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1298
