Repository hmcts/ccd-data-store-api, pull requests merged in 2021-07, with the labels that each got.

#1551 CCD-142: Fix Flaky Data Store Test
  src/test/resources/mappings/base-types.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1551

#1557 RDM-12659 - Checking document id is accessible to user
  src/aat/resources/features/F-1001/S-1052.td.json
  src/aat/resources/features/F-1001/S-1053.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/GetCaseDocumentOperation.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDocumentController.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/GetCaseDocumentsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
  src/test/resources/tests/case-details-data.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1557

#1552 RDM-12424 RoleCategory from Idam user roles
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleCategory.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentCategoryServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/security/idam/IdamRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1552

#1553 RDM-12575 - add FieldTypeDefinitions to CaseView fields
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1553

#1544 Rdm 12364 - Update the V2 internal APIs that return Access metadata information for Create endpoint
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/FilteredRoleAssignments.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentFilteringResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/RoleAssignmentsFilteringServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/FilteredRoleAssignmentsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentFilteringResultTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1544

#1554 RDM-12624: SQL query doesn't retrieve cases from RAS when user has 'caseworker-befta_master-solicitor' role
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/CreatorGetCaseOperation.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/CreatorGetCaseOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1554

#1549 RDM-12549: Migrate internal search APIs to Access Profiles
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/SearchQueryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1549

#1505 RDM 12421
  build.gradle
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-066/S-182.td.json
  src/aat/resources/features/F-121/S-121.1.td.json
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.5.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.1.td.json
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.2.td.json
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.3.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseUpdateViewEvent.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseUpdateViewEventBuilder.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseUpdateViewEventBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1505

#1565 Update ccd-test-definitions to v7.2.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1565

#1564 fix for CVE-2021-27568
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1564

#1574 fix for CVE-2021-33037
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1574

#1527 Enable PACT
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/TestIdamConfiguration.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/mappings/openid_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1527

#1563 Rdm 12672 - Use case-doc-am-client in CCD Data Store
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/CaseDocumentsMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClient.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentMetadataMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClientTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentMetadataMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentServiceTest.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1563

#1583 CCD-1662 - Separate IDAM_USER_URL into IDAM_API_BASE_URL and IDAM_OIDC_URL
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1583

#1584 Change PACT version selector
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1584

#1579 Fortify Issue fix - 14849927-14849928 Log Forging
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptor.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1579

#1585 Fortify integration
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1585

#1587 CCD-1330: Updated CVE suppression dates to 25/08/2021
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1587

#1577 adding Scenario: User submits case creation with no CaseType R Access…
  dependency-check-suppressions.xml
  src/aat/resources/features/F-130 - Access Control CRUD/F-130.feature
  src/aat/resources/features/F-130 - Access Control CRUD/S-130.7.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1577

#1566 RDM-12531 external create case api FTAs
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130.feature
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130_Test_Data_Base.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.1.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.1_Get_Event_Trigger.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.2.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.3.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.4.td.json
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.7.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.2.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.2_Token_Creation.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.5_CreateCase.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.feature
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131_CreateCase.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131_Test_Data_Base.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131_Token_Creation_Base.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.1.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.1_Token_Creation.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.4.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.4_Token_Creation.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.5.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.5_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-131 - AC CRUD external createEvent/S-131.5_Token_Creation.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132.2.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132.feature
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132_CreateCase.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132_Event_Creation_Base.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132_Token_Creation_Base.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/S-131.2_Event5_Creation.td.json
  src/aat/resources/features/F-132 - AC CRUD external getEvent/S-131.2_event5_Token_Creation.td.json
  src/aat/resources/features/F-133 - AC CRUD external getCase/F-133.feature
  src/aat/resources/features/F-133 - AC CRUD external getCase/F-133_CreateCase.td.json
  src/aat/resources/features/F-133 - AC CRUD external getCase/F-133_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-133 - AC CRUD external getCase/S-133.1.td.json
  src/aat/resources/features/F-133 - AC CRUD external getCase/S-133.1_Event_Creation.td.json
  src/aat/resources/features/F-133 - AC CRUD external getCase/S-133.1_event_Token_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1566

#1581 Rdm 12629
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1581

#1595 RDM-12710 Add missing upload response fields
  charts/ccd-data-store-api/Chart.yaml
  src/aat/resources/features/F-044 - Submit Event V1 External/S-579-Update_Case_For_Solicitor_Data_Base.td.json
  src/aat/resources/features/F-044 - Submit Event V1 External/S-579.td.json
  src/aat/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/contractTest/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1595

#1593 RDM-12701: Remove Embedded Postgres
  README.md
  build.gradle
  src/test/java/uk/gov/hmcts/ccd/ITestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/PersistenceIT.java
  src/test/java/uk/gov/hmcts/ccd/PostgresUtil.java
  src/test/java/uk/gov/hmcts/ccd/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CallbackTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/IdamIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/IntegrationTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/ServiceToServiceIT.java
  src/test/resources/integration_tests.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1593

#1586 CCD-241 Add check for date format sent to API
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/SearchWithSortIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1586

#1592 CCD-1704 - Create multicolumn index on case_users_audit
  src/main/resources/db/migration/V20210727_1704__CCD-1704_add_index_case_users_audit.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1592

#1435 RDM-11857: Test build with maxParallelForks
  .travis.yml
  Jenkinsfile_CNP
  build.gradle
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchITConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointESSecurityIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1435
