Repository hmcts/ccd-data-store-api, pull requests merged in 2021-12, with the labels that each got.

#1750 CFTS-1587 - Don't cache SC when case reference does not exist (Legacy cases)
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CachedCaseDataAccessControlImpl.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1750

#1751 Default case metadata for search with "psuedo" case records
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1751

#1753 CCD-2240: Tactical fix for Multiparty Event
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1753

#1756 Four test scenarios were flagged with @Ignore
  src/aat/resources/features/F-065 - Get Case V2 Internal/F-065.feature
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/F-134.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1756

#1761 CCD-2312: Temporarily disable Fortify Scan in nightly build
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1761

#1762 update log4j version to 2.15.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1762

#1765 CCD-2343 and CCD-2346 combined
  src/aat/resources/features/F-126 - Get Case Events On Behalf Of User/F-126.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/resources/mappings/case-type-definition-probate-GrantOfRepresentation.json
  src/test/resources/mappings/jurisdiction_probate.json
  src/test/resources/mappings/messagepublishing-definition.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1765

#1764 CCD-2343: Request scope caching improvement for CaseDefinitionRepository
  src/aat/resources/features/F-126 - Get Case Events On Behalf Of User/F-126.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1764

#1771 Revert "CCD-2343: Request scope caching improvement for CaseDefinitionRepository"
  src/aat/resources/features/F-126 - Get Case Events On Behalf Of User/F-126.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1771

#1768 CCD-2351: Update log4j version to 2.16.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1768

#1770 removed @Ignore from @S-552
  src/aat/resources/features/F-053 - Create Case Citizen V1 External/F-053.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1770

#1772 CCD-2231-update-cve-suppression-dates-dec-2021
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1772

#1769 CCD-2350: Fix the ignored tests as part of CCD-2343
  src/aat/resources/features/F-126 - Get Case Events On Behalf Of User/F-126.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1769

#1774 CCD-2374: Update log4j version to 2.17.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1774
