Repository hmcts/ccd-data-store-api, pull requests merged in 2021-11, with the labels that each got.

#1707 Filter out EXCLUDED role assignments in pseudo generation for granted users
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGenerator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGeneratorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1707

#1710 CCD-2112: Address CVE-2021-42340
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1710

#1703 RDM-12907 exclude null fields
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/GlobalSearchResponsePayload.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1703

#1642 RDM-12490 prune result sets
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/SearchCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/globalsearch/GlobalSearchParser.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/globalsearch/GlobalSearchParserTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1642

#1713 CCD-2130 and CCD-2129
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CommonField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1713

#1711 RDM-12906: Implementation of wildcard search for some fields
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchQueryBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1711

#1715 CCD-2136: Address CVE-2021-22096
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1715

#1725 RDM-12965 - Cache RoleToAccessProfiles info for case types
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1725

#1723 RDM-12950 - Group role assignments for building search queries
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/AccessControlGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/ChallengedGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/ExcludedGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeSqlQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/SpecificGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/StandardGrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/SearchRoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/ExcludedGrantTypeESQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/AccessControlGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/ChallengedGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/AccessControlGrantTypeESQueryBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1723

#1724 RDM-12959: Remove Classification check against Jurisdiction in ES
  src/main/java/uk/gov/hmcts/ccd/domain/service/security/DefaultAuthorisedCaseDefinitionDataService.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultAuthorisedCaseDefinitionDataServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1724

#1726 RDM-12954: [AC] Can't Search (ES) for casetype higher than PUBLIC
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CachedCaseDataAccessControlImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/NoCacheCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedSecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/security/DefaultAuthorisedCaseDefinitionDataService.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedSecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultAuthorisedCaseDefinitionDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1726

#1696 Update Jenkinsfile_CNP syncBranchesWithMaster
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1696

#1728 RDM-12969: [AC] Incorrect (SQL) Search result for caseType higher than PUBLIC
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/AuthorisedSearchOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1728

#1730 RDM-12954 - Get user classifications depending on whether creation flow
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CachedCaseDataAccessControlImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/NoCacheCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/security/DefaultAuthorisedCaseDefinitionDataService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultAuthorisedCaseDefinitionDataServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1730

#1733 RDM-12960 - Group by role name in search to reduce number of calls
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeSqlQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/SearchRoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilder.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1733

#1735 RDM-12984: [AC] User accessing idam configured case with no valid RA …
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/ClassifiedStartEventOperation.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1735

#1722 CCD-2154: Fix functional test failure in nightly build
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1722

#1736 RDM-12966
  build.gradle
  charts/ccd-data-store-api/values.aat.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-1008 - Submit Event Creation Handle Case Links/F-1008-VerifyCaseLinks.td.json
  src/aat/resources/features/F-1008 - Submit Event Creation Handle Case Links/F-1008.feature
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseLinkRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedeletion/CaseLinksResource.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedeletion/CaseLinkMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedeletion/CaseLinkService.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/TestingSupportController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CaseLinkRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedeletion/CaseLinkMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedeletion/CaseLinkServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/TestingSupportControllerTestIT.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1736

#1734 RDM-12895 always populate SearchCriteria if GS configured
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1734

#1739 CCD-2107: Updated CVE suppression dates
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1739

#1743 CCD-2177: Review CVE suppressions
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1743

#1749 Fix FT
  src/aat/resources/features/F-104 - Internal Search API/Base_Case_Fields_Expected.td.json
  src/aat/resources/features/F-108 - External Search API/S-925/S-925.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/Base_Case_Fields__internal_Expected.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/S-947.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1749
