Repository hmcts/ccd-data-store-api, pull requests merged in 2021-06, with the labels that each got.

#1474 Release cut 22.1
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1474

#1506 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1506

#1503 RDM-11097: remove old db
  charts/ccd-data-store-api/values.aat.template.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1503

#1507 RDM-11097: remove postgres v11 secrets
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1507

#1499 CCD-1122: Intermittent issue fix
  src/aat/resources/features/F-101 - Grant Access V2/F-101.feature
  src/aat/resources/features/F-107 - Org Policy/F-107.feature
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseType.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/BaseTypeTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1499

#1512 change resource path of valid ccd test definitions
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1512

#1454 RDM-12121: Code cleanup for Fortify issues
  src/main/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGateway.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1454

#1502 CCD-1122: Intermittent issue fix
  src/aat/resources/features/F-101/F-101.feature
  src/aat/resources/features/F-107/F-107.feature
  src/main/java/uk/gov/hmcts/ccd/domain/types/BaseType.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/BaseTypeTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1502

#1516 bump befta version for adapted test
  build.gradle
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-066/S-182.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1516

#1521 CCD-1263 CVE-2021-22118 in CCD Data Store API
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1521

#1520 RDM-12540: Fix json issue on access control list
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlList.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedAccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlListTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedAccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1520

#1497 RDM-12309 Make getJurisdictions() access controlled
  src/main/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/IdamJurisdictionsResolver.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserService.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignments.java
  src/test/java/uk/gov/hmcts/ccd/data/user/AttributeBasedJurisdictionsResolverTest.java
  src/test/java/uk/gov/hmcts/ccd/data/user/DefaultJurisdictionsResolverTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1497

#1509 CCD-1108 Fix Unnecessary Error Logs after CCD-107 and CCD-127
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptor.java
  src/test/java/uk/gov/hmcts/ccd/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1509

#1519 CCD-1249 : Creating a new index for hearingVenue
  src/main/resources/db/migration/V20210608__CCD-1249_add_index_hearingVenue.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1519

#1479 RDM-10800-Update the V2 internal APIs that return Access metadata information for Read and Update/Delete operations
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/AbstractCaseView.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/aggregated/CaseUpdateViewEvent.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/CaseAccessMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchesViewAccessControl.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/CaseAccessMetadataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetEventTriggerOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1479

#1526 RDM-11411: Code changes required for the Create functionality
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignmentFilteringResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleMatchingResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/BeginDateEndDateMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/CaseIdMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/CaseTypeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/JurisdictionMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/LocationMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RegionMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RoleAttributeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/SecurityClassificationMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/BeginDateEndDateMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/CaseIdMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/JurisdictionMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/LocationMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RegionMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/SecurityClassificationMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/BaseFilter.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/RoleAssignmentsFilteringServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleAssignmentsGeneratorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1526

#1510 Rdm 11973
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/query/UserAuthorisationSecurity.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getevents/AuthorisedGetEventsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchUserCaseAccessFilter.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/CaseDetailsQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/query/UserAuthorisationSecurityTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchUserCaseAccessFilterTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1510

#1513 integrate new pipeline stages for high level data setup
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/HighLevelDataSetupApp.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/TestDataLoaderMain.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/helper/idam/OAuth2.java
  src/aat/resources/features/F-048/S-135.td.json
  src/aat/resources/features/F-054/S-095.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1513

#1538 befta-fw update to 8.2.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1538

#1531 RDM-11981 Filtering Role Assignments that apply for a CaseType for
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentAttributesResource.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignment.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/RoleAssignmentAttributes.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/BeginDateEndDateMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/CaseTypeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/GrantTypeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RoleAttributeMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RoleNameMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapperImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchUserCaseAccessFilter.java
  src/test/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/RoleAssignmentResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/GrantTypeMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/RoleNameMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/BaseFilter.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchUserCaseAccessFilterTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1531

#1540 CCD-1263 CVE-2021-22118 in CCD Data Store API refactored for testing …
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/v2/internal/resource/CaseUpdateViewEventResource.java
  src/main/resources/application.properties
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseRoleDefinitionRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1540

#1535 Security Classification FTAs
  build.gradle
  src/aat/resources/features/F-129 - Access Control SC/F-129.5_Private_Case_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129.5_Restricted_Case_Not_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129_Get_Case_Base.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Private_Case_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Private_Case_Not_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Restricted_Case_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Restricted_Case_Not_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Test_Data_Base.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.1.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.2.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.3.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.4.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.5.td.json
  src/aat/resources/features/F-129 - Access Control SC/S-129.6.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Private_Case_Created.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Private_Case_Created_Token_Creation.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Public_Case_Created.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Public_Case_Created_Token_Creation.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Restricted_Case_Created.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Restricted_Case_Created_Token_Creation.td.json
  src/aat/resources/features/common/users/RestrictedCaseworker.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1535

#1542 RDM-11352 - renamed case data doc json hasToken to "document_hash"
  src/aat/resources/features/F-032/F-032_Case_Creation_Data_With_Document.td.json
  src/aat/resources/features/F-037/S-577.td.json
  src/aat/resources/features/F-1001/F-1001-Base-Root.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1011.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1013.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1014.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1015.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1016.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1017.td.json
  src/aat/resources/features/F-1002 - Case Update With Documents/S-1018.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/F-1003-Base-Root.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/S-1031.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/S-1034.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/S-1035.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/S-1036.td.json
  src/aat/resources/features/F-1003 - Case Creation With Documents/S-1037.td.json
  src/aat/resources/features/common/case/befta-jurisdiction2-citizen-case-creation/Befta_Jurisdiction2_Default_Citizen_Case_Creation_Data.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentUtils.java
  src/test/resources/tests/A-case-detail-after-update.json
  src/test/resources/tests/A-case-detail-update.json
  src/test/resources/tests/SubmitTransactionBadDocumentUpload.json
  src/test/resources/tests/SubmitTransactionDocumentUpload.json
  src/test/resources/tests/case-detail-after-update.json
  src/test/resources/tests/case-detail-before.json
  src/test/resources/tests/case-detail-plain-fields-update.json
  src/test/resources/tests/new-document-with-hashtoken.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1542

#1514 Update prod.tfvars bump storage
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1514

#1534 RDM-12591: Create Case issue with Security Classification
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedSecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/ClassifiedCreateCaseOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedSecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/ClassifiedCreateCaseOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1534

#1548 enable HighLevelDataSetup for nightly pipeline
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1548

#1508 RDM-12225 - Use display context parameter to indicate when Collection items are updatable
  src/aat/resources/features/F-028 - Get Event Trigger for Case V1 Internal/S-044.td.json
  src/aat/resources/features/F-029 - Get Event Trigger V1 Internal/S-049.td.json
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.2.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/DisplayContextParameterCollectionOptions.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerDCPIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1508

#1543 Rdm 11449
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/OrgPolicyCaseAssignedRoleValidator.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseRoleDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseRoleDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/OrgPolicyCaseAssignedRoleValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1543
