Repository hmcts/ccd-data-store-api, pull requests merged in 2021-09, with the labels that each got.

#1636 Feature/rdm 12718 transform search response
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/ReferenceDataRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/dto/globalsearch/GlobalSearchResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/HttpError.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/LocationLookup.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/ServiceLookup.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/ServiceReferenceData.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/GlobalSearchRequestPayload.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/GlobalSearchSortByCategory.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/GlobalSearchSortDirection.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/Party.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/SearchCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/search/global/SortCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/PartiesValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/SortByValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/SortDirectionValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/ValidPartiesItems.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/ValidSortBy.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/ValidSortDirection.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/validator/ValidationError.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/globalsearch/GlobalSearchService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/globalsearch/GlobalSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/globalsearch/LocationCollector.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/globalsearch/SearchResponseTransformer.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/TestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataCacheRefreshIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataTestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/common/HttpErrorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/search/global/GlobalSearchRequestPayloadTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseDetailsUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/globalsearch/GlobalSearchServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/globalsearch/SearchResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/validator/PartiesValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/validator/SortByValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/validator/SortDirectionValidatorTest.java
  src/test/resources/tests/global-search-result-data.json
  src/test/resources/tests/global-search-result-supplementary-data.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1636

#1640 Update global search with master
  .github/workflows/scheduled-dummy-commit.yml
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCreateCaseOperation.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGateway.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/draft/DraftResponse.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/validate/CaseDataIssueLogger.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/draft/DefaultDraftGatewayTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/validate/CaseDataIssueLoggerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpointTest.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1640

#1639 Tests to validate AC CRUD for internal event-triggers api
  src/aat/resources/features/F-112 - ES Non-Searchable Fields/F-112.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130.feature
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.feature
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132.feature
  src/aat/resources/features/F-133 - AC CRUD external getCase/F-133.feature
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/F-134.feature
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135.3_CreateCase.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135.feature
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_CreateCase.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_Test_Data_Base.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.1.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.2_CreateEvent.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.2_Token_Creation.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.3.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S.135.2.td.json
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138.feature
  src/aat/resources/features/F-139 - AC CRUD internal case view/F-139.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1639

#1643 Rdm 12768 - Implement pre security filters for Global Search endpoint
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/CaseSearchRequestSecurity.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurity.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurityTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1643

#1648 Feature/rdm 12765 global search auth rules
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CaseSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/CrossCaseTypeSearchRequest.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/SearchIndex.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1648

#1646 RDM-12548 Create Missing CRUD Access Control Date-Store Internal API FTA
  build.gradle
  src/aat/resources/features/F-112 - ES Non-Searchable Fields/F-112.feature
  src/aat/resources/features/F-129 - Access Control SC/F-129.feature
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130.feature
  src/aat/resources/features/F-131 - AC CRUD external createEvent/F-131.feature
  src/aat/resources/features/F-132 - AC CRUD external getEvent/F-132.feature
  src/aat/resources/features/F-133 - AC CRUD external getCase/F-133.feature
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/F-134.feature
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/F-134_Test_Data_Base.td.json
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/S-134.1.td.json
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/S-134.2.td.json
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/S-134.3.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135.3_CreateCase.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135.feature
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_CreateCase.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/F-135_Test_Data_Base.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.1.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.2_CreateEvent.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.2_Token_Creation.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S-135.3.td.json
  src/aat/resources/features/F-135 - AC CRUD internal event-triggers/S.135.2.td.json
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136.feature
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/F-136_Test_Data_Base.td.json
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/S-136.1.td.json
  src/aat/resources/features/F-136 - AC CRUD internal work-basket-inputs/S-136.2.td.json
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137.feature
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/F-137_Test_Data_Base.td.json
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/S-137.1.td.json
  src/aat/resources/features/F-137 - AC CRUD internal search-inputs/S-137.2.td.json
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138.feature
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138_CreateCase.td.json
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138_GetEventId.td.json
  src/aat/resources/features/F-138 - AC CRUD internal case-history/F-138_Test_Data_Base.td.json
  src/aat/resources/features/F-138 - AC CRUD internal case-history/S-138.1.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/F-139.feature
  src/aat/resources/features/F-139 - AC CRUD internal case view/F-139_Test_Data_Base.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.1.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.1_CreateCase.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.1_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.2.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.2_CreateCase.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.2_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.3.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.3_Event_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.3_Event_Token_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.4.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.4_Event_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.4_Event_Token_Creation.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.5.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.5_CreateCase.td.json
  src/aat/resources/features/F-139 - AC CRUD internal case view/S-139.5_CreateCase_Token_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1646

#1649 Rdm 12768 - update unit tests
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/security/ElasticsearchCaseSearchRequestSecurityTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1649

#1654 NOJIRA Resolve intermittent test failure
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataCacheRefreshIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1654

#1655 RDM-12840 - Add Resolved TimeToLive metadata to case data
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/resources/db/migration/V20210921_12840__RDM_12840_add_resolved_ttl_to_case_data.sql
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1655

#1637 RDM 12682 - Update the Data Store to use the New SearchCriteria Tab and New SearchParty Tab
  build.gradle
  src/aat/resources/features/F-051 - Get Profile/S-109.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-533.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-580.td.json
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchParty.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/globalsearch/OtherCaseReference.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/globalsearch/SearchCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/globalsearch/SearchParty.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/globalsearch/SearchPartyValue.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/test/java/uk/gov/hmcts/ccd/GlobalSearchTestFixture.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataCacheRefreshIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/resources/mappings/bookcase-multipleSearchParties-definition-TestAddressBookCase.json
  src/test/resources/mappings/bookcase-searchParty-definition-TestAddressBookCase.json
  src/test/resources/sql/insert_cases_global_search.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1637

#1672 RDM-12861
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1672
