Repository hmcts/ccd-data-store-api, pull requests merged in 2021-01, with the labels that each got.

#1297 Rdm 10678
  dependency-check-suppressions.xml
  src/aat/resources/features/F-121/S-121.1.td.json
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.5.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1297

#1295 RDM-10671: increased HTTP max header size to address issue reported i…
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-028/S-044.td.json
  src/aat/resources/features/F-029/S-049.td.json
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-063/S-595.td.json
  src/aat/resources/features/F-064/S-596.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1295

#1305 Trigger notification
  src/aat/resources/features/F-106/F-106.feature
  src/aat/resources/features/F-120 supplementary_data in ES Search API/F-120.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1305

#1304 Setting classification for new fields
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1304

#1292 RDM-6873: Event Enabling Condition - Data Store Changes
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-580.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/F-127.feature
  src/aat/resources/features/F-127 - Even Enabling Condition/S-127.1.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/S-127.2.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/common/F-127_Get_Case_View_Base.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/common/FT_Create_Case_EventEnablingCondition.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/common/FT_Create_Case_EventEnablingCondition_NotMatch.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/common/FT_EventEnablingCondition_Base_Case_Data.td.json
  src/aat/resources/features/F-127 - Even Enabling Condition/common/S-127-GetToken_CaseCreate.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/EnablingConditionParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionConverter.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseEventEnablingService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateEvaluationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CasePostStateService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseEventEnablingServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/resources/mappings/bookcase-definition-event-enabling-condition.json
  src/test/resources/mappings/display-tab-structure-event-enabling.json
  src/test/resources/sql/insert_cases_event_enabling.sql
  src/test/resources/sql/insert_cases_event_enabling_valid_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1292

#1311 RDM-10681 fix newly reported CVE's in data store
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1311

#1317 RDM-10734 enable elastic search
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1317

#1318 RDM-10734 restore temporary tweaks
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1318

#1319 RDM-10734 restore temporary tweaks
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1319

#1323 Rdm 10697 develop
  src/aat/resources/features/F-109/S-947.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1323

#1325 Fix BEFTA Cucumber reports
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1325

#1164 RDM-9754
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-121/S-121.4.td.json
  src/aat/resources/features/F-121/S-121.6.td.json
  src/aat/resources/features/F-121/S-121.7.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1164

#1327 Adjust test data for rdm 9754
  src/aat/resources/features/F-121/F-121.feature
  src/aat/resources/features/F-121/S-121.2.td.json
  src/aat/resources/features/F-121/S-121.3.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1327

#1301 RDM-10705: Fix FTA 403 failures when running locally
  build.gradle
  src/aat/resources/features/F-103/F-103_Case_Assigned_User_Roles_Base.td.json
  src/aat/resources/features/F-103/F-103_Case_Role_Assign_Base.td.json
  src/aat/resources/features/F-103/F-103_Get_Case_Assigned_User_Roles_Base.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Dil_Case_Role_To_C1.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Dil_Case_Role_To_C2.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Dil_Case_Role_To_C3.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Steve_Case_Role_To_C1.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Steve_Case_Role_To_C2.td.json
  src/aat/resources/features/F-103/F-103_Jamal_Assign_Steve_Case_Role_To_C3.td.json
  src/aat/resources/features/F-103/F103_Case_Data_Create.td.json
  src/aat/resources/features/F-103/F103_Case_Data_Create_C1.td.json
  src/aat/resources/features/F-103/F103_Case_Data_Create_C2.td.json
  src/aat/resources/features/F-103/F103_Case_Data_Create_C3.td.json
  src/aat/resources/features/F-103/F103_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-103/S-597.td.json
  src/aat/resources/features/F-103/S-598.td.json
  src/aat/resources/features/F-103/S-599.td.json
  src/aat/resources/features/F-103/S-600.td.json
  src/aat/resources/features/F-103/S-601.td.json
  src/aat/resources/features/F-103/S-602.td.json
  src/aat/resources/features/F-103/S-603.td.json
  src/aat/resources/features/F-103/S-604.td.json
  src/aat/resources/features/F-103/users/F-103_User_Dil.td.json
  src/aat/resources/features/F-103/users/F-103_User_Jamal.td.json
  src/aat/resources/features/F-103/users/F-103_User_Richard.td.json
  src/aat/resources/features/F-103/users/F-103_User_Steve.td.json
  src/aat/resources/features/F-107/F-107_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-107/F-107_Test_Data_Base.td.json
  src/aat/resources/features/F-107/F-107_Test_Data_Update.td.json
  src/aat/resources/features/F-107/F-107_User.td.json
  src/aat/resources/features/F-107/S-928.td.json
  src/aat/resources/features/F-107/S-930-Prerequisite.td.json
  src/aat/resources/features/F-107/S-930.td.json
  src/aat/resources/features/F-107/S-930_Create_Case_Data.td.json
  src/aat/resources/features/F-107/S-931.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1301

#1328 RDM-10705 - Point to 6.5.3 befta-fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1328

#1322 RDM-10874: Functional test cases for DynamicRadioList and DynamicMultiSelectList
  build.gradle
  src/aat/resources/features/F-128 - Dynamic Lists/F-128.feature
  src/aat/resources/features/F-128 - Dynamic Lists/F-128_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-128 - Dynamic Lists/F-128_Test_Data_Base.td.json
  src/aat/resources/features/F-128 - Dynamic Lists/S-128.1.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1322
