Repository hmcts/ccd-data-store-api, pull requests merged in 2021-03, with the labels that each got.

#1394 RDM-11088 Upgrade to Postgres 11 on PerfTest
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1394

#1385 RDM-11234 Upgrade Hikari CP Dependency in All CCD Apps
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1385

#1397 RDM-11432 CVE-2021-22112 (Data Store) and other CVE's
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1397

#1387 RDM-3079: Search by case id not working with hyphens
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/tests/CaseIdHelperTest.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/util/CaseIdHelper.java
  src/test/resources/elasticsearch/config/index-settings.json
  src/test/resources/elasticsearch/config/mappings-aat_cases.json
  src/test/resources/elasticsearch/config/mappings-mapper_cases.json
  src/test/resources/elasticsearch/config/mappings-restricted_security_cases.json
  src/test/resources/elasticsearch/config/mappings-security_cases.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1387

#1382 Rdm 10937
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaData.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/PaginatedSearchMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/CaseReferenceUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/DefaultSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/PaginatedSearchMetaDataOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/TextCaseReferenceCaseLinkValidator.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/MetaDataTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/common/CaseReferenceUtilsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/MergeDataToSearchResultOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/DefaultSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/PaginatedSearchMetaDataOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1382

#1402 Fix failing tests on develop
  src/aat/resources/features/F-027/S-038_Full.td.json
  src/aat/resources/features/F-027/S-590.td.json
  src/aat/resources/features/F-065/S-165.td.json
  src/aat/resources/features/F-104/S-627.td.json
  src/aat/resources/features/F-104/S-629.td.json
  src/aat/resources/features/F-104/S-630.td.json
  src/aat/resources/features/F-104/S-633.td.json
  src/aat/resources/features/F-104/S-634.td.json
  src/aat/resources/features/F-104/S-635.td.json
  src/aat/resources/features/F-104/S-636.td.json
  src/aat/resources/features/F-104/S-637.td.json
  src/aat/resources/features/F-104/S-639.td.json
  src/aat/resources/features/F-104/S-640.td.json
  src/aat/resources/features/F-109/S-945.td.json
  src/aat/resources/features/F-109/S-946.td.json
  src/aat/resources/features/F-109/S-947.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1402

#1405 RDM-11501 CVE-2021-25122 (Data Store)
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1405

#1404 RDM-11501 CVE-2021-25122 (Data Store)
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1404

#1384 RDM-11029: Alter the approach to checking work basket result field roles
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultDefinition.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultDefinitionTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1384

#1409 Rdm 11544
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1409

#1334 RDM-7788 CCD ITHC: Reflected Parameter Values
  src/aat/resources/features/F-026/F-026.feature
  src/aat/resources/features/F-026/S-079.td.json
  src/aat/resources/features/F-029/F-029.feature
  src/aat/resources/features/F-029/S-054.td.json
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1334

#1419 RDM-11765 Update CVE Suppress Until Date In All Services
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1419

#1364 RDM-10262 Update ChangeOrganisationRequest import validations
  build.gradle
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1364

#1352 Rdm 11035 and RDM-11099
  src/aat/resources/features/F-029/S-049.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceFilterTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerControllerDCPIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1352

#1421 Format test data
  src/aat/resources/features/F-051/S-109.td.json
  src/aat/resources/features/F-102/S-580.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1421

#1408 RDM-11523 unauthorised users could update some collections
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CompoundAccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1408

#1427 RDM-11850: [CASE REFERENCE] metadata field type still returned as 'Number' and not as a String via ES api
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchControllerIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1427
