Repository hmcts/ccd-data-store-api, pull requests merged in 2022-04, with the labels that each got.

#1933 bump up spring fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1933

#1932 Add CCD-2661 Step2 to Release-25.2
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1932

#1920 RDM-13138 GetLinkedCases endpoint and validation
  src/aat/resources/features/F-142 - Get Linked Case V2 External/F-142.feature
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.1.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.2.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.3.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.4.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.5.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.6.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.7.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1920

#1928 CCD Release v25.2
  Jenkinsfile_CNP
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  charts/ccd-data-store-api/values.yaml
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/CaseRoleDefinitionCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1928

#1948 RDM-12843 adjust CaseLink migration service calls
  src/main/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkMigrationService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/MigrationEndpoint.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1948

#1952 Temporary suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1952

#1955 New Dates
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1955

#1958 Dependency check failure suppressions
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1958

#1949 RDM-12843 Refactor CaseDataExtractor
  build.gradle
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/F-1019.feature
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019.19.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019.20.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019.21.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019.22.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019_GetCreateToken_ComplexCollectionComplex_CreateCase.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/S-1019_GetCreateToken_ComplexCollectionComplex_CreateCaseLink.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/Snippets/F-1019-CaseDataWithCollectionOfComplexCaseLinks.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/Snippets/F-1019-CaseDataWithNestedComplexCaseLinks.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/Snippets/F-1019-ClasificationsForCaseDataWithCollectionOfComplexCaseLinks.td.json
  src/aat/resources/features/F-1019 - Submit Case Creation Handle Case Links/Snippets/F-1019-ClasificationsForCaseDataWithNestedComplexCaseLinks.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldMetadata.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkExtractor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataExtractor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseFieldMetadataExtractor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/ComplexCaseTypeMetadataExtractor.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SimpleCaseTypeMetadataExtractor.java
  src/test/java/uk/gov/hmcts/ccd/TestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkExtractorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AbstractBaseCaseFieldMetadataExtractorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseDataExtractorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/ComplexCaseTypeMetadataExtractorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SimpleCaseTypeMetadataExtractorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1949

#1950 added new indexes to case_data
  src/main/resources/db/migration/V20220420_2571__CCD-2571_new_indexes_for_case_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1950

#1945 CCD-2893: Postgres vulnerability issue fix with 42.3.2
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1945

#1937 Spring security 5.6.1 upgrade
  build.gradle
  dependency-check-suppressions.xml
  src/test/java/uk/gov/hmcts/ccd/util/KeyGenerator.java
  src/test/java/uk/gov/hmcts/ccd/wiremock/config/WireMockTestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/wiremock/extensions/AbstractDynamicResponseTransformer.java
  src/test/java/uk/gov/hmcts/ccd/wiremock/extensions/CustomisedResponseTransformer.java
  src/test/java/uk/gov/hmcts/ccd/wiremock/extensions/DynamicOAuthJwkSetResponseTransformer.java
  src/test/resources/mappings/_idam_default_details.json
  src/test/resources/mappings/oauth-jwk-set.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1937
