Repository hmcts/ccd-data-store-api, pull requests merged in 2022-02, with the labels that each got.

#1808 RDM-13087 Remove GlobalSearch endpoint dependency on Jurisdiction Details call
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchResponseTransformer.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchResponseTransformerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1808

#1797 CCD-1992 Update AI-Agent.xml remove costly methods
  lib/AI-Agent.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1797

#1799 RDM-13032 Start Event endpoint to check for Default Value in CaseEventToFields tab
  src/main/java/uk/gov/hmcts/ccd/config/JacksonUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
  src/test/java/uk/gov/hmcts/ccd/config/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1799

#1794 remove jcenter and upgrade dependencies
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/HighLevelDataSetupApp.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1794

#1800 implemented http5xx error handling for rest template and feign client
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/HttpError.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClient.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1800

#1844 CCD-2548: Added secrets and variables to Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1844

#1839 RDM-13103 - Move LS to pure chart config in preview
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1839

#1805 RDM-13086 Resolve GlobalSearch and ReferenceData API integration issues
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Case_Data.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Data_Classifications.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Search_Criteria.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Updated_Search_Criteria.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCaseMasterCaseType.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.1.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.10.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.2.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.6.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.7.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.8.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.9.td.json
  src/aat/resources/features/F-129 - Access Control SC/F-129_Restricted_Case_Found.td.json
  src/aat/resources/features/F-129 - Access Control SC/SC_Restricted_Case_Created.td.json
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/BuildingLocation.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/CourtVenue.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/refdata/ServiceReferenceData.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/data/SecurityUtilsTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1805

#1813 CCD-2492: ccd-data-store-api Validate the scope of transactions in CCD
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/DefaultCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/MidEventCallback.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/upsertdraft/DefaultUpsertDraftOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CallbackEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/DraftsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/EventsEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ui/UserProfileEndpoint.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDataValidatorController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseSearchController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDefinitionController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIDraftsController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartTriggerController.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UIUserProfileController.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1813

#1826 RDM-13021 Apply Date Validation for Global Search
  dependency-check-suppressions.xml
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Case_Data_Updated.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Updated_Search_Criteria.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004.feature
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCaseworker_InvalidDataFields.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCitizen_InvalidDateFields.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCaseworkerUpdateToken_InvalidFieldsCase.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCitizenUpdateToken_InvalidFieldsCase.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.10.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.11.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.12.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.13.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.14.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.7.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.8.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.9.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.1.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.10.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.2.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.6.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.7.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.8.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.9.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1826

#1832 RDM-13010: Enhance Access control during case update/read/deletion fo…
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.1_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.2_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.3_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.4_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCaseBase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.1_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.2_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.3_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.4_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.5.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.5.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/BasicGrantTypeESQueryBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1832

#1845 CCD-2539: Cache system user token
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/integrations/IdamRepositoryCachingIT.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1845

#1828 RDM-13025
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Case_Data_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Data_Classifications_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Search_Criteria_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Updated_Search_Criteria_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004.feature
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCaseworker_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCaseworker_ComplexCollection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCaseworker_InvalidDataFieldsCollection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_CreateCasePreRequisiteCitizen_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCaseworkerUpdateToken_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCaseworkerUpdateToken_ComplexCollection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCaseworkerUpdateToken_InvalidFieldsCaseCollection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/F-1004_GetCitizenUpdateToken_Collection.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.15.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.16.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.17.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.18.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.19.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.20.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.21.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.22.td.json
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/S-1004.23.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchParty.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1828

#1863 Revert "Add CCD -2153(2129/2130) into Release v25.1"
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1863

#1860 CCD-2539: Cache system user token
  charts/ccd-data-store-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/test/java/uk/gov/hmcts/ccd/security/idam/IdamRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1860

#1866 Add Locale Comparison
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/HighLevelDataSetupApp.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1866

#1855 RDM-13111 Check and update RoleName-CaseType validation during Get/Search/Update operations
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1855

#1859 CVE fixes data store
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1859

#1870 CWE-862 Suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1870

#1871 Upgrade to Latest Base Helm Charts
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1871

#1857 null check for SecurityClassification
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/DownstreamIssueException.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1857

#1877 Fix Suppression Date
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1877

#1811 Rdm 13033
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.1_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.2_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.3_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.4_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCaseBase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.1_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.2_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.3_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.4_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.5.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.5.td.json
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeSqlQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfile.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilder.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/BasicGrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1811

#1885 Revert "Rdm 13033"
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.1_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.2_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.3_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.4_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCaseBase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.1_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.2_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.3_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.4_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.5.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.5.td.json
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeSqlQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfile.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilder.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/ClassifiedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/BasicGrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1885
