Repository hmcts/ccd-data-store-api, pull requests merged in 2022-12, with the labels that each got.

#2157 fixed FeignException check
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2157

#2164 CCD-4026 Switch BEFTA DEBUG Logging to INFO
  src/aat/resources/logback.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2164

#2165 CCD-4043 Fasterxml Jackson Upgrade
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2165

#2169 CCD-3855 Intermittent CallbackInvoker test
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2169

#2175 CCD-4075 Whitelist sptribs-dss-backend
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2175

#2170 CCD-4047-Fix-CVE-2022-41946
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2170

#2179 CCD-4017 Upgrade base charts for Jenkins enhancements - bumped java v…
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2179

#2171 CCD-4050: Fix Jenkins pipeline warnings
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2171
