Repository hmcts/ccd-data-store-api, pull requests merged in 2022-10, with the labels that each got.

#2078 HMAN-404 - add `next-hearing-date-admin` to cross jurisdictional roles
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/contractTest/resources/application.properties
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2078

#2088 HMAN-366: S2S configuration on higher environments
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2088

#2117 added suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2117

#2112 Add suppress section
  .github/workflows/dependency-check.yml
  dependency-check-suppressions.xml
  gradle/suppress.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2112

#2095 CCD-3436 tomcat upgrade with elastic search enabled
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2095

#2109 CCD-3709 CCD-3707: Amend logging
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2109

#2124 CCD-3804: Remove unwanted info loggers
  src/main/java/uk/gov/hmcts/ccd/domain/types/NumberValidator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2124

#2125 Increase maximum heap size for the gradle daemon
  gradle.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2125

#1853 CCD-2581 - Add runtime_mappings to ES search blacklist
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/contractTest/resources/application.properties
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchQueryHelperTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1853

#2118 LAU-335: Update to add logId to console output and accept header
  src/main/java/uk/gov/hmcts/ccd/domain/service/lau/AuditCaseRemoteOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/lau/AuditCaseRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2118

#2116 LAU-496 Fix null pointer exception for lau case refs.
  src/main/java/uk/gov/hmcts/ccd/domain/model/lau/SearchLog.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/lau/CaseSearchPostRequestTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/lau/SearchLogTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/lau/AuditCaseRemoteOperationIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2116

#2098 CCD-3780 - Add runRemoteDemo gradle task
  .gitignore
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2098

#2121 CCD-3776 CVE-2022-42003 and CVE-2022-42004 jackson upgraded to 2.14.0…
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2121

#2130 CCD-3348: Remove the stacktrace from the logging message
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParser.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2130

#2131 Cleanup unwanted CVE suppressions
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2131

#2122 CCD-3610 Remove explicit access from supplementary-data endpoint
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/DefaultEndpointAuthorisationServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2122

#1985 CCD-3152 -Enable EventEnablingCondition for INJECTED_DATA
  build.gradle
  src/aat/resources/features/F-069 - Event Enabling Condition/F-069.feature
  src/aat/resources/features/F-069 - Event Enabling Condition/F-069_CaseCreation.td.json
  src/aat/resources/features/F-069 - Event Enabling Condition/F-069_CreateCaseTokenCreation.td.json
  src/aat/resources/features/F-069 - Event Enabling Condition/F-069_Test_Data_Base.td.json
  src/aat/resources/features/F-069 - Event Enabling Condition/S-069.1.td.json
  src/aat/resources/features/F-069 - Event Enabling Condition/S-069.2.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseEventEnablingService.java
  src/test/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/DefaultGetCaseViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseEventEnablingServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerGetCaseCallbackIT.java
  src/test/resources/__files/test-addressbook-get-case-callback_injected_data.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1985

#2049 RDM-13223
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CachedCaseDataAccessControlImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/NoCacheCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleAssignmentsFilteringServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/RoleBasedCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/CreatorGetCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcase/RestrictedGetCaseOperation.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/accessprofile/filter/RoleAssignmentsFilteringServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/CachedCaseDataAccessControlImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcase/RestrictedGetCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/resources/mappings/bookcase-definition.json
  src/test/resources/sql/insert_cases.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2049
