Repository hmcts/ccd-data-store-api, pull requests merged in 2022-07, with the labels that each got.

#2018 CCD-3439 : Update dependency-check-suppressions.xml - CVE-2022-33915
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2018

#2011 CCD-3184: Generate a SHA256 hash of the case data serialised as JSON
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseService.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2011

#2020 CCD-3434 update java, postgresql and redis configurations
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2020

#2024 CCD-3348: Updated to info logging
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParser.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2024

#2014 CCD-965: Remove Temporary Sonar Exclusions ccd-data-store-api
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2014

#2035 CCD-3536: CVE-2022-31569 suppress
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2035

#2046 Ccd 3515 CVE 2022 22976
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2046

#2045 CCD-2555: Fix logging issues
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClient.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClientTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2045

#2048 CCD-3566: Whitelist private law services in test environments (added prl_cos_api to values.yaml and application.properties)
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2048

#2040 CCD-3556 Whitelist Employment Tribunals service in production
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2040

#2050 CCD-3562 (patch) re-add missing TTL after callback
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedeletion/TimeToLiveService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedeletion/TimeToLiveServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2050

#2034 CCD-3504 Upgrade to latest java plugin - java plugin upgraded to 0.12…
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2034

#2037 CCD-3535 Adjust callback checks for TTL unchanged
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedeletion/TTL.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedeletion/TTLTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedeletion/TimeToLiveServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2037

#2060 Bump es chart version
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2060

#2063 Adds nameOverride for service name
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2063
