Repository hmcts/ccd-data-store-api, pull requests merged in 2022-03, with the labels that each got.

#1833 RDM-13095: Integrate pruning of search results into Global Search endpoint
  build.gradle
  src/aat/resources/features/F-1004 - GlobalSearch - Create and update cases/Befta_Global_Search_Expected_Updated_Search_Criteria.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/GlobalSearchIndexCreation.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006.feature
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_CreateAnotherCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_CreateCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_CreateCases.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_CreateRestrictedCase.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_ExpectedCaseSearchResult.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_Restricted_Case_Create_Token_Creation.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006_SearchCaseBase.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.1.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.2.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.3.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.3_ExpectedCaseSearchResult.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.4.td.json
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.5.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpoint.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/global/GlobalSearchServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpointTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1833

#1864 RDM-13121 add GS RefData service FTA checks
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCaseMasterCaseType.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCaseWithCallback.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.1.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.10.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.2.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.6.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.7.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.8.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.9.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_OrgServices_Load_All.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_OrgServices__Base.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1864

#1878 CCD-1992 Update AI-Agent.xml remove further costly methods
  lib/AI-Agent.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1878

#1861 RDM-13120 and RDM-13121 reinstate GS RefData location FTA checks
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCaseMasterCaseType.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateCaseWithCallback.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_CreateSecondCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005_UpdateCasePreRequisiteCaseworker.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.1.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.10.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.2.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.6.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.7.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.8.td.json
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/S-1005.9.td.json
  src/aat/resources/features/common/casefields/CaseManagementLocation_AnyValues.td.json
  src/aat/resources/features/common/casefields/CaseManagementLocation_FromRefData_SiblingContext.td.json
  src/aat/resources/features/common/casefields/CaseManagementLocation_FromRequest.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_BuildingLocations_Load_All.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_BuildingLocations__Base.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_OrgServices_Load_All.td.json
  src/aat/resources/features/common/external/ref-data/Get_RefData_OrgServices__Base.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1861

#1670 RDM-12844
  build.gradle
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/F-068.feature
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/F-068_Create_Draft.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/F-068_Get_Event_Token.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/F-068_Test_Data_Base.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/S-068.1.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/S-068.2.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/S-068.3.td.json
  src/aat/resources/features/F-068 - Drafts Endpoint V2 Internal/S-068.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1670

#1880 Rdm 13033: fixing Functional tests
  build.gradle
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.1_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.2_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.3_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.4_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCaseBase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.3_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.4_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.5.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.5.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1880

#1851 CCD Release v25.1
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-122 - Conditional Event Post States/F-122.feature
  src/aat/resources/features/F-122 - Conditional Event Post States/S-122.3.td.json
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/CaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseRoleRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/HttpUIDefinitionGateway.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParser.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/HttpError.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caseaccess/CaseAccessOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClient.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/JestSearchResult.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/DocumentsOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidator.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseUserController.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/CachedCaseRoleDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/caseaccess/DefaultCaseRoleDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/enablingcondition/jexl/JexlEnablingConditionParserTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/ElasticsearchCaseSearchOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/CaseRoleDefinitionCachingIT.java
  src/test/resources/mappings/bookcase-definition-event-enabling-condition.json
  src/test/resources/sql/insert_cases.sql
  src/test/resources/sql/insert_cases_event_enabling.sql
  src/test/resources/sql/insert_cases_event_enabling_valid_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1851

#1895 Revert "Revert "Rdm 13033""
  build.gradle
  src/aat/resources/features/F-107 - Org Policy/F-107.feature
  src/aat/resources/features/F-130 - AC CRUD external createCase/F-130.feature
  src/aat/resources/features/F-130 - AC CRUD external createCase/S-130.7.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.1_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.2_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.3_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010.4_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/CreateCases/F-13010_CreateCaseBase.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.1_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.2_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.3_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010.4_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_CreateCase_Token_Creation.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/Events/F-13010_Get_Event_Token_Base.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.5.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.1.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.2.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.3.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.4.td.json
  src/aat/resources/features/F-13010 - AC Case Access Categories/S-13010.9.5.td.json
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/CaseDetailsEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeSqlQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfile.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcher.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/AuthorisationMapper.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/AccessProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessCategoriesService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceImpl.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilder.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/resource/CaseResource.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/BasicGrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/builder/GrantTypeQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/AccessProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/matcher/AuthorisationsMatcherTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/DefaultCaseDataAccessControlTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessCategoriesServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityClassificationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/AuthorisedCreateEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/BasicGrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/elasticsearch/builder/GrantTypeESQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1895

#1912 Update values.preview.template.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1912

#1915 cve activities
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1915

#1824 CCD-2457: PACT tests failing against CCD consumer
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1824

#1925 add pact config env vars but disable sec context
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestSecurityUtils.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1925

#1919 implementation of http client status code handling
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1919

#1901 RDM-12806 ccd-test-definitions release for CR&D
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1901

#1930 CCD-2893:CVE-2022-21724 - ccd-data-store-api
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1930
