Repository hmcts/ccd-data-store-api, pull requests merged in 2022-06, with the labels that each got.

#1995 redesign Idam exception flow
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/test/java/uk/gov/hmcts/ccd/security/idam/IdamRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1995

#2003 Revert "CCD-3297: Added junit formatter to smoke and functional test tasks"
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2003

#2005 CCD-3376 Update java chart version
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2005

#2000 changed the error message as the current message is not valid for all…
  src/main/java/uk/gov/hmcts/ccd/domain/service/getcasedocument/CaseDocumentAmApiClient.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2000

#2009 Add S2S for CFT Hearing Service [Already in Prod via Flux]
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2009

#2010 CCD-3379: Add prl_citizen_frontend to Application.properties and Values.yaml
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2010

#2008 CCD-3248 Monthly Review of All Security Flags - Comment out all suppr…
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2008

#1964 CCD-2952: Fix intermittent test failures - ReferenceDataRepositoryIT
  src/main/java/uk/gov/hmcts/ccd/data/ReferenceDataRepository.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/TestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/data/AbstractReferenceDataIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataCacheRefreshIT.java
  src/test/java/uk/gov/hmcts/ccd/data/ReferenceDataRepositoryIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/GlobalSearchEndpointIT.java
  src/test/resources/mappings/refdata/get_building_locations.json
  src/test/resources/mappings/refdata/get_org_services.json
  src/test/resources/tests/refdata/get_building_locations.json
  src/test/resources/tests/refdata/get_org_services.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1964

#2002 fix idam exception handling to sync with ServiceAuthFilter
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/test/java/uk/gov/hmcts/ccd/security/idam/IdamRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2002

#2015 Update dependency-check-suppressions.xml Added temporary suppression for CVE-2022-34305
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2015

#2016 CCD-3343 update the AAT and staging resource configuration to match w…
  charts/ccd-data-store-api/values.aat.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2016
