Repository hmcts/ccd-data-store-api, pull requests merged in 2022-05, with the labels that each got.

#1965 CCD-2864 - Investigate failures of S-1006.4 on AAT - Enabling ES and …
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1965

#1957 CCD-2950: Multiparty fix for child case view field
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1957

#1960 Rdm 13139 (PATCH) Refactor how getLinkedCase API populates its response.
  src/main/java/uk/gov/hmcts/ccd/data/caselinking/CaseLinkRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/caselinking/CaseLink.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/caselinking/CaseLinkDetails.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/caselinking/CaseLinksResource.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/caselinking/Reason.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkRetrievalService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/caselinking/GetLinkedCasesResponseCreator.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/CaseController.java
  src/test/java/uk/gov/hmcts/ccd/data/caselinking/CaseLinkRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkExtractorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkRetrievalServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/CaseLinkTestFixtures.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/GetLinkedCasesResponseCreatorTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/resources/mappings/bookcase-definition-caselinks.json
  src/test/resources/mappings/jurisdiction_probate.json
  src/test/resources/mappings/jurisdictions.json
  src/test/resources/sql/insert_cases_get_case_links.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1960

#1968 Upgrade ccd-test-definitions version to 7.18.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1968

#1963 RDM-13140 FTAs for the getLinkedCases API
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreTestAutomationAdapter.java
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.2.td.json
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.3.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_Create13LinkedCases_10StandardCaseLinks_3NonStandardCaseLinks.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_Create1LinkedCases_1StandardCaseLinks.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_Create4LinkedCases_4StandardCaseLinks.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_Create5LinkedCases_5StandardCaseLinks_2WithNoAccess.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_Create8LinkedCases_5StandardCaseLinks_3NonStandardCaseLinks.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateCase_MasterCaseType__Base.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateLinkedCase_NonStandardCaseLink.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateLinkedCase_StandardCaseLink.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateLinkedCase_StandardCaseLink_BasicLinkDetails.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateLinkedCase_StandardCaseLink_ManyLinkDetails.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_CreateTestCase_BeftaCaseType11.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_GetCreateToken_BeftaCaseType11.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/CreateCases/F-142_GetCreateToken_MasterCaseType.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/F-142.feature
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.1.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.10.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.11.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.12.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.13.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.2.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.3.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.4.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.5.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.6.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.7.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.8.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/S-142.9.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_GetUpdateToken_MasterCaseType_NoAccessCase1.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_GetUpdateToken_MasterCaseType_NoAccessCase2.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_GetUpdateToken_MasterCaseType__Base.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_UpdateCaseToUnavailableState_NoAccessCase1.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_UpdateCaseToUnavailableState_NoAccessCase2.td.json
  src/aat/resources/features/F-142 - Get Linked Case V2 External/UpdateCase/F-142_UpdateCaseToUnavailableState__Base.td.json
  src/aat/resources/features/common/case/Token_Creation_For_Case_Update.td.json
  src/aat/resources/features/common/health/Health__Base.td.json
  src/aat/resources/features/common/linked_case/Get_Linked_Cases__Base.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1963

#1961 RDM-13140 test definition release for getLinkedCases API
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1961

#1821 RDM-13077 Establish the new ComponentLauncher base type
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetails.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseDetailsTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1821

#1903 RDM-13083: validate the new Document sub-fields
  src/aat/resources/features/F-051 - Get Profile/S-109.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-533.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-580.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Category.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/CaseDataValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DateTimeValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DocumentValidator.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/sanitiser/DocumentSanitiser.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/sanitiser/DocumentSanitiserTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1903

#1916 RDM-13135 - test definition store CaseLink updates
  src/aat/resources/features/F-123 - Retain Hidden Value/S-123.2.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1916

#1966 CCD-3098: CVE-2022-22968: ccd-data-store-api
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1966

#1974 Case retention and disposal patch
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.1.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.10.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.11.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.12.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.13.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.14.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.15.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.16.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.17.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.18.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.19.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.2.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.20.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.21.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.22.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.23.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.24.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.25.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.3.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.4.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.5.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.6.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.7.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.8.td.json
  src/aat/resources/features/F-1015 - Start Case Event TTL/S-1015.9.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/F-1016.feature
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.1.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.10.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.11.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.12.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.13.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.14.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.15.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.16.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.17.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.18.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.19.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.2.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.20.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.21.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.3.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.4.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.5.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.6.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.7.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.8.td.json
  src/aat/resources/features/F-1016 - Submit Event to Update TTL/S-1016.9.td.json
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedeletion/TimeToLiveServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1974

#1967 CCD-2864 - Investigate failures of S-1006.4 on AAT - totalSearchHits …
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/F-1006.feature
  src/aat/resources/features/F-1006 - GlobalSearch - AC tests/S-1006.4.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1967

#1971 packate update for CVE-2022-25647
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1971

#1976 suppression of CVE-2016-1000027 and until date extension for current …
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1976

#1978 suppression of CVE-2022-29885
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1978

#1954 enabled Pact stage
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1954

#1946 implementation of http client status code handling for IDAM errors
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/exceptions/RestExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1946

#1975 CCD-3204 - Added null check to satisfy Fortify warning
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/types/DynamicListValidator.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1975

#1982 temp disabled pact tests
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1982

#1987 CCD-3203 Fortify Issue 24257296 - Dockerfile Misconfiguration: Defaul…
  Dockerfile
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1987

#1992 26.1 patch (master)
  Jenkinsfile_CNP
  charts/ccd-data-store-api/values.preview.template.yaml
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/S-946.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-1992
