Repository hmcts/ccd-data-store-api, pull requests merged in 2023-03, with the labels that each got.

#2235 CCD-4396 : Update Chart.yaml (ES) and Terraform version
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.preview.template.yaml
  infrastructure/.terraform-version
Labels: ns:ccd, prd:ccd, add-or-update, rel:ccd-data-store-api-pr-2235

#2231 CCD-4371 Do not use TextValidator when validating a Document BaseType
  src/main/java/uk/gov/hmcts/ccd/domain/types/DocumentValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2231

#2238 CCD-4390 initial commit
  src/main/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGenerator.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casedataaccesscontrol/PseudoRoleToAccessProfileGeneratorTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerEventsIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerCaseRolesIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UIStartEventControllerCaseRolesIT.java
  src/test/resources/mappings/bookcase-no-event-access-to-caserole-definition.json
  src/test/resources/mappings/case-roles-definition.json
  src/test/resources/sql/insert_cases_event_access_case_roles.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2238

#2232 CCD-4196
  src/main/java/uk/gov/hmcts/ccd/domain/types/DocumentValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2232

#2242 Ccd 4197
  src/main/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2242

#2240 update befta-fw version to 8.7.11
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2240

#2205 CCD-1316: Remove redundant dependency uk.gov.hmcts.reform:properties-…
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2205

#2241 CCD-4398 Upgrade dependencies to resolve CVE-2023-24998
  build.gradle
  charts/ccd-data-store-api/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2241

#2248 CCD-4476 : replace reform-api-docs with cnp-api-docs
  .github/workflows/publish-swagger-specs.yml
  .travis.yml
  README.md
  src/aat/resources/features/F-125 - Swagger Pages and API Specs/F-125_Swagger_JSON.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2248
