Repository hmcts/ccd-data-store-api, pull requests merged in 2023-06, with the labels that each got.

#2271 Updating renovate config
  .github/renovate.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2271

#2273 Switch common log message back to debug
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2273

#2277 Further changes to reduce unnecessary logging
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2277
