Repository hmcts/ccd-data-store-api, pull requests merged in 2023-07, with the labels that each got.

#2280 Merge master into develop
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceImpl.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AccessControlServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2280

#2285 CCD-4795 - Disable feature flag by default
  src/aat/resources/features/F-104 - Internal Search API/Base_Case_Fields_Expected.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/Base_Case_Fields__internal_Expected.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
  src/contractTest/resources/application.properties
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2285

#2283 CCD-4787: Increase ttl for user role cache to two hours
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2283

#2281 CCD-4738 : Fix CVE-2023-33264 (Bumped version of Hazelcast)
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2281

#2284 CCD-4795 - Feature toggle case access metadata in internal search
  src/aat/resources/features/F-104 - Internal Search API/Base_Case_Fields_Expected.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/Base_Case_Fields__internal_Expected.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.3.td.json
  src/aat/resources/features/F-120 supplementary_data in ES Search API/S-120.4.td.json
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/search/CaseSearchResultViewGenerator.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/CaseSearchResultViewGeneratorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2284

#2272 CCD-4739 : Fix CVE-2023-20863 (bumped versions for springframework and springsecurity)
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2272
