Repository hmcts/ccd-data-store-api, pull requests merged in 2023-09, with the labels that each got.

#2299 Update F-1005.feature
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2299

#2300 Update Feature 1005
  src/aat/resources/features/F-1005 - GlobalSearch - Search cases/F-1005.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2300

#2304 initialise telemetry
  src/main/java/uk/gov/hmcts/ccd/appinsights/AppInsightsConfiguration.java
Labels: ns:ccd, prd:ccd, keep-helm, rel:ccd-data-store-api-pr-2304

#2054 CCD-2962 : Analyse DB Indexes and Remove Unused Ones
  Jenkinsfile_CNP
  src/main/resources/db/migration/V20220728_2962__CCD-2962_delete_indexes_for_case_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2054
