Repository hmcts/ccd-data-store-api, pull requests merged in 2023-01, with the labels that each got.

#2192 CCD-4157: Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2192

#2193 CCD-4128: NullPointerException on calling getCategoriesAndDocuments
  src/main/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2193

#2199 CCD-4177 Updating test-definition and beta-fw versions
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2199

#2202 CCD-4168 Fix to update Supplementary data
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/IncrementSupplementaryDataQueryBuilder.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepositoryTest.java
  src/test/resources/sql/insert_cases_supplementary_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2202

#2198 LAU-538: Force HTTP/1.1 for HTTP Audit POST Requests
  src/main/java/uk/gov/hmcts/ccd/AuditCaseRemoteConfiguration.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2198

#2195 CCD-4163 Bump rse-gradle-java-plugin version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2195

#2212 CCD-638 - Develop Automated Functional Tests for "Retrieve audit events by case ID" (v2) on Data Store API
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/F-116.feature
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/F-116_Test_Data_Base.td.json
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/S-116.1-Prerequisite.td.json
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/S-116.1-UpdateCase.td.json
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/S-116.1.td.json
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/S-116.2.td.json
  src/aat/resources/features/F-116 - Retrieve audit events by case ID/S-116.3.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2212

#2208 bump java chart to 4.0.9
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2208

#2210 CCD-4199 update unit tests to add more validation
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/supplementarydata/DefaultSupplementaryDataRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2210

#2223 CCD-4283: Bump gradle-java-plugin to 0.12.40
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2223

#2204 CCD-4169 Case File View Error
  src/main/java/uk/gov/hmcts/ccd/domain/service/casefileview/FileViewDocumentService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casefileview/FileViewDocumentServiceTest.java
  src/test/resources/tests/CaseDataExtractorDocumentData.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2204
