Repository hmcts/ccd-data-store-api, pull requests merged in 2023-10, with the labels that each got.

#2288 CCD-4788 initial changes
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2288

#2306 CCD-4794 CCD-4179 CCD-2562
  build.gradle
  src/aat/resources/features/common/health/Health__Base.td.json
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/PaginatedSearchMetadata.java
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperation.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlList.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldComplexDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseEventFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseStateDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CategoryDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/ComplexACL.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Copyable.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/EventPostStateDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/FixedListItemDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/JurisdictionDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/RoleToAccessProfileDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchAliasField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchCriteria.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchParty.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedAccessControlService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CallbackException.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/search/SearchQueryFactoryOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/AccessControlListTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinitionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/search/PaginatedSearchMetaDataOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerGetCaseCallbackIT.java
  src/test/resources/mappings/bookcase-definition.json
  src/test/resources/tests/BEFTA-CASETYPE-3-1-payload.json
  src/test/resources/tests/FT-ComplexCRUD-payload.json
  src/test/resources/tests/FT-MasterCaseType-payload.json
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2306

#2313 fix jurisdiction missing state issue
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseTypesOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseTypeDefinitionsOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetUserProfileOperationTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2313

#2309 CCD-4837 -- Disable Demo branch sync
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2309

#2279 Ccd 4754 master
  src/main/resources/db/migration/V20230626_4754__CCD-4754_new_indexes_for_case_data.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2279

#2278 CCD-4737 : Fix CVE-2023-28709 (bumped version of tomcat)
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2278

#2317 temporary disable cache entries
  src/main/java/uk/gov/hmcts/ccd/data/definition/CachedUIDefinitionGateway.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2317
