Repository hmcts/ccd-data-store-api, pull requests merged in 2023-02, with the labels that each got.

#2196 Ccd 3471 improve logging
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackInvokerWireMockTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2196

#2194 RDM-12035 - Adding new Private SC scenarios
  src/aat/resources/features/F-063 - Get Search Inputs V2 Internal/F-063.feature
  src/aat/resources/features/F-063 - Get Search Inputs V2 Internal/F-063_Base_Private_Test_Data.td.json
  src/aat/resources/features/F-063 - Get Search Inputs V2 Internal/S-213.td.json
  src/aat/resources/features/F-063 - Get Search Inputs V2 Internal/S-219.td.json
  src/aat/resources/features/F-063 - Get Search Inputs V2 Internal/S-220.td.json
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/S-134.1.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2194

#2217 CCD-1613 Pact Provider Context Load Error - new properties added in c…
  build.gradle
  src/contractTest/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2217

#2216 Ccd 4046
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2216

#2215 CCD-4233 CVE-2022-45143 Upgrade Tomcat to 9.0.69, suppression removed
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2215

#2226 CCD-4267
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2226

#2227 CCD-4317 Upgrade base charts
  charts/ccd-data-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2227

#2211 CCD-4207 Update hazelcast to fix CVE-2022-36437
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2211

#2225 CCD-4310 Pact Broker Connection Problem - just run @F-040 functional …
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2225
