Repository hmcts/ccd-data-store-api, pull requests merged in 2023-11, with the labels that each got.

#2320 implement wizardPage defensive copy
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPage.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageField.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/WizardPageTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/resources/mappings/base-types.json
  src/test/resources/tests/FT-ComplexCollectionComplex-event-createSchool-payload.json
  src/test/resources/tests/FT-Conditionals-event-createCase-payload.json
  src/test/resources/tests/FT-MasterCaseType-event-createCase-payload.json
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2320

#2259 CCD-4593 Log case state on event start
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/AuthorisedStartEventOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/startevent/DefaultStartEventOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2259

#2245 CCD-4454 : CVE-2022-1471 Fix
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2245

#2324 Upgrade data store v15 for ccd-data-store-api
  Jenkinsfile_CNP
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, add-or-update, rel:ccd-data-store-api-pr-2324

#2318 CCD-4771 : Fix CVE-2023-35116
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2318

#2316 CCD-4970 : Fix CVE-2020-8908
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2316

#2326 Updating subnet suffix
  infrastructure/aat.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, no-changes, rel:ccd-data-store-api-pr-2326

#2308 Testing Support Endpoint
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/TestingSupportController.java
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, no-changes, enable_keep_helm, rel:ccd-data-store-api-pr-2308

#2330 Update performance test configurations
  infrastructure/perftest.tfvars
Labels: ns:ccd, prd:ccd, no-changes, rel:ccd-data-store-api-pr-2330

#2332 Updating prod and aat to memory optimised
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, add-or-update, rel:ccd-data-store-api-pr-2332

#2321 implement SearchResultDefinition defensive copy
  src/main/java/uk/gov/hmcts/ccd/data/definition/UIDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Copyable.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultDefinition.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultField.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/SortOrder.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/definition/Version.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/CaseTypeDefinitionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/model/definition/SearchResultDefinitionTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/resources/tests/CaseType-empty-events.json
  src/test/resources/tests/Data-workbasket-1.json
  src/test/resources/tests/Data-workbasket-2.json
  src/test/resources/tests/Data-workbasket-3.json
  src/test/resources/tests/Data-workbasket-4.json
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2321

#2335 Add testing-support/cleanup-case-type to security whitelist
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/TestingSupportController.java
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-data-store-api-pr-2335, enable_keep_help

#2289 SDT-133: Support for onBehalfOfUserId to Create events on CCD Data Store
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F-1020.feature
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Case_Data_Create.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Case_Data_Create_C1.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Case_Data_Create_C1_Token_Creation.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Case_Data_Create_Token_Creation.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Get_CaseEvent_With_On_Behalf_Of_User.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Prerequisite_Citizen_Token_For_Update_Case.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Update_Case_With_On_Behalf_Of_User.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/S-1020.td.json
  src/aat/resources/features/F-1021 - On Behalf Of User Id after Case created Get events by case ID/F-1021.feature
  src/aat/resources/features/F-1021 - On Behalf Of User Id after Case created Get events by case ID/F-1021_Standard_Full_Case_Creation_Data.td.json
  src/aat/resources/features/F-1021 - On Behalf Of User Id after Case created Get events by case ID/F-1021_Test_Data_Base.td.json
  src/aat/resources/features/F-1021 - On Behalf Of User Id after Case created Get events by case ID/S-1021.1.td.json
  src/main/java/uk/gov/hmcts/ccd/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/ccd/data/user/CachedUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/DefaultUserRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/user/UserRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/std/CaseDataContent.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransaction.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventService.java
  src/main/java/uk/gov/hmcts/ccd/security/idam/IdamRepository.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/SubmitCaseTransactionTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createevent/CreateCaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/resources/mappings/idam-system-user.json
  src/test/resources/mappings/idam-user-details-by-userid.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2289

#2337 remove duplicate session creation
  src/main/java/uk/gov/hmcts/ccd/v2/external/controller/TestingSupportController.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-data-store-api-pr-2337

#2239 refactor DefaultCaseDefinitionRepository and create generic method to…
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCaseDefinitionRepository.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefinitionStoreClient.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/AbstractBaseIntegrationTest.java
  src/test/java/uk/gov/hmcts/ccd/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefaultCaseDefinitionRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/data/definition/DefinitionStoreClientIT.java
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, keep-helm, rel:ccd-data-store-api-pr-2239, enable_keep_helm
