Repository hmcts/ccd-data-store-api, pull requests merged in 2024-11, with the labels that each got.

#2489 CFTS-6514
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2489

#2478 Ccd 5483 enable caffeine cache stats
  build.gradle
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/ccd/config/CacheConfiguration.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/destroy, prod/destroy, rel:ccd-data-store-api-pr-2478, ccd-data-store-api-pr-2478-es-master

#2472 change ccd-test-def - 7.23.0 only
  build.gradle
  src/aat/resources/features/F-134 - AC CRUD internal jurisdictions/F-134_Test_Data_Base.td.json
  src/test/resources/tests/BEFTA_MASTER-jurisdiction-payload.json
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, ccd-data-store-api-pr-2472-es-master, rel:ccd-data-store-api-pr-2472
