Repository hmcts/ccd-data-store-api, pull requests merged in 2024-07, with the labels that each got.

#2419 Update dependency-check-suppressions.xml
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2419

#2443 fix fortify issues
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Get_CaseEvent_With_On_Behalf_Of_User.td.json
  src/aat/resources/features/F-1020 - Get Case Events On Behalf Of UserId/F1020_Update_Case_With_On_Behalf_Of_User.td.json
  src/aat/resources/features/F-1021 - On Behalf Of User Id after Case created Get events by case ID/F-1021_Standard_Full_Case_Creation_Data.td.json
  src/aat/resources/features/common/users/GroupAccessCaseworkerAutotest.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2443

#2451 Ccd 4262 4769 unit test failure fix
  src/test/java/uk/gov/hmcts/ccd/AbstractBaseIntegrationTest.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/data/caselinking/CaseLinkRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/integrations/CaseRoleDefinitionCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/DefinitionsCachingIT.java
  src/test/java/uk/gov/hmcts/ccd/integrations/IdamRepositoryCachingIT.java
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2451

#2446 change CaseConcurrencyException message and add unit test
  src/main/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepository.java
  src/test/java/uk/gov/hmcts/ccd/data/casedetails/DefaultCaseDetailsRepositoryTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2446

#2434 Befta-fw 9.0.2, ccd-test-definitions 7.22.2, gradle 8.7
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/aat/java/uk/gov/hmcts/ccd/datastore/befta/DataStoreBeftaRunner.java
  src/aat/resources/features/F-1002 - Case Update With Documents/F-1002.feature
  src/aat/resources/features/F-13010 - AC Case Access Categories/F-13010.feature
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2434

#2455 Update tf version bump azuread version
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:ccd, prd:ccd, aat/add-or-update, prod/add-or-update, rel:ccd-data-store-api-pr-2455

#2457 fixing missing citizen data in excel for FT tests
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2457

#2456 Ccd 5636 linked case not displaying hearing request journey
  src/test/java/uk/gov/hmcts/ccd/domain/service/caselinking/GetLinkedCasesResponseCreatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2456

#2430 CCD-5311 Fix CVE-2023-20873
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2430

#2431 CCD-4968: Fix-CVE-2023-34036
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2431
