Repository hmcts/ccd-data-store-api, pull requests merged in 2024-09, with the labels that each got.

#2466 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2466

#2411 CCD-5367 Task Completion - CCD Send Header from callback response to EXUI
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/ccd/ApplicationParams.java
  src/main/java/uk/gov/hmcts/ccd/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/customheaders/CustomHeadersFilter.java
  src/main/java/uk/gov/hmcts/ccd/customheaders/CustomHeadersFilterConfig.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/main/java/uk/gov/hmcts/ccd/util/ClientContextUtil.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ccd/AbstractBaseIntegrationTest.java
  src/test/java/uk/gov/hmcts/ccd/WireMockBaseTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/types/DocumentValidatorTest.java
  src/test/java/uk/gov/hmcts/ccd/util/ClientContextUtilTest.java
  src/test/java/uk/gov/hmcts/ccd/util/PathFromUrlUtil.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseControllerTestIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseDocumentControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseFileViewControllerTestIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/DocumentControllerITest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/StartEventControllerIT.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/CaseDataResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/external/resource/StartEventResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/CaseHistoryViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/CaseUpdateViewEventResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/CaseViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/DraftViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/JurisdictionViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/SearchInputsViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/UserProfileViewResourceTest.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/resource/WorkbasketInputsViewResourceTest.java
Labels: ns:ccd, prd:ccd, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2411

#2399 EM-5865-add-hrs-url
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2399

#2426 CCD-4784: Full fix for difference between deduced and callback data classifications
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationServiceTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2426

#2422 CCD-5265
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2422
