Repository hmcts/ccd-data-store-api, pull requests merged in 2024-04, with the labels that each got.

#2394 Updating memory sku with live servers
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, plan-on-prod, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2394

#2402 Disable PACT
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2402

#2395 refine SearchCriteria field by eliminating null values.
  src/main/java/uk/gov/hmcts/ccd/domain/model/common/CaseFieldPathUtils.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/processor/GlobalSearchProcessorServiceTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/no-changes, rel:ccd-data-store-api-pr-2395

#2392 CCD-5338 Enable Data-Store D/B server logging
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, plan-on-prod, aat/add-or-update, prod/add-or-update, rel:ccd-data-store-api-pr-2392

#2355 CCD-5160: bumped jackson.version to 2.16.0
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2355, aat/no-changes

#2404 Update azuread to 2.48 as part of renovate change
  infrastructure/state.tf
Labels: ns:ccd, prd:ccd, plan-on-prod, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2404

#2405 CCD-5408 - Use same `DateTimeValidator` formatter with CFV
  src/main/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsService.java
  src/main/java/uk/gov/hmcts/ccd/domain/types/DateTimeValidator.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/casefileview/CategoriesAndDocumentsServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2405

#2403 Upgrade chart-java version from 5.0.0 to 5.2.0 and chart version from…
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, prd:ccd, aat/no-changes, rel:ccd-data-store-api-pr-2403
