Repository hmcts/ccd-data-store-api, pull requests merged in 2025-06, with the labels that each got.

#2584 whitelisting pcs_frontend api for possessions
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2584

#2593 CCD-6383 add Reporting through postgresql-cron-jobs pipeline perms
  infrastructure/main.tf
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, aat/no-changes, prod/add-or-update, rel:ccd-data-store-api-pr-2593

#2552 CCD-6207
  README.md
  build.gradle
  src/aat/resources/features/F-065a - Get Case V2 Internal/F-065a.feature
  src/aat/resources/features/F-065a - Get Case V2 Internal/F-065a_Test_Data_Access_Metadata_Base.td.json
  src/aat/resources/features/F-065a - Get Case V2 Internal/S-065a-Prerequisite.td.json
  src/aat/resources/features/F-065a - Get Case V2 Internal/S-065a-Prerequisite_Case_Update.td.json
  src/aat/resources/features/F-065a - Get Case V2 Internal/S-065a.1.td.json
  src/aat/resources/features/F-065a - Get Case V2 Internal/S-065a.2.td.json
  src/aat/resources/features/F-065a - Get Case V2 Internal/S-065a.3.td.json
  src/aat/resources/features/common/case/befta_new/Befta_Default_Full_Case_Creation_Data_NoRead.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/model/casedataaccesscontrol/CaseAccessMetadata.java
  src/main/java/uk/gov/hmcts/ccd/v2/V2.java
  src/main/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseController.java
  src/test/java/uk/gov/hmcts/ccd/v2/internal/controller/UICaseControllerTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2552, ccd-data-store-api-pr-2552-es-master

#2540 CFTS-6682 : Update std-api.yaml
  src/main/java/uk/gov/hmcts/ccd/endpoint/std/CaseDetailsEndpoint.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/no-changes, prod/no-changes, rel:ccd-data-store-api-pr-2540

#2590 CME-672 Replace JitPack with Azure Artifacts
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2590
