Repository hmcts/ccd-data-store-api, pull requests merged in 2025-01, with the labels that each got.

#2511 CCD-6031 : Add TTL logic to case creation
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCreateCaseOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperation.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/createcase/DefaultCreateCaseOperationTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2511

#2501 Ccd 5651 case event history ft 1024 3 changes for No Read permission
  build.gradle
  src/aat/resources/features/F-051 - Get Profile/S-105.td.json
  src/aat/resources/features/F-051 - Get Profile/S-109.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-533.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-580.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/Befta_Case_Data_Extension_NoRead_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024.feature
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024_Test_Data_Base_NoRead_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024.3.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024_Get_Case_Data_NoRead_Internal.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/F-109-Befta_Jurisdiction2_Case_Type1_Creation.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/F-109-Befta_Jurisdiction2_Case_Type1_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/common/acls/CaseworkerBeftaJurisdiction1NoReadAccessControlList.td.json
  src/aat/resources/features/common/acls/CaseworkerCaaNoReadAccessControlList.td.json
  src/aat/resources/features/common/case/befta_new/Befta_Default_Full_Case_Creation_Data_NoRead.td.json
  src/aat/resources/features/common/case/befta_new/Befta_Default_Token_Creation_Data_For_Case_Creation_NoRead.td.json
  src/aat/resources/features/common/casefields/CaseFieldDefinitionWithNoReadACL.td.json
  src/aat/resources/features/common/users/BeftaCaseworker2.td.json
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2501

#2499 replace get(0) with getFirst to handle null from RoleAssignment
  src/main/java/uk/gov/hmcts/ccd/data/casedataaccesscontrol/DefaultRoleAssignmentRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2499

#2517 improve the SecurityClassification update flow to avoid unnecessary c…
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationService.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvoker.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/SecurityValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/TestBuildersUtil.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, aat/no-changes, prod/no-changes

#2515 CCD-6049 : bumped test-definitions to latest
  build.gradle
Labels: ns:ccd, prd:ccd
