Repository hmcts/ccd-data-store-api, pull requests merged in 2025-04, with the labels that each got.

#2551 CME-289: Contract tests for Probate are not verified by CCD provider tests
  build.gradle
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestSecurityUtils.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/ccd/pactprovider/cases/CasesProviderTest.java
  src/contractTest/resources/mock_responses/read_caseworker.json
  src/contractTest/resources/mock_responses/start_event_caseworker.json
  src/contractTest/resources/mock_responses/submit_event_caseworker.json
  src/test/java/uk/gov/hmcts/ccd/v2/external/controller/CaseAssignedUserRolesControllerTest.java
  src/test/resources/mappings/case-type-definition-probate-GrantOfRepresentation.json
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2551

#2554 CCD-6254-data-store
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2554

#2556 ccd-data-store-Fortify-fixccd-6259
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2556

#2559 CME-289: Set consumerVersionSelectors to master
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/caseassigned/CaseAssignedUserRolesProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/ccd/pactprovider/cases/CasesProviderTest.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-data-store-api-pr-2559

#2560 CME-480: Add database monitoring
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, aat/add-or-update, prod/add-or-update, rel:ccd-data-store-api-pr-2560

#2561 CFTS-6913 : Suppress CVE
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2561

#2563 CME-289: Fix pact test failures
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/CasesControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/ccd/v2/external/controller/ContractTestCaseDefinitionRepository.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/mock_responses/submit_event_caseworker.json
  src/contractTest/resources/mock_responses/submit_for_caseworker.json
  src/main/java/uk/gov/hmcts/ccd/data/definition/DefinitionStoreClient.java
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2563

#2565 CCD-6287 - Remove plpgsql extension from PSQL TF
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, aat/add-or-update, prod/add-or-update, rel:ccd-data-store-api-pr-2565
