Repository hmcts/ccd-data-store-api, pull requests merged in 2025-02, with the labels that each got.

#2509 improve callback logging format
  src/main/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackService.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/callbacks/CallbackServiceWireMockTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/stdapi/CallbackInvokerTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2509

#2484 CCD-5919 Enable Data Store multi-party fix by default
  README.md
  charts/ccd-data-store-api/Chart.yaml
  charts/ccd-data-store-api/values.yaml
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-data-store-api-pr-2484, ccd-data-store-api-pr-2484-es-master

#2521 CCD-6081 - Create create ttl index
  src/main/resources/db/migration/V20250127_6081__CCD-6081_new_index_for_resolved_ttl.sql
Labels: ns:ccd, prd:ccd, rel:ccd-data-store-api-pr-2521

#2493 Ccd 5651 case event history
  build.gradle
  src/aat/resources/features/F-051 - Get Profile/S-105.td.json
  src/aat/resources/features/F-051 - Get Profile/S-109.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-533.td.json
  src/aat/resources/features/F-102 - Get Jurisdictions V1 Internal/S-580.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/Befta_Case_Data_Extension_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/Befta_Case_Data_Extension_NoRead_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024.feature
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024_Private_Autotest_Test_Data_Base_External.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024_Test_Data_Base_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/F-1024_Test_Data_Base_NoRead_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/Private_Autotest_Case_Data_Extension_External.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024.1.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024.2.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024.3.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024_Get_Case_Data_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024_Get_Case_Data_NoRead_Internal.td.json
  src/aat/resources/features/F-1024 - Get Case Event V2 Data  internal staff member or an external user/S-1024_Get_Private_Autotest_Case_Data_External.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/F-109-Befta_Jurisdiction2_Case_Type1_Creation.td.json
  src/aat/resources/features/F-109 - caseworker-caa Authorisation/F-109-Befta_Jurisdiction2_Case_Type1_Creation_Auto_Event_Token_Creation.td.json
  src/aat/resources/features/common/acls/CaseworkerBeftaJurisdiction1NoReadAccessControlList.td.json
  src/aat/resources/features/common/acls/CaseworkerCaaNoReadAccessControlList.td.json
  src/aat/resources/features/common/acls/NoReadAccessControlList.td.json
  src/aat/resources/features/common/case/befta_new/Befta_Default_Full_Case_Creation_Data_NoRead.td.json
  src/aat/resources/features/common/case/befta_new/Befta_Default_Token_Creation_Data_For_Case_Creation_NoRead.td.json
  src/aat/resources/features/common/case/private_new/Private_Autotest_Case_Creation_Base_Data.td.json
  src/aat/resources/features/common/case/private_new/Private_Autotest_Default_Full_Case_Creation_Data_External.td.json
  src/aat/resources/features/common/case/private_new/Private_Autotest_Default_Full_Case_Data_External.td.json
  src/aat/resources/features/common/case/private_new/Private_Autotest_Default_Token_Creation_Data_For_Case_Creation_External.td.json
  src/aat/resources/features/common/casefields/CaseFieldDefinitionWithNoReadACL.td.json
  src/aat/resources/features/common/users/BeftaCaseworker2.td.json
  src/aat/resources/features/common/users/ExternalCaseworkerSolicitor.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessService.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/exceptions/CaseHistoryRoleAccessException.java
  src/test/java/uk/gov/hmcts/ccd/ElasticsearchIT.java
  src/test/java/uk/gov/hmcts/ccd/MockUtils.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/aggregated/AuthorisedGetCaseHistoryViewOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/AttributeBasedAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/common/CaseAccessServiceUserRoleTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/ExternalUserRoleIT.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/ui/QueryEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/test/RoleAssignmentsHelper.java
  src/test/resources/mappings/bookcase-definition-TestAddressBookCaseExternal.json
  src/test/resources/mappings/display-tab-structure-external.json
  src/test/resources/sql/insert_case_event_history_external.sql
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, ccd-data-store-api-pr-2493-es-master, rel:ccd-data-store-api-pr-2493, ccd-data-store-api-pr-2493
